<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
      <title></title>
      <style>
        body { font: 14px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif; color: #666; font-weight: 300; }
        .button { display: block; height: 40px; width: 235px; background: url(images/email-button.png) no-repeat 0 0; }
        .blue { color: #00aeef !important; } 
        .green { color: #83c156 !important; } 
        .bold { font-weight: 800 !important; }
      </style>
  </head>
  <body>
    <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="bodyTable">
      <tr>
        <td align="center" valign="top">
          <table border="0" cellpadding="20" cellspacing="0" width="600" id="emailContainer">
            <tr>
              <td align="center" valign="top">
                <a href="/"><img src="http://www.mycleancity.org/static/images/logo-295x221.png" alt="My Clean City" /></a>
              </td>
            </tr>
            <tr>
              <td>
                <p>Salut {{ first_name }},</p>

                <p>Bienvenue dans Ma Ville Propre!</p>

                <p>Nous sommes heureux de vous accueillir dans notre équipe. En tant qu’Ambassadeur Net, nous avons une panoplie de défis excitants pour encourager vos amis à faire des <span style="color: #00aeef">Actions</span><span style="color: #83c156">Propre</span> et faire la différence dans votre communauté à votre manière.</p>

                <p>Vous recevrez bientôt une trousse de départ avec les informations qui vous aidera à passer à l’action, mais pendant ce temps vous pouvez commencer à inviter vos amis à se joindre avec votre PropreÉquipe pour assembler des façons de faire des <span style="color: #00aeef">Actions</span><span style="color: #83c156">Propre</span>.</p>

                <p>N’oubliez pas que vous pouvez récolter des <span style="color: #00aeef">Actions</span><span style="color: #83c156">Propre</span> en référent un Champion Net. Pour chaque référence, vous receverez <span style="color: #00aeef">5</span> <span style="color: #00aeef">Actions</span><span style="color: #83c156">Propre</span> en cadeau.
                    
                <p>
                  Soyez au premier rang et connaissez les nouveaux défis avant tout le monde en nous suivant sur Facebook (<a href="http://facebook.com/MyCleanCity1" target="_blank">@MyCleanCity1</a>), Twitter (<a href="http://twitter.com/@MyCleanCity1" target="_blank">@MyCleanCity1</a>) et Instagram (<a href="http://instagram.com/MyCleanCity" target="_blank">@MyCleanCity</a>). 
                </p>

                <p>Bonne aventure,</p>

                <p>Ma Ville Propre</p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>