<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
      <title></title>
      <style>
        body { font: 14px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif; color: #666; font-weight: 300; }
        .button { display: block; height: 40px; width: 235px; background: url(images/email-button.png) no-repeat 0 0; }
        .blue { color: #00aeef !important; } 
        .green { color: #83c156 !important; } 
        .bold { font-weight: 800 !important; }
      </style>
  </head>
  <body>
    <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="bodyTable">
      <tr>
        <td align="center" valign="top">
          <table border="0" cellpadding="20" cellspacing="0" width="600" id="emailContainer">
            <tr>
              <td align="center" valign="top">
                <a href="/"><img src="http://www.mycleancity.org/static/images/logo-my-effect-yellow-166x200.png" alt="My Effect" /></a>
              </td>
            </tr>
            <tr>
              <td>
              	<p>Salut {{ first_name }},</p>

                <p>Bienvenue dans Ma Ville Propre!</p>

                <p>Le décompte est officiellement commencé!</p>

                <p>À partir du 1er avril, tu peux passer à l’ActionPropre en t’inscrivant sur notre Centre des défis et relever les avec vos amis pour le <span style="color: #83c156;">meilleur champion national</span>.</p>

        				<p>C’est encore mieux pour toi, parce que tu as déjà de l’avance sur eux! Votre préinscription te donne <span style="color: #00aeef">50</span> <span style="color: #00aeef">Crédits</span><span style="color: #83c156">Propre</span> en CADEAU et ça ne finit pas là! Même si vous ne pouvez pas faire vos ActionsPropre avant le 1er avril, en étant un Champion Net, tu as la chance de gagner des <span style="color: #00aeef">Crédits</span><span style="color: #83c156">Propre</span> en cadeau si tu organises ta PropreÉquipe avec tes amis ou ton école.</p>

        				<p>N’oublies pas de nous suivre sur Twitter (<a href="http://twitter.com/@MyCleanCity1" target="_blank">@MyCleanCity1</a>), nous aimer sur FaceBook (<a href="http://facebook.com/MyCleanCity1" target="_blank">@MyCleanCity1</a>) et sur Instargram (<a href="http://instagram.com/MyCleanCity" target="_blank">@MyCleanCity</a>) pour de l’information importante, des concours et des prix en CréditsPropre. 
                </p>

        				<p>Restes connecté!</p>

                <p>Ma Ville Propre</p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>