{% extends '_public_base.html' %}

{% block title %} My Clean City - Challenge Survey {% endblock %}

{% block css %}
  <link href="{{ STATIC_URL }}css/mycleancity.css" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="wrapper public">
	<div class="clouds"></div>

	{% include "_loggedin_navbar.html" %}

	<a href="/" class="logo"></a>

	<div class="content">
		<div class="container">
		  	<a href="#" onclick="history.go(-1); return false;"><div class="sign challenge-survey" id="sign-go-back"></div></a>
		    <div id="white-box" class="challenge-survey">
		        <h2>Challenge Survey Questions</h2>
				
				<form autocomplete="off" action="" method="post">{% csrf_token %}
		            {{ form }}
		            <input class="btn btn-primary" type="submit" value="Next" />
		    	</form>
		    </div><!-- /#white-box -->
		</div><!-- /.container -->
	</div><!-- /.about -->
</div> <!-- /.wrapper -->
{% include "_footer_navbar.html" %}

{% endblock %}

{% block javascript %}{% endblock %}