{% extends '_public_base.html' %}

{% block title %} My Clean City - {{ challenge.title }} Participants {% endblock %}

{% block css %}
  <link href="{{ STATIC_URL }}css/mycleancity.css" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="wrapper public">
  <div class="clouds"></div>

  {% include "_loggedin_navbar.html" %}  

  <a href="/" class="logo"></a>
  
  <div class="content">
    <div class="container">
    	<a href="#" onclick="history.go(-1); return false;"><div class="sign challenge-participants" id="sign-go-back"></div></a>
        <div id="white-box" class="challenge-participants">
        	<h1>{{ challenge.title }}</h1>
				{% csrf_token %}
				<h1>{% with participants|first as challenge %}{{ challenge.challenge.title }}{% endwith %}</h1>
				<table>
					<tr>
						<td class="name"><h2>Participant</h2></td>
						<td class="participated"></td>
					</tr>
					{% for participant in participants %}
						<tr>
							<td class="name">
								<a href="/users/profile/{{ participant.user.id }}">{{ participant.user.first_name }} {{ participant.user.last_name }}</a>
							</td>
							<td class="participated">
								<form class="participation-forms" action="/challenges/check-in-check-out/" method="post">
									{% csrf_token %}
									<input type="hidden" name="uid" value="{{ participant.user.id }}" />
									<input type="hidden" name="cid" value="{{ cid }}">
									
									{% if participant.time_in %}
										{% if participant.time_out %}
											{{ participant.total_hours }} Hours
										{% else %}
											<input type="submit" id="confirm-btn" class="btn btn-primary dark" value="Check Out" />
										{% endif %}
									{% else %}
										<input type="submit" id="confirm-btn" class="btn btn-primary" value="Check In" />
									{% endif %}
								</form>
							</td>
						</tr>
					{% endfor %}
				</table>
        </div><!-- /#white-box -->
    </div><!-- /.container -->
  </div><!-- /.about -->
</div> <!-- /.wrapper -->
{% include "_footer_navbar.html" %}

{% endblock %}

{% block javascript %}{% endblock %}