{% extends '_public_base.html' %}

{% block title %} My Effect - Action Centre {% endblock %}

{% block css %}
  <link href="{{ STATIC_URL }}css/mycleancity.css" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="wrapper public">
  <div class="clouds"></div>
  
  {% if user.is_authenticated %}
    {% include "_loggedin_navbar.html" %}
  {% else %}
    {% include "_public_navbar.html" %}
  {% endif %}

  <a href="/" class="logo"></a>
  
  <div class="content challenge-centre">
  	<div class="container">
        <div id="white-box" class="message">
          <p>Do you know of volunteer opportunities or events that aren't listed in our Action Centre?</p>
          <p>Change Agents: Connect My Effect to the local organization host or refer an Action to earn a 10 bonus Change Creds!<!-- TODO: INSERT LINK TO REFERRAL FORM --></p>
          <p>Change Leaders: {% if user.is_authenticated %}<a href="new_challenge.html">Upload your opportunity</a>{% else %} Upload your opportunity {% endif %}as an Action for your Change Team to start earning ongoing Change Creds<!-- TODO: Insert link to post an action tab--></p>
        </div>

      	<div id="sign-challenge-centre"></div>
        <div id="white-box">
          {% if challenges %}
      			{% for challenge in challenges %}
      				<div class="challenges">
                {% if challenge.national_challenge %}
                  <img class="badge-icon" src="/static/images/badge-nc-88x64.png" alt="National Challenge">
                {% endif %}
                <a class="team-picture" href="/challenges/{{ challenge.id }}/">
                  {% if challenge.clean_team.logo %}
                    <img class="profile-pic" style="width: 124px; height: 124px;" src="{{ MEDIA_URL }}{{ challenge.clean_team.logo }}" alt="" />
                  {% else %}
                    <img class="profile-pic" src="{{ STATIC_URL }}images/default-team-pic-124x124.png" alt="" />
                  {% endif %}
                </a>

      					<a class="challenge-title" href="/challenges/{{ challenge.id }}/"><h1>{{ challenge.title }}</h1></a>
      					

                {% if challenge.clean_team_only %}
                  <span class="clean-team-only bold"><h2>Change Teams Only</h2></span>
                {% endif %}

                <span class="hosted-by">
                  <h2>Created by:</h2><span>&nbsp;<a href="/clean-team/{{ challenge.clean_team.id }}">{{ challenge.clean_team.name }}</a></span>
                </span>

                <span class="clean-creds">
                  <h2>{{ challenge.clean_creds_per_hour }}&nbsp;<span class="green bold">Change</span> <span class="blue bold">Creds</span>{% if challenge.type.challenge_type == "hourly" %}/hr{% endif %}</h2>
                </span>

                <span class="date">
                  <h2>Starts:</h2><span>&nbsp;{{ challenge.event_start_date }} at {{ challenge.event_start_time }}</span>
                </span>
                <span class="date">
                  <h2>Ends:</h2><span>&nbsp;{{ challenge.event_end_date }} at {{ challenge.event_end_time }}</span>
                </span>
                
                {% if challenge.city %}
      					<span class="location">
      						<h2>Location:</h2><span>&nbsp;{{ challenge.city }}, {{ challenge.province }}</span>
      					</span>
                {% endif %}
      					
                <div class="clear"></div>

      					<p>{{ challenge.description|slice:":180" }}...</p>
      				</div>
      			{% endfor %}
          {% else %}
            <h1 class="bold">Sorry, no <span class="green">#Clean</span><span class="blue">Acts</span> found.</h1>
          {% endif %}
			
        </div><!-- /#white-box -->
        
    </div><!-- /.container -->
  </div><!-- /.about -->
</div> <!-- /.wrapper -->
{% include "_footer_navbar.html" %}

{% endblock %}

{% block javascript %}{% endblock %}