{% extends '_public_base.html' %}

{% block title %} My Clean City - {{ challenge.title }} {% endblock %}

{% block css %}
  <link href="{{ STATIC_URL }}css/mycleancity.css" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="wrapper public">
  <div class="clouds"></div>

  {% if user.is_authenticated %}
    {% include "_loggedin_navbar.html" %}
  {% else %}
    {% include "_public_navbar.html" %}
  {% endif %}

  <a href="/" class="logo"></a>
  
  <div class="content challenge-overview">
    <div class="container">
    	<div id="sign-challenge-overview"></div>
        <div id="white-box">
        	<h1>{{ challenge.title }}</h1><span><a href="/users/organization/{{ challenge.user.id }}">{{ challenge.user.profile.organization }}</a></span>
        	<div class="clear"></div>
	
			<table>
				<tr>
					<td class="titles">Where:</td>
					<td>{{ challenge.address1 }} {{ challenge.address2 }} {{ challenge.city }}, {{ challenge.province }} {{ challenge.postal_code }} {{ challenge.country }}</td>
				</tr>
				<tr>
					<td class="titles">When:</td>
					<td>{{ challenge.event_date }} {{ challenge.event_time }}</td>
				</tr>
				<tr>
					<td colspan="2">{{ challenge.description }}</td>
				</tr>
				<tr>
					<td class="titles">CleanCreds: {{ challenge.cleancred_value }}</td>
				</tr>
			</table>
			
			<div class="fb-like" data-href="http://developers.facebook.com/docs/reference/plugins/like" data-width="450" data-layout="button_count" data-show-faces="true" data-send="false"></div>
			
			<a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>

			{% if user.is_authenticated %}
			<form action="/challenges/participate/" method="post">
				{% csrf_token %}
				<input type="hidden" name="cid" value="{{ challenge.id }}">
				<input id="participate-btn" class="btn btn-primary" type="submit" value="Participate" />
			</form>
			{% else %}
				<a id="participate-btn" class="btn btn-primary btn-block" href="/users/register">Register Now to Participate</a>
			{% endif %}

        </div><!-- /#white-box -->
    </div><!-- /.container -->
  </div><!-- /.about -->
</div> <!-- /.wrapper -->
{% include "_footer_navbar.html" %}

{% endblock %}

{% block javascript %}{% endblock %}