{% extends '_public_base.html' %}
{% load i18n %}

{% block title %} My Effect - {{ challenge.title }} {% endblock %}

{% block css %}
  <link href="{{ STATIC_URL }}css/mycleancity.css" rel="stylesheet">
  <link href="{{ STATIC_URL }}css/tags.css" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="wrapper public">
  <div class="clouds"></div>

  {% if user.is_authenticated %}
    {% include "_navbar.html" %}
  {% else %}
    {% include "_navbar.html" %}
  {% endif %}

  <a href="/" class="logo"></a>
  
  <div class="content challenge-overview">
    <div class="container">
    	<div id="sign-challenge-overview"></div>
        <div id="white-box">
          {% if challenge.national_challenge %}
            <img class="badge-icon" src="{{ STATIC_URL }}images/badge-nc-88x64.png" alt="National Challenge" />
          {% endif %}
        	<h1 class="bold">{{ challenge.title }}</h1>
          <div class="clear"></div>
            
          {% if error %}
            <div class="message-box error">
             <p>{{ error }}</p>
            </div>
          {% endif %}

          <div class="clear"></div>
          {% if challenge.clean_team_only %}
            <span class="clean-team-only bold"><h2>{%trans "Change Teams Only" %}</h2></span>
          {% endif %}
        	<div class="clear"></div>

        	{% if user.profile.is_clean_ambassador and user.profile.clean_team_member.clean_team.id == challenge.clean_team.id %}
          <div>
            <span id="edit-challenge-link">
            <a href="/challenges/edit/{{ challenge.id }}/">{%trans "Edit Action" %}</a>
          </span>
          </div>
          {% if user.profile.is_manager %}
        	<div>
            <span id="send-email-link">
            <a href="/challenges/participants-email/{{ challenge.id }}/">{%trans "Send emails to participants" %}</a>
            </span>
          </div>
          {% endif %}
        	{% endif %}
        	<div class="clear"></div>
        	
  			<table>
          {% if challenge.host_organization %}
            <tr>
              <td><span class="titles">{%trans "Hosted by:" %} {{ challenge.host_organization }}</span></td>
            </tr>
          {% endif %}
          <tr>
            <td colspan="2"><span class="titles">{%trans "Category:" %}</span> <span class="bold"><a href="/challenges/?q=&amp;cat={{ challenge.category }}">{{ challenge.get_category }}</a></span></td>
          </tr>
          <tr>
            <td colspan="2"><span class="titles">{%trans "Created by:" %}</span> <span class="bold"><a href="/clean-team/{{ challenge.clean_team.id }}">{{ challenge.clean_team.name }}</a></span></td>
          </tr>
          {% if challenge.contact_first_name %}
          <tr>
            <td colspan="2"><span class="titles">{%trans "Main Contact:" %}</span> <span class="bold">
              <a class="popup-600" href="#challenge-description">{{ challenge.contact_first_name }} {{ challenge.contact_last_name }}</a></span></td>
          </tr>
          {% endif %}
          {% if challenge.day_of_week != -1 %}
          <tr>
            <td colspan="2"><span class="titles">{%trans "Time:" %}</span>&nbsp;{%trans "Every" %} {{ challenge.get_day_of_week }} {%trans "from" %} {{ challenge.event_start_time }} {%trans "to" %} {{ challenge.event_end_time }}</td>
          </tr>
          <tr>
            <td colspan="2"><span class="titles">{%trans "Start Date:" %}</span>&nbsp;{{ challenge.event_start_date }}</td>
          </tr>
          <tr>
            <td colspan="2"><span class="titles">{%trans "End Date:" %}</span>&nbsp;{{ challenge.event_end_date }}</td>
          </tr>
          {% else %}
  				<tr>
  					<td colspan="2"><span class="titles">{%trans "Date and time:" %}</span> {{ challenge.event_start_date }} {{ challenge.event_start_time }} {%trans "until" %} {{ challenge.event_end_date }} {{ challenge.event_end_time }}</td>
          </tr>
          {% endif %}
          {% if challenge.address1 and challenge.province %}
  				<tr>
  					<td colspan="2"><span class="titles">{%trans "Location:" %}</span> {{ challenge.address1 }} {{ challenge.address2 }} {{ challenge.city }}, {{ challenge.province }} {{ challenge.postal_code }} {{ challenge.country }}</td>
  				</tr>
          {% elif challenge.country %}
          <tr>
            <td colspan="2"><span class="titles">{%trans "Country:" %}</span>{{ challenge.country }}</td>
          </tr>
          {% endif %}
          {% if challenge.link %}
          <tr>
            <td colspan="2"><a href="{{ challenge.link }}" target="_blank">{%trans "External Link" %}</a></td>
          </tr>
          {% endif %}
          {% if skilltags %}
          <tr>
            <td colspan="2">
              <div class ="skilltags-list">
                <span class="titles">{%trans "Skills:" %}</span>
                  <ul>
                    {% for tag in skilltags %}
                    <!--<span><a href="">{{ tag.skill_tag.skill_name }}</a>,&nbsp;</span>-->
                    <li><a href="/challenges/?q={{ tag.skill_tag.skill_name }}">{{ tag.skill_tag.skill_name }}</a></li>
                    {% endfor %}
                  <ul>
              </div>
            </td>
          </tr>
          {% endif %}

  				<tr>
  					<td><h2 class="clean-creds-per-hour">{{ challenge.clean_creds_per_hour }}&nbsp;<span class="blue bold">{%trans "Change" %}</span> <span class="gold bold">{%trans "Creds" %}</span><span>{% if challenge.type.challenge_type == "hourly" %}/hr{% endif %}</span></h2></td>
            <td><div class="fb-like" data-href="http://www.mycleancity.org{{ page_url }}" data-width="450" data-layout="button_count" data-show-faces="true" data-send="false"></div>
        
        <a href="http://www.mycleancity.org{{ page_url }}" class="twitter-share-button">Tweet</a></td>
  				</tr>
          <tr>
            <td colspan="2">
              <p>{{ challenge.description|slice:":130" }}...</p>
              <a id="learn-more" class="popup-600" href="#challenge-description">{%trans "Learn more" %}</a>
            </td>
          </tr>
  			</table>
  		    
        <div class="clear"></div>
        {% include "challenges/snippets/actionform.html" %}
  			{% if user.is_authenticated %}
          {% if user.profile.is_clean_ambassador and user.profile.clean_team_member.clean_team == challenge.clean_team %}
            <form action="/challenges/participants-manage/{{ challenge.id }}/">
              <input class="btn btn-primary" type="submit" value="Manage Participants" />
            </form>
          {% else  %}
	            <p>You must be a manager to manager participants.</p>
          {% endif %}
          {% if challenge.clean_team_only %}
    				{% if user.profile.is_clean_ambassador %}
              {% if user_challenge %}
                {% if participating_store %}
                  <h2>{%trans "Participating with" %}</h2>
                  <div class="clear"></div>
                  <p>{%trans "Store" %} {{ participating_store.staples_store.store_no }} - {{ participating_store.staples_store.store_name }}
                    <br>
                  {{ participating_store.staples_store.address }} {{ participating_store.staples_store.city }}
                  </p>
                {% endif %}
                {% if can_withdraw %}
                  <form action="/challenges/withdraw/" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="cid" value="{{ challenge.id }}">
                    <input id="participate-btn" class="btn btn-primary" type="submit" value="Withdraw" />
                  </form>
                {% else %}
                  <input id="participate-btn" disabled class="btn btn-primary" type="submit" value="Participating" />
                {% endif %}                
              {% else %}
                <form action="/challenges/participate/" method="post">
                  {% csrf_token %}
                  <input type="hidden" name="cid" value="{{ challenge.id }}">

                  {% if challenge.url == "staples-cleanact" %}
                    <label id="staples-stores-label" for="staples_store">{%trans "Select an available Staples store below:" %}</label>
                    <div class="clear"></div>
                    <select name="staples_store" id="staples-stores-selection">
                    {% for store in staples_stores %}
                      <option value="{{ store.id }}">{%trans "Store No:" %} {{ store.store_no }}&nbsp;{%trans "at" %}&nbsp;{{ store.store_name }}</option>
                    {% endfor %}
                    </select>
                  {% endif %}

                  <input id="participate-btn" class="btn btn-primary" type="submit" value="Participate with your Change Team" />
                </form>
              {% endif %}
            {% else %}
              <a id="participate-btn" class="btn btn-primary btn-block" href="/clean-team/create-or-request/">{%trans "Create Change Team" %}</a>
            {% endif %}
          {% else %}
            {% if user_challenge %}
              {% if user_challenge.status == "approved" %}
                <input id="participate-btn" disabled class="btn btn-primary" type="submit" value="Participating" />
              {% else %}
                <input id="participate-btn" disabled class="btn btn-primary" type="submit" value="awaiting for approval" />
              {% endif %}
              {% if can_withdraw %}
                <form action="/challenges/withdraw/" method="post">
                  {% csrf_token %}
                  <input type="hidden" name="cid" value="{{ challenge.id }}">
                  <input id="withdraw-btn" class="btn btn-primary" type="submit" value="Withdraw" />
                </form>
              {% endif %}
            {% else %}
              <form action="/challenges/participate/" method="post" onsubmit="return participatePeriodValidate();">
                {% csrf_token %}
                <input type="hidden" name="cid" value="{{ challenge.id }}">
                {% if challenge.limit > 0 %}
                <input id="participate-btn" class="btn btn-primary" type="button" onclick="showParticipatingMessageBox();" value="Apply" />
                {% else %}
                <input id="participate-btn" class="btn btn-primary" type="button" onclick="showParticipatingMessageBox();" value="Participate" />
                {% endif %}
                <div id="participating-message-box" style="display: none;">
                  <table>
                    <tr><td>
                      <p>{%trans "Please describe the reason you want to participate in this action:" %}</p>
                    </td></tr>
                    <tr><td>
                      <textarea cols="30" id="id_message" name="message" rows="5"></textarea>
                    </td></tr>
                    {% if challenge.day_of_week > -1 %}
                      <tr><td>
                        <input type="radio" onclick="$('#date-period-tr').fadeOut();" name="subscribe" value="full" checked>
                        <label>I would like to participate on weekly basis</label>
                      </td></tr>
                      <tr><td>
                        <input type="radio" onclick="$('#date-period-tr').fadeIn();" name="subscribe" value="period">
                        <label>I would like to participate for a specific time period</label>
                      </td></tr>
                      <tr id="date-period-tr" style="display: none;"><td style="padding: 0;">
                        <label>From:</label>
                        <input autocomplete="off" class="datepicker" id="id_start_date" name="start_date" type="text" style="width: 190px;">
                        <label>To:</label>
                        <input autocomplete="off" class="datepicker" id="id_end_date" name="end_date" type="text" style="width: 190px;">
                      </td></tr>
                      <tr><td><span id="date-period-error" style="color:red;"></span><br></td></tr>
                    {% endif %}
                    <tr><td>
                      <div class="flex">
                      <input id="id_receive_email" name="receive_email" type="checkbox">
                      <label for="id_receive_email">I would like to receive email communications and reminders about this action.</label>
                      </div>
                    </td></tr>
                    <tr><td>
                      <input id="id_send_btn" class="btn btn-primary" type="submit" value="Send" />
                    </td></tr>
                  </table>
                </div>
              </form>
            {% endif %}
          {% endif %}
  			{% else %}
  				<a id="participate-btn" class="btn btn-primary btn-block" href="/users/register">{%trans "Register Now to Participate" %}</a>
  			{% endif %}

      </div><!-- /#white-box -->

      <div id="participants-box">
      	<h1>{%trans "Participants" %}</h1>

      	<p>{%trans "Total:" %} {{ count }}
        {% if challenge.limit > 0 %}
        {%trans "Max:" %} {{challenge.limit}}
        {% endif %}
        </p>
        <ul class="participants-list">
        {% if not challenge.clean_team_only %}
          
    			 {% for participant in participants %}
            <li>
              <a href="/users/profile/{{ participant.user.id }}">
                {% if participant.user.profile.picture %}
                  <img class="profile-pic" src="{{ MEDIA_URL }}{{ participant.user.profile.picture }}" alt="" />
                {% else %}
                  <img class="profile-pic" src="{{ STATIC_URL }}images/default-profile-pic-42x42.png" alt="" />
                {% endif %}
                <span>{{ participant.user.get_full_name }}</span>
              </a>
            </li>
           {% endfor %}
        {% else %}
           {% for participant in participants %}
            <li>
              <a href="/clean-team/{{ participant.clean_team.id }}">
                {% if participant.clean_team.logo %}
                  <img class="profile-pic" src="{{ MEDIA_URL }}{{ participant.clean_team.logo }}" alt="" />
                {% else %}
                  <img class="profile-pic" src="{{ STATIC_URL }}images/default-team-pic-42x42.png" alt="" />
                {% endif %}
                <span>{{ participant.clean_team.name }}</span>
              </a>
            </li>
           {% endfor %}
        {% endif %}
        </ul>
      </div>
    </div><!-- /.container -->

    <div class="popup-container">
      <div id="challenge-description" class="popup">
        <p>{{ challenge.description }}</p>
        <div id="main-contact-container">
          <h2>{%trans "Main Contact" %}</h2>
          <table class="table">
            <tr>
              <td><span class="titles">{%trans "Name:" %}</span> <span class="bold">
                {{ challenge.contact_first_name }} {{ challenge.contact_last_name }}
              </td>
            </tr>
            <tr>
              <td><span class="titles">{%trans "Email address:" %}</span> <span class="bold">
                <a href="mailto:{{ challenge.clean_team.contact_user.email }}">{{ challenge.contact_email }}</a>
              </td>
            </tr>
            <tr>
              <td><span class="titles">{%trans "Phone number:" %}</span> <span class="bold">
                {{ challenge.contact_phone }}
              </td>
            </tr>
          </table>
        </div><!-- end of .main-contact -->
      </div><!-- end of #challenge-description -->
    </div><!-- end of .popup-container -->  

  </div><!-- /.challenge-overview -->
</div> <!-- /.wrapper -->


{% include "_footer_navbar.html" %}

{% endblock %}

{% block javascript %}{% endblock %}
