{% extends '_public_base.html' %}

{% block title %} My Clean City - Challenge Centre {% endblock %}

{% block css %}
  <link href="{{ STATIC_URL }}css/mycleancity.css" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="wrapper public">
  <div class="clouds"></div>
  
  {% if user.is_authenticated %}
    {% include "_loggedin_navbar.html" %}
  {% else %}
    {% include "_public_navbar.html" %}
  {% endif %}

  <a href="/" class="logo"></a>
  
  <div class="content challenge-centre">
    <div class="container">
      	<div id="sign-challenge-centre"></div>
        <div id="white-box">
          {# if user.is_authenticated #}
          {% if false %}
      			{% for challenge in challenges %}
      				<div class="challenges">
      					<a href="/challenges/{{ challenge.id }}/"><h1>{{ challenge.title|upper }} - {{ challenge.event_date }}</h1></a>
      					
      					<span class="location">
      						<h2>Location:</h2><span>&nbsp;{{ challenge.city }}, {{ challenge.province }}</span>
      					</span>
      					<span class="clean-creds">
      						<h2>Clean Creds:</h2><span>&nbsp;{{ challenge.cleancred_value }}</span>
      					</span>
      					<p>{{ challenge.description|slice:":130" }}...</p>
      				</div>
      			{% endfor %}
          {% else %}
            <p>
              Rediscover your community and improve the environment through this nationwide challenge. Earn <span class="green bold">Clean</span><span class="blue bold">Creds</span> for your progress and be recognized for your actions! Interact with and discover local environmental resources. Earn volunteer hours in fun challenges.
              Learn how small changes in your daily life can create huge environmental impacts.
            </p>
            <br/><br/>
            <div class="challenges">
              <h1 style="text-align: center;">Challenge One - Coming Spring 2014</h1>
            </div>
            <script type="text/javascript" src="{{ STATIC_URL }}js/countdown.js"></script>
            <script>
              var myCountdown2 = new Countdown({
                        year:2014,
                        month:3, 
                        day:1,
                        hour: 12,
                        ampm: "am",
                        minute: 0,
                        width: 475, 
                        height: 50, 
                        padding   : 1.5,
                        rangeHi   : "day",
                        rangeLo   : "second",
                        numbers: {
                            font  : "Arial",
                            color : "#FFFFFF",
                            bkgd  : "#000"
                          }
                        });
            </script>
          {% endif %}
			
        </div><!-- /#white-box -->
        
    </div><!-- /.container -->
  </div><!-- /.about -->
</div> <!-- /.wrapper -->
{% include "_footer_navbar.html" %}

{% endblock %}

{% block javascript %}{% endblock %}