{% extends '_public_base.html' %}

{% block title %} My Clean City - Challenge Centre {% endblock %}

{% block css %}
  <link href="{{ STATIC_URL }}css/mycleancity.css" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="wrapper public">
  <div class="clouds"></div>
  
  {% if user.is_authenticated %}
    {% include "_loggedin_navbar.html" %}
  {% else %}
    {% include "_public_navbar.html" %}
  {% endif %}

  <a href="/" class="logo"></a>
  
  <div class="content challenge-centre">
    <div class="container">
      	<div id="sign-challenge-centre"></div>
        <div id="white-box">
          {% if false %}
      			{% for challenge in challenges %}
      				<div class="challenges">
                {% if challenge.national_challenge %}
                  <img class="badge-icon" src="/static/images/badge-nc-88x64.png" alt="National Challenge">
                {% endif %}
                <a class="team-picture" href="/challenges/{{ challenge.id }}/">
                  {% if challenge.clean_team.logo %}
                    <img style="width: 124px; height: 124px;" src="{{ MEDIA_URL }}{{ challenge.clean_team.logo }}" alt="" />
                  {% else %}
                    <img src="{{ STATIC_URL }}images/default-team-pic-124x124.png" alt="" />
                  {% endif %}
                </a>

      					<a class="challenge-title" href="/challenges/{{ challenge.id }}/"><h1>{{ challenge.title }}</h1></a>
      					
                <span class="hosted-by">
                  <h2>Created by:</h2><span>&nbsp;<a href="/clean-team/{{ challenge.clean_team.id }}">{{ challenge.clean_team.name }}</a></span>
                </span>

                <span class="date">
                  <h2>Date:</h2><span>&nbsp;{{ challenge.event_date }}</span>
                </span>
      					<span class="location">
      						<h2>Location:</h2><span>&nbsp;{{ challenge.city }}, {{ challenge.province }}</span>
      					</span>
      					<span class="clean-creds">
      						<h2>{{ challenge.clean_creds_per_hour }}&nbsp;<span class="green bold">Clean</span><span class="blue bold">Creds</span>{% if challenge.type.challenge_type == "hourly" %}/hr{% endif %}</h2>
      					</span>
      					<p>{{ challenge.description|slice:":130" }}...</p>
      				</div>
      			{% endfor %}
          {% else %}
            <p>
              Are you up for our National Clean Challenge? Join My Clean City and get involved in your community one <a href="http://twitter.com/#CleanActs" target="_blank"><span class="bold blue">#Clean</span><span class="bold green">Act</span></a> at a time.<br/><br/><a href="http://twitter.com/@MyCleanCity1" target="_blank">Follow us</a> so you don't miss the big reveal.
            </p>
            <br/><br/>
            <div class="challenges">
              <!-- <h1 style="text-align: center;">Challenge One - Coming Spring 2014</h1> -->
            </div>
            <script type="text/javascript" src="{{ STATIC_URL }}js/countdown.js"></script>
            <script>
              var myCountdown2 = new Countdown({
                year: 2014,
                month: 4, 
                day: 1,
                hour: 0,
                ampm: "am",
                minute: 0,
                width: 475, 
                height: 50, 
                padding   : 1.5,
                rangeHi   : "month",
                rangeLo   : "second",
                numbers: {
                  font  : "Arial",
                  color : "#FFFFFF",
                  bkgd  : "#000"
                }
              });
            </script>
          {% endif %}
			
        </div><!-- /#white-box -->
        
    </div><!-- /.container -->
  </div><!-- /.about -->
</div> <!-- /.wrapper -->
{% include "_footer_navbar.html" %}

{% endblock %}

{% block javascript %}{% endblock %}