{% extends '_public_base.html' %}

{% block title %} My Clean City - New Challenge {% endblock %}

{% block css %}
  <link href="{{ STATIC_URL }}css/mycleancity.css" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="wrapper public">
  <div class="clouds"></div>
  
  {% include "_loggedin_navbar.html" %}

  <a href="/" class="logo"></a>
  
  <div class="content">
    <div class="container">
      	<a href="#" onclick="history.go(-1); return false;"><div class="sign new-challenge" id="sign-go-back"></div></a>
        <div id="white-box" class="new-challenge">
            <h2>Update {{ form.title.value }}</h2>
			{% if form.non_field_errors %}
              <div class="message-box error">
              {{ form.non_field_errors }}
              </div>
            {% endif %}
            {{form.errors}}

			{% if form %}
			<form action="" method="post">{% csrf_token %}
				{{ form.challenge_id }}
	            <table>
	                <tr>
	                    <td>{{ form.title.label_tag }} {{ form.title }}</td>
	                    <td>{{ form.host_organization.label_tag }} {{ form.host_organization }}</td>
	                </tr>
	                <tr>
	                	<td>{{ form.event_date.label_tag }}{{ form.event_date }}</td>
	                	<td>{{ form.event_time.label_tag }}{{ form.event_time }}</td>
	                </tr>
	                <tr>
	                    <td>{{ form.address1.label_tag }} {{ form.address1 }}</td>
	                    <td>{{ form.address2.label_tag }} {{ form.address2 }}</td>
	                </tr>
	                <tr>
	                	<td>{{ form.city.label_tag }} {{ form.city }}</td>
	                    <td>{{ form.province.label_tag }} {{ form.province }}</td>
	                </tr>
	                <tr>
	                    <td>{{ form.country.label_tag }} {{ form.country }}</td>
	                    <td>{{ form.postal_code.label_tag }} {{ form.postal_code }}</td>
	                </tr>
	                {% if user.profile.clean_team_member.clean_team.admin %}
	                <tr>
	                	<td>{{ form.type.label_tag }} {{ form.type }}</td>
	                </tr>
	                {% endif %}
	                <tr>
	                	<td colspan="2">{{ form.description.label_tag }} {{ form.description }}</td>
	                </tr>
	                {% if user.profile.clean_team_member.clean_team.admin %}
	                <tr>
	                	<td colspan="2">{{ form.national_challenge }} {{ form.national_challenge.label_tag }}</td>
	                </tr>
	                {% endif %}
	            </table>
	            <input class="btn btn-primary" type="submit" value="Update Challenge" />
        	</form>
       		{% endif %}
        </div><!-- /#white-box -->
    </div><!-- /.container -->
  </div><!-- /.about -->
</div> <!-- /.wrapper -->
{% include "_footer_navbar.html" %}

{% endblock %}

{% block javascript %}{% endblock %}