{% extends '_public_base.html' %}

{% block title %} My Clean City - New Challenge {% endblock %}

{% block css %}
  <link href="{{ STATIC_URL }}css/mycleancity.css" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="wrapper public">
  <div class="clouds"></div>
  
  {% include "_loggedin_navbar.html" %}

  <a href="/" class="logo"></a>
  
  <div class="content">
    <div class="container">
      	<a href="#" onclick="history.go(-1); return false;"><div class="sign new-challenge" id="sign-go-back"></div></a>
        <div id="white-box" class="new-challenge">
            <h1>Update {{ form.title.value }}</h1>
			{% if form.non_field_errors %}
              <div class="message-box error">
              {{ form.non_field_errors }}
              </div>
            {% endif %}

			{% if form %}
			<form action="" method="post">{% csrf_token %}
				{{ form.challenge_id }}

	            <span class="subtitle">Please provide the contact information of host</span>
				
				<div id="host_is_clean_team_container">
					{{ form.host_is_clean_team }} <span>{{ user.profile.clean_team_member.clean_team.name }} is hosting this <span class="bold green">#Clean</span><span class="bold blue">Act</span></span>
				</div>

				<input type="hidden" id="pre_loaded_clean_team_name" value="{{ user.profile.clean_team_member.clean_team.name }}" />
				<input type="hidden" id="pre_loaded_first_name" value="{{ user.profile.clean_team_member.clean_team.contact_user.first_name }}" />
				<input type="hidden" id="pre_loaded_last_name" value="{{ user.profile.clean_team_member.clean_team.contact_user.last_name }}" />
				<input type="hidden" id="pre_loaded_email" value="{{ user.profile.clean_team_member.clean_team.contact_user.email }}" />

				<table>
					<tr>
						<td>{{ form.organization.label_tag }}{{ form.organization }}</td>
						<td></td>
					</tr>
					<tr>
						<td>{{ form.contact_first_name.label_tag }}{{ form.contact_first_name }}</td>
						<td>{{ form.contact_last_name.label_tag }}{{ form.contact_last_name }}</td>
					</tr>
					<tr>
						<td>{{ form.contact_email.label_tag }}{{ form.contact_email }}</td>
						<td>{{ form.contact_phone.label_tag }}{{ form.contact_phone }}</td>
					</tr>
				</table>

				<h2 style="margin-top: 50px;">Update <span class="bold green">#Clean</span><span class="bold blue">Act</span></h2>
	            <span class="subtitle">Fill out the fields below to update your <span class="bold green">#Clean</span><span class="bold blue">Act</span></span>

	            <table>
	                <tr>
	                    <td>{{ form.title.label_tag }} {{ form.title }}</td>
	                </tr>
	                <tr>
	                	<td>{{ form.event_start_date.label_tag }}{{ form.event_start_date }}</td>
	                	<td>{{ form.event_start_time.label_tag }}{{ form.event_start_time }}</td>
	                </tr>
	                <tr>
	                	<td>{{ form.event_end_date.label_tag }}{{ form.event_end_date }}</td>
	                	<td>{{ form.event_end_time.label_tag }}{{ form.event_end_time }}</td>
	                </tr>
	                <tr>
	                    <td>{{ form.address1.label_tag }} {{ form.address1 }}</td>
	                    <td>{{ form.address2.label_tag }} {{ form.address2 }}</td>
	                </tr>
	                <tr>
	                	<td>{{ form.city.label_tag }} {{ form.city }}</td>
	                    <td>{{ form.province.label_tag }} {{ form.province }}</td>
	                </tr>
	                <tr>
	                    <td>{{ form.country.label_tag }} {{ form.country }}</td>
	                    <td>{{ form.postal_code.label_tag }} {{ form.postal_code }}</td>
	                </tr>
	                {% if user.profile.clean_team_member.clean_team.admin %}
	                <tr>
	                	<td>{{ form.type.label_tag }} {{ form.type }}</td>
	                </tr>
	                {% endif %}
	                <tr>
	                	<td colspan="2">{{ form.description.label_tag }} {{ form.description }}</td>
	                </tr>
	                {% if user.profile.clean_team_member.clean_team.admin %}
	                <tr>
	                	<td colspan="2">{{ form.national_challenge }} {{ form.national_challenge.label_tag }}</td>
	                </tr>
	                {% endif %}
	            </table>
	            <input class="btn btn-primary" type="submit" value="Update CleanAct" />
        	</form>
       		{% endif %}
        </div><!-- /#white-box -->
    </div><!-- /.container -->
  </div><!-- /.about -->
</div> <!-- /.wrapper -->
{% include "_footer_navbar.html" %}

{% endblock %}

{% block javascript %}{% endblock %}