{% extends '_public_base.html' %}

{% block title %} My Clean City - Challenge Centre {% endblock %}

{% block css %}
  <link href="{{ STATIC_URL }}css/mycleancity.css" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="wrapper public">
  <div class="clouds"></div>
  
  {% include "_loggedin_navbar.html" %}

  <a href="/" class="logo"></a>
  
  <div class="content my-challenges">
    <div class="container">
      	<div id="sign-my-challenges"></div>

      	{% if user.profile.is_clean_ambassador %}
        <div id="white-box" class="posted-challenges">
			<h1>{{ user.profile.clean_team_member.clean_team.name }} Posted Challenges</h1>
			{% if posted_challenges %}
				{% for challenge in posted_challenges %}
					<div class="challenges">
						{% if challenge.national_challenge %}
						<img class="badge-icon" src="{{ STATIC_URL }}images/badge-nc-88x64.png" alt="National Challenge" />
						{% endif %}
						<a href="/challenges/{{ challenge.id }}/"><h1>{{ challenge.title }}</h1></a>

						<div class="links">
							<a class="view-participants" class="btn btn-primary" href="/challenges/participants/{{ challenge.id }}/">View Participants</a>
							<div class="clear"></div>
							<a class="edit-challenge" class="btn btn-primary" href="/challenges/edit/{{ challenge.id }}/">Edit Challenge</a>
						</div>
						
						<div class="details">
							<div class="title">
								<p><span>Last updated by:</span>&nbsp;{{ challenge.last_updated_by.first_name }} {{ challenge.last_updated_by.last_name }}</p>
							</div>

							<div class="title">
								<p><span>Date:</span>&nbsp;{{ challenge.event_date }}</p>
							</div>

							<div class="title">
								<p><span>Location:</span>&nbsp;{{ challenge.city }}, {{ challenge.province }}</p>
							</div>

							<div class="title">
								<p><span>{{ challenge.clean_creds_per_hour }}&nbsp;</span><span class="green bold">Clean</span><span class="blue bold">Creds</span><span>/hr</span></p>
							</div>
						</div>
					</div>
				{% endfor %}
			{% else %}
				<p>There are no challenges that you've posted.</p>
			{% endif %}
        </div><!-- /#white-box -->
		{% endif %}
	
        <div id="white-box" class="user-challenges" {% if not user.profile.is_clean_ambassador %}style="left: 30%; width: 600px;"{% endif %}>
        	<h1>{{ user.first_name }}'s Challenges</h1>
			{% if user_challenges %}
				
				<div class="table-container">
					<table class="table table-hover">
						<thead>
							<tr>
								<th>Status</th>
								<th>Challenge</th>
								<th>Hours</th>
								<th><span class="green bold">Clean</span><span class="blue bold">Creds</span></th>
							</tr>
						</thead>
						<tbody>
							{% for challenge in user_challenges %}
							<tr>
								<td class="icon">
									{% if challenge.time_out %}
									<img title="Challenge is complete" class="status-icon" src="{{ STATIC_URL }}images/32x32-complete.png" alt="" />
									{% else %}
										{% if challenge.time_in %}
										<img title="You are checked in to a challenge"  class="status-icon" src="{{ STATIC_URL }}images/32x32-checked-in.png" alt="" />
										{% else %}
										<img title="Challenge not started yet" class="status-icon" src="{{ STATIC_URL }}images/32x32-red-circle.png" alt="" />
										{% endif %}
									{% endif %}
								</td>
								<td class="challenge">
									<div class="challenge-info">
										<a href="/challenges/{{ challenge.challenge.id }}/"><h1>{{ challenge.challenge.title }}</h1></a>

										{% if challenge.time_in %}
										<span class="total-hours">Checked in on {{ challenge.time_in }}</span>
										{% else %}
										<span class="total-hours">Not checked in</span>
										{% endif %}									
									</div>
								</td>
								<td class="total-hours">
									{{ challenge.total_hours }} hours
								</td>
								<td class="total-clean-creds">
									{{ challenge.total_clean_creds }}
								</td>
							</tr>
							{% endfor %}
						</tbody>
					</table><!-- /.table.table-hover -->
				</div><!-- /.table-container -->
				
			{% else %}
				<p style="text-align: center;">There are no challenges you are partcipating in.</p>
			{% endif %}
        </div><!-- /#white-box -->
        
    </div><!-- /.container -->
  </div><!-- /.about -->
</div> <!-- /.wrapper -->
{% include "_footer_navbar.html" %}

{% endblock %}

{% block javascript %}{% endblock %}