{% extends '_public_base.html' %}

{% block title %} My Clean City - Challenge Centre {% endblock %}

{% block css %}
  <link href="{{ STATIC_URL }}css/mycleancity.css" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="wrapper public">
  <div class="clouds"></div>
  
  {% include "_loggedin_navbar.html" %}

  <a href="/" class="logo"></a>
  
  <div class="content my-challenges">
    <div class="container">
      	<div id="sign-my-challenges"></div>
        <div id="white-box" class="posted-challenges">
			<h1>Posted Challenges</h1>
			{% if posted_challenges %}
				{% for challenge in posted_challenges %}
					<div class="challenges">
						<a href="/challenges/{{ challenge.id }}/"><h1>{{ challenge.title|upper }} - {{ challenge.event_date }}</h1></a>

						<a href="/challenges/participants/{{ challenge.id }}/">View Participants</a>
						
						<span class="location">
							<p>Location:<span>&nbsp;{{ challenge.city }}, {{ challenge.province }}</span></p>
						</span>
						<span class="clean-creds">
							<p><span class="green bold">Clean</span><span class="blue bold">Creds</span><span>:&nbsp;{{ challenge.getChallengeCleanCreds }}</span></p>
						</span>
					</div>
				{% endfor %}
			{% else %}
				<p>There are no challenges that you've posted.</p>
			{% endif %}
        </div><!-- /#white-box -->

        <div id="white-box"class="user-challenges">
			<h1>Challenges Participating In</h1>
			{% if user_challenges %}
				{% for challenge in user_challenges %}
					<div class="challenges">
						<a href="/challenges/{{ challenge.challenge.id }}/"><h1>{{ challenge.challenge.title|upper }} - {{ challenge.challenge.event_date }}</h1></a>
						
						<span class="location">
							<p>Location:<span>&nbsp;{{ challenge.challenge.city }}, {{ challenge.challenge.province }}</span></p>
						</span>
						<span class="clean-creds">
							<p><span class="green bold">Clean</span><span class="blue bold">Creds</span>:<span>&nbsp;{{ challenge.challenge.cleancred_value }}</span></p>
						</span>
						<span class="status">
							<p>Status:<span>&nbsp;{% if challenge.complete %} Complete {% else %} Pending {% endif %}</span></p>
						</span>
					</div>
				{% endfor %}
			{% else %}
				<p>There are no challenges that you've partcipated in.</p>
			{% endif %}
        </div><!-- /#white-box -->
        
    </div><!-- /.container -->
  </div><!-- /.about -->
</div> <!-- /.wrapper -->
{% include "_footer_navbar.html" %}

{% endblock %}

{% block javascript %}{% endblock %}