{% extends '_public_base.html' %}

{% block title %} My Clean City - New #CleanAct {% endblock %}

{% block css %}
  <link href="{{ STATIC_URL }}css/mycleancity.css" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="wrapper public">
  <div class="clouds"></div>

  {% include "_loggedin_navbar.html" %}

  <a href="/" class="logo"></a>

  <div class="content">
    <div class="container">
      	<a href="#" onclick="history.go(-1); return false;"><div class="sign new-challenge" id="sign-go-back"></div></a>
        <div id="white-box" class="new-challenge">
            <h2><span class="bold green">#Clean</span><span class="bold blue">Acts</span> Survey Questions</h2>
            <span class="subtitle">Please fill out our survey to calculate the <span class="green bold">Clean</span><span class="blue bold">Creds</span>/hr</span>

			{% if form.non_field_errors %}
              <div class="message-box error">
              {{ form.non_field_errors }}
              </div>
            {% endif %}

			<form autocomplete="off" action="" method="post">{% csrf_token %}
				{{ form.question_1.label_tag }} {{ form.question_1 }} {{ form.question_1.errors }}
				{{ form.question_2.label_tag }} {{ form.question_2 }} {{ form.question_2.errors }}
				{{ form.question_3.label_tag }} {{ form.question_3 }} {{ form.question_3.errors }}
				{{ form.question_4.label_tag }} {{ form.question_4 }} {{ form.question_4.errors }}
				{{ form.question_5.label_tag }} {{ form.question_5 }} {{ form.question_5.errors }}
				{{ form.question_6.label_tag }} {{ form.question_6 }} {{ form.question_6.errors }}

				<h2 style="margin-top: 50px;">Host Contact Information</h2>
	            <span class="subtitle">Please provide the contact information of host</span>
				
				<div id="host_is_clean_team_container">
					{{ form.host_is_clean_team }} <span>{{ user.profile.clean_team_member.clean_team.name }} is hosting this <span class="bold green">#Clean</span><span class="bold blue">Act</span></span>
				</div>

				<table>
					<tr>
						<td>{{ form.organization.label_tag }}{{ form.organization }}</td>
						<td></td>
					</tr>
					<tr>
						<td>{{ form.contact_first_name.label_tag }}{{ form.contact_first_name }}</td>
						<td>{{ form.contact_last_name.label_tag }}{{ form.contact_last_name }}</td>
					</tr>
					<tr>
						<td>{{ form.contact_email.label_tag }}{{ form.contact_email }}</td>
						<td>{{ form.contact_phone.label_tag }}{{ form.contact_phone }}</td>
					</tr>
				</table>

				<h2 style="margin-top: 50px;">Create <span class="bold green">#Clean</span><span class="bold blue">Act</span></h2>
	            <span class="subtitle">Fill out the fields below to create your <span class="bold green">#Clean</span><span class="bold blue">Act</span></span>
			
	            <table>
	                <tr>
	                    <td>{{ form.title.label_tag }} {{ form.title }}</td>
	                    <td></td>
	                </tr>
	                <tr>
	                	<td>{{ form.event_start_date.label_tag }}{{ form.event_start_date }}</td>
	                	<td>{{ form.event_start_time.label_tag }}{{ form.event_start_time }}</td>
	                </tr>
	                <tr>
	                	<td>{{ form.event_end_date.label_tag }}{{ form.event_end_date }}</td>
	                	<td>{{ form.event_end_time.label_tag }}{{ form.event_end_time }}</td>
	                </tr>
	                <tr>
	                    <td>{{ form.address1.label_tag }} {{ form.address1 }}</td>
	                    <td>{{ form.address2.label_tag }} {{ form.address2 }}</td>
	                </tr>
	                <tr>
	                	<td>{{ form.city.label_tag }} {{ form.city }}</td>
	                    <td>{{ form.province.label_tag }} {{ form.province }}</td>
	                </tr>
	                <tr>
	                    <td>{{ form.country.label_tag }} {{ form.country }}</td>
	                    <td>{{ form.postal_code.label_tag }} {{ form.postal_code }}</td>
	                </tr>
	                {% if user.profile.clean_team_member.clean_team.admin %}
	                <tr>
	                	<td>{{ form.type.label_tag }} {{ form.type }}</td>
	                </tr>
	                {% endif %}
	                <tr>
	                	<td colspan="2">{{ form.description.label_tag }} {{ form.description }}</td>
	                </tr>
	                {% if user.profile.clean_team_member.clean_team.admin %}
	                <tr>
	                	<td colspan="2">{{ form.national_challenge }} {{ form.national_challenge.label_tag }}</td>
	                </tr>
	                {% endif %}
	            </table>
	            <input class="btn btn-primary" type="submit" value="Post Challenge" />
        	</form>
        </div><!-- /#white-box -->
    </div><!-- /.container -->
  </div><!-- /.about -->
</div> <!-- /.wrapper -->
{% include "_footer_navbar.html" %}

{% endblock %}

{% block javascript %}{% endblock %}
