{% extends '_public_base.html' %}

{% block title %} My Effect - New Action {% endblock %}

{% block css %}
  <link href="{{ STATIC_URL }}css/mycleancity.css" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="wrapper public">
  <div class="clouds"></div>

  {% include "_navbar.html" %}

  <a href="/" class="logo"></a>

  {% load wysiwyg %}
  {% wysiwyg_setup %}

  <div class="content">
    <div class="container">
      	<a id="btn-previous-survey" onclick="history.go(-1); return false;"><div class="sign new-challenge-survey" id="sign-go-back"></div></a>
      	<div id="white-box" class="new-challenge-survey">
      		<form id="action-survey-frm" autocomplete="off" action="" method="post" data-parsley-validate data-parsley-trigger="change">{% csrf_token %}
	      	<div>
	      		<h2>Actions Survey Questions</h2>
      			<span class="subtitle">Please fill out our survey to calculate the <span class="blue bold">Change</span> <span class="gold bold">Creds</span></span>
	      		{{ form.category.label_tag }}{{ form.category }}{{ form.category.errors }}</div><div><section>
		      	{% for question in form %}
		      	{% if question.label_tag != form.category.label_tag %}
		      	{% if question.field.widget.attrs.class == "main-question" or question.label_tag == form.question_4.label_tag %}
					</section></div><div>{{ question.label_tag }}{{ question }}{{ question.errors }}<section class = "subquestions">
				{% else %}
					{{ question.label_tag }}{{ question }}{{ question.errors }}
				{% endif %}
				{% endif %}
				{% endfor %}
				</section>
				<input class="btn btn-primary" type="submit" value="Submit" /></div>
			</form>
		</div><!-- /#white-box -->
    </div><!-- /.container -->
  </div><!-- /.about -->
  {% wysiwyg_editor "id_description" %}
</div> <!-- /.wrapper -->

{% include "_footer_navbar.html" %}

{% endblock %}

{% block javascript %}
<script>
  $( document ).ready(function() {
    var page = $("#id_category").closest('div');
    if ($("#id_category").val() == "Environment"){
      page.next().hide();
      page.next().next().hide();
    }
    else{
      page.next().fadeOut();
      page.next().next().fadeOut();
    }

  	$( ":radio" ).each(function( index ) {
  		var ul = $(this).closest('ul');
  		var error = $('.parsley-errors-list', ul);
  		if (error){
  			error.appendTo(ul);
  			error = null;
  		}
	});
  	$('.subquestions').hide();
  });

  var optionother = $( "input[name='question_1']" ).last().closest('li');
  $( "#id_question_txt_2" ).prev().appendTo(optionother);
  $( "#id_question_txt_2" ).appendTo(optionother);
  

  function next() {
  	var pages = document.querySelector('core-pages');
    var group = pages.selected+1;
    if (group == 2){
      group = 3;
    }
  	if($('#action-survey-frm').parsley().validate(group,false)){
  		if (pages.selected == 0 && $("#id_category").val() != "Environment"){
  			pages.selected = pages.selected + 3;
  		}else{
  			pages.selected = pages.selected + 1;
		    if(pages.selected == pages.children.length-1){
		    	$("#btn-next-survey").hide();
		    }
        else if(pages.selected == 1){
          $("#btn-next-survey").css("top","400px");
        }else{
          $("#btn-next-survey").css("top","300px");
        }

  		}
  		
  	}else{
  		//alert("not valid");
  	}
    
    

  }

  function previous() {
    var pages = document.querySelector('core-pages');
    if (pages.selected > 0){
    	if (pages.selected == 3 && $("#id_category").val() != "Environment"){
  			pages.selected = 0;
  		}else{
    		pages.selected = pages.selected - 1;
        if(pages.selected == 1){
          $("#btn-next-survey").css("top","400px");
        }else{
          $("#btn-next-survey").css("top","300px");
        }
    		$("#btn-next-survey").fadeIn();
    	}
    }else{
    	history.go(-1); return false;
    }
  }

  $(".main-question").on("change", function(e){
  	var page = $(this).closest('div');
    if ($(':checked', page).parent().text() == " Yes"){
    	$('.subquestions', page).fadeIn();
    	$('input', page).attr('data-parsley-required', 'true');
    	$('input', page).attr('data-parsley-required-message', 'This field is required.');
    }
    else{
    	$('.subquestions', page).fadeOut();
    	$('input', page).attr('data-parsley-required', 'false');
    }
	});

  $("#id_category").on("change", function(e){
    var page = $(this).closest('div');
    if ($(this).val() == "Environment"){
      page.next().fadeIn();
      page.next().next().fadeIn();
    }
    else{
      page.next().fadeOut();
      page.next().next().fadeOut();
    }
  });
</script>
{% endblock %}
