{% extends '_public_base.html' %}
{% load i18n %}

{% block title %} My Effect - {{ challenge.title }} {%trans "Participants Manage" %} {% endblock %}

{% block css %}
  <link href="{{ STATIC_URL }}css/mycleancity.css" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="wrapper public">
  <div class="clouds"></div>

  {% include "_navbar.html" %}

  <a href="/" class="logo"></a>
  
  <div class="content">
    <div class="container">
    	<a href="#" onclick="history.go(-1); return false;"><div class="sign clean-team-members" id="sign-go-back"></div></a>
        <div id="white-box" class="participants-manage">
        	<h1>{%trans "Send email to all participants of" %} {{ challenge.title }}</h1>
          {% if success %}
            <div class="alert alert-success" role="alert">{%trans "Email sent successfully!" %}</div>
          {% elif exception %}
            <div class="alert alert-danger" role="alert">{{ exception }}</div>
          {% elif invalid_email %}
            <div class="alert alert-danger" role="alert">Sender Verification failed, please set up a valid email address <a href="{{ invalid_email }}">here</a>.</div>
          {% elif anti_spam_incomplete %}
            <div class="alert alert-danger" role="alert">Your anti-spam signature is incomplete, please set up <a href="{{ anti_spam_incomplete }}">here</a>.</div>
          {% elif blocked %}
            <div class="alert alert-danger" role="alert">Your email function has been disabled. please <a href="{{ blocked }}">contact us.</a>.</div>
          {% else %}
          	{% if form.non_field_errors %}
                <div class="message-box error">
                {{ form.non_field_errors }}
                </div>
              {% endif %}
          	<form action="" method="post">{% csrf_token %}
          	<table class="participants-manage-tb">
          		<tr><td>{{ form.subject.label_tag }}</td></tr>
          		<tr><td colspan="2">{{ form.subject }}</td></tr>
          		<tr><td>{{ form.message.label_tag }}</td></tr>
          		<tr><td colspan="2">{{ form.message }}</td></tr>
          	</table>
          	<input class="btn btn-primary" type="submit" value="Send" />
          	</form>
          {% endif %}
        </div><!-- /#white-box -->

		<div id="white-box" class="participants">	
			<h1 id="team-name">{%trans "Participants" %}</h1>
			<p>{%trans "Total:" %} {{ count }}
	        {% if challenge.limit > 0 %}
	        {%trans "Max:" %} {{challenge.limit}}
	        {% endif %}
	        </p>
	        <div id="clean-team-members-list">
			    {% for cc in participants %}
		          <p>          
		            {% if cc.user.profile.picture %}
				      <img src="{{ MEDIA_URL }}{{ cc.user.profile.picture }}" alt="" class="profile-pic profile-pic-42x42" />
				    {% else %}
				      <img src="{{ STATIC_URL }}images/default-profile-pic-42x42.png" alt="" class="profile-pic profile-pic-42x42" />
				    {% endif %}
		            <a href="/users/profile/{{ cc.user.id }}">{{ cc.user.first_name }} {{ cc.user.last_name }}</a>
		          </p>
			    {% endfor %}
			</div><!-- end of #clean-team-members-list -->
		</div><!-- /#white-box -->

    </div><!-- /.container -->
  </div><!-- /.about -->
</div> <!-- /.wrapper -->
{% include "_footer_navbar.html" %}

{% endblock %}

{% block javascript %}{% endblock %}
