{% extends '_public_base.html' %}

{% block title %} My Effect - Voucher Code {% endblock %}

{% block css %}
  <link href="{{ STATIC_URL }}css/mycleancity.css" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="wrapper public">
  <div class="clouds"></div>
  
  {% include "_loggedin_navbar.html" %}

  <a href="/" class="logo"></a>
  
  <div class="content">
    <div class="container">
      	<a href="#" onclick="history.go(-1); return false;"><div class="sign new-challenge" id="sign-go-back"></div></a>
        <div id="white-box" class="new-challenge">
            <h2>Voucher Code</h2>
            <span class="subtitle">Enter your voucher code to claim your <span class="green bold">Change</span> <span class="blue bold">Creds</span>.</span>

			       {% if form.non_field_errors %}
              <div class="message-box error">
              {{ form.non_field_errors }}
              </div>
            {% endif %}
			
          <form autocomplete="off" action="" method="post">{% csrf_token %}
				      <table>
	                <tr>
	                    <td>{{ form.voucher.label_tag }} {{ form.voucher }}</td>
	                </tr>
	            </table>
              {{ form.user_id }}
	            <input class="btn btn-primary" type="submit" value="Claim ChangeCreds" />
        	</form>
        </div><!-- /#white-box -->
    </div><!-- /.container -->
  </div><!-- /.about -->
</div> <!-- /.wrapper -->
{% include "_footer_navbar.html" %}

{% endblock %}

{% block javascript %}{% endblock %}