/*------------------------------------------------------------------
Author:         Zeeshan Syed
Email:          zee@hakstudio.com
Description:    CSS file for the Index Page
Date created:   Sept 24, 2013
-------------------------------------------------------------------*/

body { background: #00b6f1 url(../images/sky-1x3334.jpg) repeat-x 0 0; }

div.wrapper.index { margin: 0 !important; }

div.wrapper.index div.clouds { z-index: 1; position: absolute; top: 0; height: 306px; width: 100%; background: url(../images/clouds.png) repeat-x 0 -20px; }

div.wrapper.index h1.title { z-index: 999; position: relative; line-height: 30px; font-size: 25px; text-align: center; color: #20409a; font-weight: 200; margin-top: 0; }
div.wrapper.index div.logo { width: 295px; height: 221px; margin: 0 auto; background: url(../images/logo-295x221.png) no-repeat 0 0; position: relative; z-index: 100; }

div.wrapper.index .container { width: 1280px; margin: 0 auto; position: relative; }

#grass-1 { width: 849px; height: 647px; position: relative; z-index: 998; top: -132px; left: -216px; background: transparent url(../images/grass-1.png) no-repeat 0 0; }
#grass-2 { width: 546px; height: 302px; position: relative; z-index: 996; top: -595px; left: 240px; background: transparent url(../images/grass-2.png) no-repeat 0 0; }
#grass-3 { width: 1072px; height: 579px; overflow: hidden; position: absolute; z-index: 997; top: -90px; right: -178px; background: transparent url(../images/grass-3.png) no-repeat 0 0; }
#path-1 { width: 691px; height: 273px; overflow: hidden; position: absolute; z-index: 996; top: 213px; right: 401px; background: transparent url(../images/path-1.png) no-repeat 0 0; }
#path-1 + a { display: block; width: 191px; height: 83px; overflow: hidden; position: absolute; z-index: 999; top: 231px; right: 627px; }

#path-2 { width: 730px; height: 142px; overflow: hidden; position: absolute; z-index: 997; top: 343px; right: 236px; background: transparent url(../images/path-2.png) no-repeat 0 0; }
#recycle-bench { width: 205px; height: 122px; position: absolute; z-index: 998; top: 224px; left: 944px; background: transparent url(../images/recycle-bench.png) no-repeat 0 0; }
#buildings { width: 346px; height: 144px; position: absolute; z-index: 995; top: 81px; left: 528px; background: transparent url(../images/buildings.png) no-repeat 0 0; }
#buildings + a { display: block; width: 346px; height: 144px; position: absolute; z-index: 999; top: 81px; left: 528px; }

#sign-stump { width: 46px; height: 346px; position: absolute; z-index: 999; top: 144px; left: 159px; background: transparent url(../images/sign-stump.png) no-repeat 0 0; }
#sign-register { width: 202px; height: 59px; position: absolute; z-index: 1000; top: 142px; left: 76px; background: url(../images/sign-register.png) no-repeat 0 0; }
#sign-students { width: 191px; height: 52px; position: absolute; z-index: 1000; top: 235px; left: 125px; background: url(../images/sign-students.png) no-repeat 0 0; }
#sign-organizations { width: 280px; height: 54px; position: absolute; z-index: 1000; top: 300px; left: 32px; background: url(../images/sign-organizations.png) no-repeat 0 0; }