/*------------------------------------------------------------------
Author:         Zeeshan Syed
Email:          zee@hakstudio.com
Description:    CSS file for the Index Page
Date created:   Sept 24, 2013
-------------------------------------------------------------------*/

body { background: #00b6f1 url(../images/sky-1x3334.jpg) repeat-x 0 0; }

div.wrapper.index { margin: 0 !important; }

div.wrapper.index div.clouds { z-index: 1; position: absolute; top: 0; height: 306px; width: 100%; background: url(../images/clouds.png) repeat-x 0 -20px; }

div.wrapper.index h1.title { z-index: 999; position: relative; line-height: 30px; font-size: 25px; text-align: center; color: #20409a; font-weight: 200; margin-top: 0; }
div.wrapper.index div.logo { width: 295px; height: 221px; margin: 0 auto; background: url(../images/logo-295x221.png) no-repeat 0 0; position: relative; z-index: 100; }

div.wrapper.index .container { width: 1280px; margin: 0 auto; position: relative; }

#grass-1 { width: 603px; height: 647px; position: relative; z-index: 999; top: -117px; left: -20px; background: transparent url(../images/grass-1.png) no-repeat 0 0; }
#grass-2 { width: 546px; height: 302px; position: relative; z-index: 998; top: -557px; left: 200px; background: transparent url(../images/grass-2.png) no-repeat 0 0; }
#grass-3 { width: 917px; height: 604px; overflow: hidden; position: absolute; z-index: 998; top: -106px; right: -28px; background: transparent url(../images/grass-3.png) no-repeat 0 0; }