/*------------------------------------------------------------------
Author:         Zeeshan Syed
Email:          zee@hakstudio.com
Description:    CSS file for the Index Page
Date created:   Sept 24, 2013
-------------------------------------------------------------------*/

body { }

div.wrapper.public { width: 100%; margin: 0 !important; background: #00b6f1 url(../images/sky-1x3334.jpg) repeat-x 0 0; overflow: hidden; }

div.wrapper.public div.clouds { z-index: 1; position: absolute; top: 0; height: 205px; width: 100%; background: url(../images/clouds.png) repeat-x 0 -20px; }

div.wrapper.public h1.title { position: relative; line-height: 30px; font-size: 25px; text-align: center; color: #20409a; font-weight: 200; margin-top: 0; }
div.wrapper.public a.logo { display: block; width: 295px; height: 221px; margin: 0 auto; background: url(../images/logo-295x221.png) no-repeat 0 0; position: relative; z-index: 1; }

div.wrapper.public .container { width: 1280px; height: 485px; margin: 0 auto; position: relative; }

[class^="icon-"], [class*=" icon-"] { background-image: url("../images/glyphicons-halflings.png"); }

a.menu-items { font-weight: 500; font-size: 19px; color: #262261; letter-spacing: 0px; margin: 20px 15px; text-shadow: 1px 1px 2px #333; }
a.menu-items-left { float: left; position: relative; display: inline-block; z-index: 999; }
a.menu-items-right { float: right; margin: 20px; position: relative; display: block; z-index: 999; }
a.menu-items:hover { text-decoration: none; color: white; }

.dropdown { position: relative; z-index: 999; }
.dropdown a:hover, .dropdown a:active { text-decoration: none; background: transparent; }
.dropdown-menu { background: url(../images/1x1-white.png) repeat 0 0; left: 437px; top: 40px; padding: 0; }
.dropdown-menu li { width: auto; }
.dropdown-menu li a { font-size: 15px; margin: 0; padding: 15px 20px; text-shadow: none; }
.dropdown-menu li a:hover { background: transparent; color: #999; }

#grass-1 { width: 849px; height: 647px; position: relative; z-index: 998; top: -132px; left: -216px; background: transparent url(../images/grass-1.png) no-repeat 0 0; }
#grass-2 { width: 546px; height: 302px; position: relative; z-index: 996; top: -595px; left: 240px; background: transparent url(../images/grass-2.png) no-repeat 0 0; }
#grass-3 { width: 1072px; height: 579px; overflow: hidden; position: absolute; z-index: 997; top: -90px; right: -178px; background: transparent url(../images/grass-3.png) no-repeat 0 0; }
#path-1 { width: 691px; height: 273px; overflow: hidden; position: absolute; z-index: 996; top: 213px; right: 401px; background: transparent url(../images/path-1.png) no-repeat 0 0; }
#path-1-link { display: block; width: 191px; height: 83px; overflow: hidden; position: absolute; z-index: 999; top: 231px; right: 627px; }
#path-1-link:hover + div { content: ""; background-position: 0 bottom !important; }

#path-2 { width: 730px; height: 142px; overflow: hidden; position: absolute; z-index: 997; top: 342px; right: 236px; background: transparent url(../images/path-2.png) no-repeat 0 0; }
#recycle-bench { width: 205px; height: 122px; position: absolute; z-index: 998; top: 224px; left: 944px; background: transparent url(../images/recycle-bench.png) no-repeat 0 0; }
#recycle-bench:hover { background-position: 0 bottom; }
#buildings { width: 346px; height: 144px; position: absolute; z-index: 995; top: 81px; left: 588px; background: transparent url(../images/buildings.png) no-repeat 0 0; }
#buildings-link { display: block; width: 346px; height: 144px; position: absolute; z-index: 999; top: 81px; left: 588px; }
#buildings-link:hover + div { content: ""; background-position: 0 bottom !important; } 

#sign-stump { width: 46px; height: 346px; position: absolute; z-index: 999; top: 144px; left: 159px; background: transparent url(../images/sign-stump.png) no-repeat 0 0; }
#sign-register { width: 202px; height: 59px; position: absolute; z-index: 1000; top: 142px; left: 76px; background: url(../images/sign-register.png) no-repeat 0 0; }
#sign-students { width: 191px; height: 52px; position: absolute; z-index: 1000; top: 235px; left: 125px; background: url(../images/sign-students.png) no-repeat 0 0; }
#sign-students:hover { background-position: 0 bottom; }
#sign-organizations { width: 280px; height: 54px; position: absolute; z-index: 1000; top: 300px; left: 32px; background: url(../images/sign-organizations.png) no-repeat 0 0; }
#sign-organizations:hover { background-position: 0 bottom; }

#footer { position: absolute; padding: 10px; z-index: 999; top: 723px; background: transparent url(../images/1x1-green.png) repeat-x 0 0; width: 100%; height: 210px; }
#footer div.icons { float: left; margin-left: 10px; }
#footer div.icons a { margin-right: 10px; }
#footer p.copyright { float: right; margin-right: 20px; }

/******************************
	About
******************************/ 	
div.content { background: transparent url(../images/about-bg.png) no-repeat center 0; height: 551px; }
div.content.about ul.nav.nav-tabs { border: none; margin-left: 250px; position: relative; top: 24px; }
div.content.about ul.nav.nav-tabs li { background: transparent; }
div.content.about ul.nav.nav-tabs li a { background-color: #4a3c2e; font-weight: 700; color: #8CC559; border-color: #4a3c2e; }
div.content.about ul.nav.nav-tabs li a:hover { background-color: #A88460; color: #2D520C; }
div.content.about ul.nav.nav-tabs li.active a { background-color: #A88460; color: #2D520C; }
div.content.about #white-box { left: 18%; width: 800px; height: 350px; }
div.content.about #white-box p { font-size: 15px; font-weight: 300; }
div.content.about #white-box h1 { font-weight: 800; }
div.content.about #white-box h2 { font-weight: 500; color: #638d3d; }
div.content.about #white-box h3 { font-weight: 500; color: #638d3d; } 
div.content.about #white-box ol li { list-style: decimal; } 
div.content.about #white-box iframe { margin: 0 190px; }

/******************************
	Media Hub
******************************/ 	
div.content.media-hub { background: transparent url(../images/media-hub-bg.png) no-repeat 80% 0; height: 548px; }
#sign-media-hub { width: 209; height: 69px; position: relative; left: 15%; background: url(../images/sign-media-hub.png) no-repeat 0 0; }
#sign-media-hub + #white-box { width: 300px; left: 9%; height: 300px; }
#white-box.facebook { width: 300px; height: 120px; left: 40%; top: -5px; }
#white-box.photos { width: 300px; height: 140px; left: 40%; top: 225px; }

/******************************
	White Box
******************************/ 
#white-box { position: absolute; height: 400px; overflow: scroll; z-index: 1000; left: 24%; width: 600px; padding: 27px; background: url(../images/1x1-white.png) repeat 0 0; border: 4px solid #4a3c2e; }
#white-box p, #white-box h2 { color: #638d3d; }
#white-box p { padding: 10px 0; }
#white-box .left { float: left; width: 150px; }
#white-box .right { float: right; }
#white-box .right form input { display: block; width: 300px; }
#white-box .right form input[type="submit"] { width: 320px; } 
#white-box .right form textarea { width: 300px; height: 170px; }
#white-box table tr td { padding: 5px 20px 0 0; }

/******************************
	Login
******************************/ 
#white-box.login { width: 300px; height: 300px; left: 36%; }
#white-box.login input[type="text"], #white-box.login input[type="password"] { width: 275px; }
#white-box.login input[type="submit"] { width: 296px; font-size: 16px; }
#white-box.login p { text-align: center; }

/******************************
	Register
******************************/ 
#white-box.register { width: 478px; left: 29%; }
#white-box.register input[type="submit"] { width: 296px; font-size: 16px; margin: 0 auto; }
#white-box.register input[type="checkbox"] { margin: 0; padding: 0; }
#white-box.register p { text-align: center; }

/******************************
	Profile
******************************/ 
#white-box.profile { width: 478px; left: 29%; }
#white-box.profile input[type="submit"] { width: 296px; font-size: 16px; margin: 0 auto; }
#white-box.profile p { text-align: center; }

/******************************
	New Challenge
******************************/ 
#white-box.new-challenge { width: 478px; left: 29%; }
#white-box.new-challenge textarea { width: 453px; height: 200px; }
#white-box.new-challenge input[type="submit"] { width: 296px; font-size: 16px; margin: 0 auto; }

/******************************
	Challenge Centre
******************************/ 
div.content.challenge-centre { background: url(../images/challenge-centre-bg.png) no-repeat center 0; }
#sign-challenge-centre { width: 444px; height: 101px; position: relative; left: 41%; background: url(../images/sign-challenge-centre.png) no-repeat 0 0; }
div.content.challenge-centre #white-box { width: 478px; height: 300px; left: 41%; }
div.content.challenge-centre #white-box div.challenges { margin-bottom: 40px; }
div.content.challenge-centre #white-box div.challenges h1 { line-height: 20px; font-weight: 900; font-size: 20px; }
div.content.challenge-centre #white-box div.challenges span.location h2 { display: block; font-size: 15px; font-weight: 700; display: inline; }
div.content.challenge-centre #white-box div.challenges span.clean-creds h2 { display: block; margin-left: 20px; font-size: 15px; font-weight: 700; display: inline; }
div.content.challenge-centre #white-box div.challenges p { padding: 0; }
div.content.challenge-centre #white-box div.challenges a:hover { color: #86b45c !important; }

/******************************
	My Challenges Page
******************************/ 
div.content.my-challenges { background: url(../images/challenge-centre-bg.png) no-repeat center 0; }
#sign-my-challenges { width: 444px; height: 101px; position: relative; left: 41%; background: url(../images/sign-my-challenges.png) no-repeat 0 0; }
div.content.my-challenges #white-box { width: 478px; height: 300px; left: 41%; }
div.content.my-challenges #white-box div.challenges { margin-bottom: 40px; }
div.content.my-challenges #white-box div.challenges h1 { line-height: 20px; font-weight: 900; font-size: 20px; }
div.content.my-challenges #white-box div.challenges span.location h2 { display: block; font-size: 15px; font-weight: 700; display: inline; }
div.content.my-challenges #white-box div.challenges span.clean-creds h2 { display: block; margin-left: 20px; font-size: 15px; font-weight: 700; display: inline; }
div.content.my-challenges #white-box div.challenges p { padding: 0; }
div.content.my-challenges #white-box div.challenges a:hover { color: #86b45c !important; }


/******************************
	Challenge Page
******************************/ 
div.content.challenge-overview { background: url(../images/challenge-centre-bg.png) no-repeat center 0; }
#sign-challenge-overview { width: 500px; height: 101px; position: relative; left: 41%; background: url(../images/sign-challenge-overview.png) no-repeat 0 0; }
div.content.challenge-overview #white-box { width: 630px; height: 300px; left: 41%; }
div.content.challenge-overview #white-box h1 { font-weight: 900; float: left; }
div.content.challenge-overview #white-box h1 + span { display: block; top: 11px; left: 12px; position: relative; }
div.content.challenge-overview #white-box table { margin-bottom: 30px; }
div.content.challenge-overview #white-box table tr td { padding: 10px 15px 0 0; }
div.content.challenge-overview #white-box table tr td.titles { min-width: 80px; font-weight: 700; font-size: 20px; }
div.content.challenge-overview #white-box input[type="submit"] { width: 296px; font-size: 16px; margin: 0 auto; }
div.content.challenge-overview #white-box a.btn { margin: 0 auto; width: 300px; }

div.content.challenge-overview #participants-box { position: absolute; width: 200px; height: 300px; overflow: scroll; z-index: 1000; left: 14%; padding: 27px; background: url(../images/1x1-white.png) repeat 0 0; border: 4px solid #689042; }
div.content.challenge-overview #participants-box h1 { font-weight: 900; }
div.content.challenge-overview #participants-box div.participants { margin-top: 10px; } 

div.content.challenge-overview .fb-like { float: left; margin-right: 10px; }
div.content.challenge-overview .twitter-share-button { float: left; }
div.content.challenge-overview #participate-btn { float: right; }

/******************************
	Leaderboard Page
******************************/ 
div.content.leadership-board { background: transparent url(../images/no-trees-bg.png) no-repeat center 89px; height: 478px; } 

#brown-box { float: right; margin-right: 100px; text-shadow: 1px 1px 3px #111; }

#board { padding: 20px; border: 1px solid #362513; width: 510px; height: 320px; background-color: #433627; }
#board h1 { color: #00aeef; font-size: 30px; font-weight: 900; } 
#board table { margin-top: 10px; width: 100%; } 
#board table tr td { text-shadow: 1px 1px 3px #111; list-style-type: decimal; font-size: 25px; margin-top: 10px; } 
#board table tr td.entry { padding-top: 5px; } 
#board table tr td span.cleancreds { display: block; float: right; }
.blue { color: #00aeef; } 
.green { color: #83c156; } 

#sign-leaderboard { width: 530px; height: 116px; float: right; background: transparent url(../images/sign-your-points.png) no-repeat 0 0; margin-right: 10px; }
#sign-leaderboard #your-points { position: relative; font-weight: 900; font-size: 40px; color: #83c156; top: 54px; left: 25px }
#sign-leaderboard #your-points span.points { float: right; margin-right: 52px; }
#sign-leaderboard a.btn { margin: 54px auto 0; width: 400px; font-size: 17px; padding-top: 9px; }

#tree-progress { display: block; float: left; margin-left: 30px; position: absolute; top: -10px; }

/******************************
	Challenge Participants Page
******************************/ 
#white-box.challenge-participants table tr td { }
#white-box.challenge-participants table tr td.name { width: 600px; }
#white-box.challenge-participants table tr td.participated { width: 100px; text-align: center; }
#white-box.challenge-participants h1 { font-weight: 900; }
#white-box.challenge-participants table { margin-bottom: 30px; }
#white-box.challenge-participants table tr td { padding: 10px 15px; border-bottom: 1px solid #abd78c; }
#white-box.challenge-participants table tr td.titles { width: 100px; }
#white-box.challenge-participants table tr td input[type="submit"] { width: 120px; font-size: 16px; margin: 0 auto; }