Django==1.5.2
Flask==0.10.1
Jinja2==2.7.1
Markdown==2.5.1
MarkupSafe==0.18
MySQL-python==1.2.5
Pillow==2.7.0
South==1.0
Werkzeug==0.9.4
boto==2.17.0
dj-database-url==0.2.2
dj-static==0.0.5
django-extensions==1.2.5
django-mobile==0.4.0
django-recaptcha==1.0.2
django-storages==1.1.8
django-timezone-field==1.1
django-toolbelt==0.0.1
django-wysiwyg==0.5.1
gunicorn==18.0
itsdangerous==0.23
--allow-external mysql-connector-python==1.2.2
psycopg2==2.5.1
pygeoip==0.3.1
pytz==2014.4
qrcode==4.0.4
simplejson==3.6.4
six==1.7.2
static==0.4
wsgiref==0.1.2
django-allauth>=0.13.0
django_cron
-e git+http://github.com/SmileyChris/django-mailer-2.git#egg=django-mailer-2
