<div id="footer">
  <div class="icons">
    <a href="https://www.facebook.com/pages/My-Clean-City/203721359785216" target="_blank"><img src="{{ STATIC_URL }}images/facebook.png" alt="facebook" /></a>
    <a href="http://twitter.com/mycleancity1" target="_blank"><img src="{{ STATIC_URL }}images/twitter.png" alt="twitter" /></a>
  </div>
  <p class="copyright">&copy; 2013 My Clean City. All Rights Reserved.</p>
</div>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=516343758455142";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>