<div id="footer">
  <div class="icons">
    <a href="https://www.facebook.com/pages/My-Clean-City/203721359785216" target="_blank"><img src="{{ STATIC_URL }}images/facebook.png" alt="facebook" /></a>
    <a href="http://twitter.com/mycleancity1" target="_blank"><img src="{{ STATIC_URL }}images/twitter.png" alt="twitter" /></a>
  </div>

  <div id="tweets"></div>

  <div class="apps">
    <a href="https://play.google.com/store/search?q=pub:My Effect" target="_blank">
      <img alt="Get it on Google Play" src="https://developer.android.com/images/brand/en_generic_rgb_wo_45.png" />
    </a>
    <a href="https://itunes.apple.com/us/app/my-clean-city-app/id880287683?ls=1&mt=8" target="_blank">
      <img src="{{ STATIC_URL }}images/apple-app-store.png" alt=""/>
    </a>
  </div><!-- /.apps -->

  <div class="clear"></div>
  <div id="footer-nav">
    <ul>
      <li><a href="/" class="">Home</a></li>
      <li><a href="/about" class="">About</a></li>
      <li><a href="/students" class="">Students</a></li>
      <li><a href="/organizations" class="">Organizations</a></li>
      <li><a href="/rewards" class="">Rewards</a></li>
      <li><a href="/contact" class="">Contact</a></li>
      <li><a href="/privacy" class="">Privacy Policy</a></li>
    </ul>
    <p class="issues">Issues? Contact our <a href="mailto:webmaster@mycleancity.org">development team</a>.</p>
  </div><!-- /#footer-nav -->
  <p class="copyright">&copy; {% now "Y" %} My Effect. All Rights Reserved.</p>
  <div class="clear"></div>
  <!-- <div id="hak-studio">
    <p>Designed and developed by <a href="http://hakstudio.com" target="_blank">Hak Studio</a></p>
  </div>-->

  <div class="powered-by">
    <h2>My Effect is powered by:</h2>
    <a href="http://kellyalovell.com/kellyEFFECT.html" target="_blank"><img src="{{ STATIC_URL }}images/kelly-effect.png" alt="Kelly Effect" /></a>
  </div><!-- /.powered-by -->

  <!-- <div class="supported-by">
    <div class="row">
      <h2>Proudly supported by:</h2>
      <a href="http://www.staples.ca/" target="_blank"><img src="{{ STATIC_URL }}images/supporters/staples-300.jpg" alt="Staples" /></a>
      <a href="http://www.hm.com/ca/" target="_blank"><img src="{{ STATIC_URL }}images/supporters/hm.jpg" alt="H &amp; M" /></a>
      <a href="http://entertainmentcoaching.com/" target="_blank"><img src="{{ STATIC_URL }}images/supporters/entertainment-coaching-2.jpg" alt="Entertainment Coaching" /></a>
    </div>

    <div class="row">
      <a href="http://www.terracycle.ca/" target="_blank"><img src="{{ STATIC_URL }}images/supporters/terracycle.jpeg" alt="Terracycle" /></a>
      <a href="http://www.ecyclesolutions.com/" target="_blank"><img src="{{ STATIC_URL }}images/supporters/ecycle.jpg" alt="E-Cycle Solutions" /></a>
      <a href="http://environmentaldefence.ca/" target="_blank"><img src="{{ STATIC_URL }}images/supporters/e-defence.jpg" alt="Environmental Defense" /></a>
      <a href="http://www.greenlearning.ca/" target="_blank"><img src="{{ STATIC_URL }}images/supporters/green-learning.jpg" alt="Green Learning" /></a>
      <a href="http://www.shuttlerock.com/" target="_blank"><img src="{{ STATIC_URL }}images/supporters/shuttlerock.jpg" alt="Shuttlerock" /></a>
    </div>

    <a href="/organizations#our-supporters"><h2>View all of our supporters</h2></a>
  </div><!-- /.supported-by -->

</div>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=516343758455142";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<script>

  var twitterFetcher=function(){function t(d){return d.replace(/<b[^>]*>(.*?)<\/b>/gi,function(c,d){return d}).replace(/class=".*?"|data-query-source=".*?"|dir=".*?"|rel=".*?"/gi,"")}function m(d,c){for(var f=[],e=RegExp("(^| )"+c+"( |$)"),g=d.getElementsByTagName("*"),b=0,a=g.length;b<a;b++)e.test(g[b].className)&&f.push(g[b]);return f}var u="",j=20,n=!0,h=[],p=!1,k=!0,l=!0,q=null,r=!0;return{fetch:function(d,c,f,e,g,b,a){void 0===f&&(f=20);void 0===e&&(n=!0);void 0===g&&(g=!0);void 0===b&&(b=!0);
  void 0===a&&(a="default");p?h.push({id:d,domId:c,maxTweets:f,enableLinks:e,showUser:g,showTime:b,dateFunction:a}):(p=!0,u=c,j=f,n=e,l=g,k=b,q=a,c=document.createElement("script"),c.type="text/javascript",c.src="//cdn.syndication.twimg.com/widgets/timelines/"+d+"?&lang=en&callback=twitterFetcher.callback&suppress_response_codes=true&rnd="+Math.random(),document.getElementsByTagName("head")[0].appendChild(c))},callback:function(d){var c=document.createElement("div");c.innerHTML=d.body;"undefined"===
  typeof c.getElementsByClassName&&(r=!1);var f=d=null,e=null;r?(d=c.getElementsByClassName("e-entry-title"),f=c.getElementsByClassName("p-author"),e=c.getElementsByClassName("dt-updated")):(d=m(c,"e-entry-title"),f=m(c,"p-author"),e=m(c,"dt-updated"));for(var c=[],g=d.length,b=0;b<g;){if("string"!==typeof q){var a=new Date(e[b].getAttribute("datetime").replace(/-/g,"/").replace("T"," ").split("+")[0]),a=q(a);e[b].setAttribute("aria-label",a);if(d[b].innerText)if(r)e[b].innerText=a;else{var s=document.createElement("p"),
  v=document.createTextNode(a);s.appendChild(v);s.setAttribute("aria-label",a);e[b]=s}else e[b].textContent=a}n?(a="",l&&(a+='<div class="user">'+"</div>"),a+='<p class="tweet">'+t(d[b].innerHTML)+"</p>",k&&(a+='<p class="timePosted">'+e[b].getAttribute("aria-label")+"</p>")):d[b].innerText?(a="",l&&(a+='<p class="user">'+f[b].innerText+"</p>"),a+='<p class="tweet">'+d[b].innerText+"</p>",k&&(a+='<p class="timePosted">'+e[b].innerText+"</p>")):(a="",l&&(a+='<p class="user">'+f[b].textContent+
  "</p>"),a+='<p class="tweet">'+d[b].textContent+"</p>",k&&(a+='<p class="timePosted">'+e[b].textContent+"</p>"));c.push(a);b++}c.length>j&&c.splice(j,c.length-j);d=c.length;f=0;e=document.getElementById(u);for(g="<ul>";f<d;)g+="<li>"+c[f]+"</li>",f++;e.innerHTML=g+"</ul>";p=!1;0<h.length&&(twitterFetcher.fetch(h[0].id,h[0].domId,h[0].maxTweets,h[0].enableLinks,h[0].showUser,h[0].showTime,h[0].dateFunction),h.splice(0,1))}}}();


  /*
  * ### HOW TO CREATE A VALID ID TO USE: ###
  * Go to www.twitter.com and sign in as normal, go to your settings page.
  * Go to "Widgets" on the left hand side.
  * Create a new widget for what you need eg "user timeline" or "search" etc.
  * Now go back to settings page, and then go back to widgets page, you should
  * see the widget you just created. Click edit.
  * Now look at the URL in your web browser or see the script generated below the widget, you will see a long number like this:
  * 345735908357048478 in url or data-widget-id="345095893361512448" in the generated code
  * Use this as your ID below instead!
  */

  /***************
   * twitterFetcher.fetch('Put your twitter id here', 'ID of the container e.g id tweets of container div')
  ****************/

  twitterFetcher.fetch('384907140789309441', 'tweets', 3, true);

  function dateFormatter(date) {
    return date.toTimeString();
  }
</script>

<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-47610616-1']);
_gaq.push(['_trackPageview']);
(function() {
var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;

ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';

var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>
