{% extends '_public_base.html' %}

{% block title %} My Clean City - Contact {% endblock %}

{% block css %}
  <link href="{{ STATIC_URL }}css/mycleancity.css" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="wrapper public">
  <div class="clouds"></div>
  
  {% include "_public_navbar.html" %}
  
  <a href="/" class="logo"></a>
  
  <div class="content">
    <div class="container">
      
        <div id="white-box">
          <h1>Page not found</h1>
        </div><!-- /#white-box -->
  
    </div><!-- /.container -->
  </div><!-- /.about -->
</div> <!-- /.wrapper -->
<div id="footer">
  <div class="icons">
    <a href="http://facebook.com/mycleancity" target="_blank"><img src="{{ STATIC_URL }}images/facebook.png" alt="facebook" /></a>
    <a href="http://twitter.com/mycleancity" target="_blank"><img src="{{ STATIC_URL }}images/twitter.png" alt="twitter" /></a>
  </div>
  <p class="copyright">&copy; 2013 My Clean City. All Rights Reserved.</p>
</div>

{% endblock %}

{% block javascript %}{% endblock %}