{% extends '_public_base.html' %}

{% block title %} My Clean City - About {% endblock %}

{% block css %}
  <link href="{{ STATIC_URL }}css/mycleancity.css" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="wrapper public">
  <div class="clouds"></div>
  
  {% include "_public_navbar.html" %}
  
  <a href="/" class="logo"></a>
  
  <div class="content about">
    <div class="container">
      <!-- <div id="buildings"></div>
      <a href="/challenge-centre"></a> -->
      
        <div id="white-box">
          <h1>About Us</h1>
          <h3>Our Mission</h3>
          <p>
            We are a national multi-pillar program, that collaborates with existing environmental organizations, to engage, enable and evaluate youth volunteer actions with the goal of building a more environmentally sustainable future--an environmental leadership program run by YOUth for YOUth, with measurable results!
          </p>

          <h3>Our Approach</h3>
          <p>
            Differing from other environmental initiatives, My Clean City is a merit and results-based endeavor; beyond simply raising awareness of core environmental issues, My Clean City strives to quantify youth impact through the recording of results and the crediting of students and organizations that assist in environmental goals. Together—through this collaborative effort— we can reduce Canada’s environmental impact and inspire others towards a cleaner country!
          </p>

          <h3>Our Model</h3>
          <p>
            My Clean City is a unique national project interface that rewards Canadian youth who take action to reduce their environmental impact. 
          </p>
          <p>
            <ol>
              <li>Community organizations and non-profits collaborate with My Clean City to promote their environmental programs through our online interface.</li>
              <li>My Clean City posts these opportunities on our Challenge Board where users can access opportunities in their area through our unified portal and submit to participate.</li>
              <li>Users go to host organizations and complete their challenges to earn CleanCreds, which are recorded on their profile.</li>
              <li>Each team member profile records the individual volunteer’s progress, completed challenges via CleanCreds and quantifies that volunteer's impact. Rewards will be awarded to team members with the highest cumulative totals.</li>
            </ol>
            <h2>SMALL EFFORTS = BIG RESULTS</h2>
          </p>

          <h3>Our Founder</h3>
          <p>
            My Clean City was founded by Kelly Lovell, a Canadian motivational figure, nonprofit &amp; community engagement consultant and global youth leader. Recently recognized as one of the Top 50 Student Leaders of the World with an inauguration as a Hesselbien Fellow and being named Canada's 2013 Emerging Innovator by Ashoka and American Express, Lovell invests her time in empowering individuals and organizations to excel to their full potential.
          </p>
          <p>
            Creator of The Kelly Effect, Lovell works to develop forward-thinking initiatives to address current issues, promote social engagement and build sustainable communities. Her track record of fruitful nonprofit projects is an example of her investment in others.
          </p>
          <p>
            Lovell exudes a commitment to fostering leadership development and community change in all of her work. As a motivational youth figure she has graced respected stages including TEDx and WE Day, speaking live to audiences as large as 7000+ and spreading messages of empowerment across the globe.
          </p>
          <p>
            "If I were able to define my life with one word, it would be passion; it's the driving force behind everything I do, but more importantly, it’s the essence of how I help individuals find success in life. I invite you to be a part of my quest for global change and inspiration." - Kelly Lovell, Motivational Public Figure and CEO of The Kelly Effect
          </p>
          <iframe width="420" height="315" src="//www.youtube.com/embed/SOz13TIGm-4" frameborder="0" allowfullscreen></iframe>

          <p>To learn more about Kelly and The Kelly Effect please visit <a href="http://www.kellyalovell.com">www.kellyalovell.com</a></p>
          
        </div><!-- /#white-box -->
    </div><!-- /.container -->
  </div><!-- /.about -->
</div> <!-- /.wrapper -->
{% include "_footer_navbar.html" %}

{% endblock %}

{% block javascript %}{% endblock %}