{% extends '_public_base.html' %}

{% block title %} My Clean City - About {% endblock %}

{% block css %}
  <link href="{{ STATIC_URL }}css/mycleancity.css" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="wrapper public">
  <div class="clouds"></div>
  
  {% include "_public_navbar.html" %}
  
  <a href="/" class="logo"></a>
  
  <div class="content about">
    <div class="container">
        <div id="sign-about"></div>
        <a href="#mission" data-toggle="tab"><div class="sign" id="sign-mission"></div></a>
        <a href="#founder" data-toggle="tab"><div class="sign" id="sign-our-founder"></div></a>
        <a href="#approach" data-toggle="tab"><div class="sign" id="sign-approach"></div></a>
        <a href="#model" data-toggle="tab"><div class="sign" id="sign-model"></div></a>
        <a href="#" onclick="history.go(-1); return false;"><div class="sign about" id="sign-go-back-big"></div></a>
        <div id="sign-stump-long"></div>
        
        <div id="white-box" class="tab-content">
          <div class="tab-pane active" id="mission">
            <br/><br/><br/><br/><br/><br/><br/>
            <h1 class="tab-titles">Our Mission</h1>
            <p>
              A national multi-pillar program that collaborates with environmentally committed organizations to engage, enable and evaluate youth volunteer actions. Our goal is to build a sustainable future.
            </p>
            <p>
              To provide measurable results with an environmental leadership program run by YOUth for YOUth.
            </p>
          </div>

          <div class="tab-pane" id="approach">
            <br/><br/>
            <h1 class="tab-titles">Our Approach</h1>
            <p>
              Transforming community engagement into a <span class="blue">results driven</span> and <span class="blue">rewarding experience</span>.
            </p>
            <p>
              <ul>
                <li>
                  <span class="titles">Results Driven:</span> My Clean City strives to quantify youth impact by recording their volunteer results and crediting youth and organizations that assist in achieving environmental goals. 
                </li>
                <li>
                  <span class="titles">Rewarding Experience:</span> My Clean City caters to the 21st century volunteer; providing a platform that engages goal-oriented mindsets and adds personal motivation to volunteer experiences.
                </li>
              </ul>
            </p>
            <p>
              Together we are working to bridge the gap between youth, local community resources and corporate leaders to improve Canada's environment. 
            </p>
          </div>

          <div class="tab-pane" id="model">
            <h1 class="tab-titles">Our Model</h1>
            <p>
              My Clean City is a unique national leadership program that engages and rewards youth who create positive environmental impact.
            </p>
            <p>
              We strive to shift the attitude of volunteer <span class="red">work</span> to volunteer <span class="blue">play!</span>
            </p>
            
            <h2 class="subtitle-blue">Take Action, Earn Rewards</h2>

            <p>
              <ol>
                <li>
                  Young leaders form Clean Teams with their peers and serve as Clean Ambassadors in their school and communities.
                </li>
                <li>
                  Clean Teams align with local environmental organizations to present existing environmental programs as challenges to their peers through My Clean City's interface.
                </li>
                <li>
                  Clean Teams mobilize their peers to participate in their environmental challenges with host organizations
                </li>
                <li>
                  Individuals and Clean Champions go to host organizations to complete their challenges and earn <span class="green bold">Clean</span><span class="blue bold">Creds</span> based on volunteer hours and impact which are recorded to their profile.
                </li>
                <li>
                  Each Individual and Clean Champions’ user profile records the volunteer’s progress, completed challenges via <span class="green bold">Clean</span><span class="blue bold">Creds</span> and quantifies that volunteer’s impact. <span class="green bold">Clean</span><span class="blue bold">Creds</span> CleanCreds will unlock rewards and special opportunities for My Clean City members.
                </li>
              </ol>
            </p>

            <p><a href="/rewards/">Learn more</a> about our <span class="green bold">Clean</span><span class="blue bold">Creds</span> system.</p>
            <p><a href="/organizations/">Learn</a> how My Clean City's program fits your organization.</p>
            
            <p>
              <a class="badge-join" href="/register/"><img src="{{ STATIC_URL }}images/badge-join-200-145.png" alt=""/></a>
            </p>
            <p class="center">Register before February 24th and earn 50 bonus CleanCreds.</p>

          </div>

          <div class="tab-pane" id="founder">
            <h1 class="tab-titles">Our Founder</h1>
            <img id="kelly-img" src="{{ STATIC_URL }}images/kelly.jpg" alt="" />
            <p>
              My Clean City was founded by Kelly Lovell, a Canadian motivational figure, nonprofit &amp; community engagement consultant and global youth leader. Recently recognized as one of the Top 50 Student Leaders of the World with an inauguration as a Hesselbien Fellow and being named Canada's 2013 Emerging Innovator by Ashoka and American Express, Lovell invests her time in empowering individuals and organizations to excel to their full potential.
            </p>
            <p>
              Creator of The Kelly Effect, Lovell works to develop forward-thinking initiatives to address current issues, promote social engagement and build sustainable communities. Her track record of fruitful nonprofit projects is an example of her investment in others.
            </p>
            <p>
              Lovell exudes a commitment to fostering leadership development and community change in all of her work. As a motivational youth figure she has graced respected stages including TEDx and WE Day, speaking live to audiences as large as 7000+ and spreading messages of empowerment across the globe.
            </p>
            <p>
              "If I were able to define my life with one word, it would be passion; it's the driving force behind everything I do, but more importantly, it’s the essence of how I help individuals find success in life. I invite you to be a part of my quest for global change and inspiration." - Kelly Lovell, Motivational Public Figure and CEO of The Kelly Effect
            </p>
            
            <p>To learn more about Kelly and The Kelly Effect please visit <a href="http://www.kellyalovell.com">www.kellyalovell.com</a></p>
  
            <iframe width="420" height="315" src="//www.youtube.com/embed/SOz13TIGm-4" frameborder="0" allowfullscreen></iframe>
    
          </div>
        </div><!-- /#white-box -->
    </div><!-- /.container -->
  </div><!-- /.about -->
</div> <!-- /.wrapper -->
{% include "_footer_navbar.html" %}

{% endblock %}

{% block javascript %}{% endblock %}