{% extends '_public_base.html' %}

{% block title %} My Clean City - Communication Hub {% endblock %}

{% block css %}
  <link href="{{ STATIC_URL }}css/mycleancity.css" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="wrapper public">
  <div class="clouds"></div>
  
  {% include "_public_navbar.html" %}
  
  <a href="/" class="logo"></a>
  
  <div class="content communication-hub">
    <div class="container">
        <div id="sign-communication-hub"></div>
        
        <a href="#social-media" data-toggle="tab"><div class="sign" id="sign-social-hub"></div></a>
        <a href="#resources" data-toggle="tab"><div class="sign" id="sign-resources"></div></a>
        <a href="#press" data-toggle="tab"><div class="sign" id="sign-press"></div></a>
        <a href="#contest" data-toggle="tab"><div class="sign" id="sign-contest"></div></a>
        <a href="#announcements" data-toggle="tab"><div class="sign" id="sign-announcements"></div></a>
        <a href="#" onclick="history.go(-1); return false;"><div class="sign communication-hub" id="sign-go-back-big"></div></a>
        <div id="sign-stump-long"></div>
        
        <div id="white-box" class="tab-content">
          <div class="tab-pane active" id="social-media">
            <iframe width="725" height="542" src="https://mycleancity.shuttlerock.com/widget/d2lkdGg9NDgyJmhlaWdodD01NDImbnVtX3Bob3Rvcz0xNiZ0aHVtYm5haWxfc2l6ZT1tZWRpdW0mYm9hcmRfaWQ9bXljbGVhbmNpdHkmc29ydF9vcmRlcj1sYXRlc3Q=" frameborder="0"></iframe>
          </div>

          <div class="tab-pane" id="resources">
            <h1 class="titles">Resources</h1>
            
            <a class="downloadables" href="/download/?filename=Welcome_package_cgd.pdf" target="_blank">
              <img src="{{ STATIC_URL }}images/resources/welcome-package.jpg" alt=""/>
              <h2>Welcome Guide</h2>
            </a>

            <a class="downloadables" href="/download/?filename=YMCA_Enviro_Guide_FINAL_ENG.pdf" target="_blank">
              <img src="{{ STATIC_URL }}images/resources/ymca.jpg" alt=""/>
              <h2>YMCA Environmental Guide</h2>
            </a>

            <a class="downloadables" href="/download/?filename=Host_Organization_letter.docx" target="_blank">
              <img src="{{ STATIC_URL }}images/resources/organization-letter.jpg" alt=""/>
              <h2>Clean Team letter template for event organization outreach</h2>
            </a>

            <!-- <h2><a target="_blank" href="/download/?filename=YMCA_Enviro_Guide_FINAL_ENG.pdf">YMCA Environmental Guide</a></h2> -->
          </div>

          <div class="tab-pane" id="press">
            <h1 class="titles">Press</h1>

            <a class="articles" href="/download/?filename=MCC_[FINAL]_MR.pdf" target="_blank"><img src="{{ STATIC_URL }}images/press/press-April8.jpg" alt=""/></a>

            <a class="articles" href="/download/?filename=HM_TO_PARTNER_WITH_MY_CLEAN_CITY.pdf" target="_blank"><img src="{{ STATIC_URL }}images/press/hm-partner.jpg" alt=""/></a>

            <a class="articles" href="/download/?filename=0-2.pdf" target="_blank"><img src="{{ STATIC_URL }}images/press/teenage-youth.jpg" alt=""/></a>

            <a class="articles" href="/download/?filename=Toronto_Star_Conscious_Clipping_February_27.pdf" target="_blank"><img src="{{ STATIC_URL }}images/press/toronto-star.jpg" alt=""/></a>

            <a class="articles" href="http://fashion.answers.com/fashion-industry/hm-encourages-volunteerism-recycling-clothing" target="_blank"><img src="{{ STATIC_URL }}images/press/fashion-answers.jpg" alt=""/></a>

            <a class="articles" href="http://theconcordian.com/2014/04/a-powerhouse-entrepreneur-wants-to-turn-montreal-into-a-clean-city/" target="_blank"><img src="{{ STATIC_URL }}images/press/concordian.jpg" alt=""/></a>

            <a class="articles" href="http://www.greenlearning.ca/news/annual-solar-oven-challenge-partners-my-clean-city" target="_blank"><img src="{{ STATIC_URL }}images/press/green-learning.jpg" alt=""/></a>

            <a class="articles" href="http://www.kidzworld.com/article/28806-teenage-youth-launches-rewards-program-to-build-sustainable-communities-in-canada" target="_blank"><img src="{{ STATIC_URL }}images/press/kidz-world.jpg" alt=""/></a>
          </div>
          
          <div class="tab-pane" id="contest">
            <h1 class="titles">Contests</h1>
            <iframe width="725" height="542" src="https://mycleancity.shuttlerock.com/widget/d2lkdGg9NDgyJmhlaWdodD01NDImbnVtX3Bob3Rvcz0xNiZ0aHVtYm5haWxfc2l6ZT1tZWRpdW0mYm9hcmRfaWQ9Y2xlYW50ZWFtY29udGVzdCZzb3J0X29yZGVyPWxhdGVzdA==" frameborder="0"></iframe>
          </div>

          <div class="tab-pane" id="announcements">
            <h1 class="titles">Announcements</h1>

            <div>
              <a style="width: 200px;" href="http://www.greenlivingshow.ca/" target="_blank"><img src="{{ STATIC_URL }}images/gls2014-773x254.jpg" alt="GLS" /></a>
              <p>
                My Clean City is proud to be partnering with the 2014 Green Living Show, be sure to check out our booth from April 25-27th at the Direct Energy Centre, TO and catch our founder, Kelly Lovell's keynote at the Youth Day opening ceremonies!
              </p>
            </div>

            <div>
              <img src="{{ STATIC_URL }}images/staples-851x315.jpg" alt="" />
              <p>
                My Clean City is a proud partner of Staples’s Recycle for Education Contest. Get a head start in the CLEAN game and register your school for a change to win a $25,000 computer lab!
              </p>
              <p>
                Be sure to share the opportunity with your friends, My Clean City will be watching for leaders who trend #RFE and we may even award some special surprises!

                <div class="fb-like" style="margin-left: 30px;" data-href="http://www.mycleancity.org{{ page_url }}" data-width="450" data-layout="button_count" data-show-faces="true" data-send="false"></div>
                <a href="http://www.mycleancity.org{{ page_url }}" class="twitter-share-button">Tweet</a>
              </p>
            </div>            
          </div>
        </div><!-- /#white-box -->

    </div><!-- /.container -->
  </div><!-- /.about -->
</div> <!-- /.wrapper -->

{% include "_footer_navbar.html" %}

{% endblock %}

{% block javascript %}
<script type="text/javascript">
  var feed = new Instafeed({
      get: 'user',
      userId: 588574229,
      accessToken: '588574229.467ede5.399d001a278240e28c2669ede67c461e',
      link: 'true',
      clientId: 'c4d979a78daa4114b8d0800e135097e6'
  });
  feed.run();
</script>
{% endblock %}