{% extends '_public_base.html' %}

{% block title %} My Clean City - Contact {% endblock %}

{% block css %}
  <link href="{{ STATIC_URL }}css/mycleancity.css" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="wrapper public">
  <div class="clouds"></div>
  
  {% include "_public_navbar.html" %}
  
  <a href="/" class="logo"></a>
  
  <div class="content">
    <div class="container">
      
        <div id="white-box">
          <div class="left">
            <h2>Contact</h2>
          </div><!-- /.left -->
          <div class="right">
            <form action="#" method="post">
              <input type="text" name="name" placeholder="Name" />
              <input type="text" name="email" placeholder="Email" />
              <input type="text" name="subject" placeholder="Subject" />
              <textarea name="message" id="" cols="30" rows="10" placeholder="Message"></textarea>
              <input class="btn btn-primary" type="submit" value="Send Message" />
            </form>
          </div><!-- /.right -->
        </div><!-- /#white-box -->
  
    </div><!-- /.container -->
  </div><!-- /.about -->
</div> <!-- /.wrapper -->
{% include "_footer_navbar.html" %}

{% endblock %}

{% block javascript %}{% endblock %}