{% extends '_public_base.html' %}

{% block title %} My Clean City {% endblock %}

{% block css %}
  <link href="{{ STATIC_URL }}css/index.css" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="wrapper index">
  <div class="clouds"></div>
  <a href=""><div class="logo"></div></a>
  <h1 class="title">Building sustainable communities<br/>through the power of YOUth</h1>
  <div class="container">
    <div id="buildings"></div>
    <a href="/challenge-centre"></a>

    <a href="/resources"><div id="recycle-bench"></div></a>
    <a href="/register"><div id="sign-register"></div></a>
    <a href="/signin"><div id="sign-students"></div></a>
    <a href="/signin"><div id="sign-organizations"></div></a>
    <div id="sign-stump"></div>
    
    <div id="grass-1"></div>
    <div id="grass-2"></div>
    <div id="grass-3"></div>
    <div id="path-1"></div>
    <a href="/leadership-board"></a>

    <div id="path-2"></div>
  </div><!-- /container -->
</div> <!-- /wrapper -->

{% endblock %}

{% block javascript %}{% endblock %}