{% extends '_public_base.html' %}

{% block title %} My Clean City {% endblock %}

{% block css %}
  <link href="{{ STATIC_URL }}css/index.css" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="wrapper public">
  <div class="clouds"></div>
  
  <a href="/contact" id="contact" class="menu-items"></a>
  <a href="/about" id="about" class="menu-items"></a>
  <a href="/" class="logo"></a>
  
  <h1 class="title">Building sustainable communities<br/>through the power of YOUth</h1>
  <div class="container">
    <div id="buildings"></div>
    <a href="/challenge-centre"></a>

    <a href="/resources"><div id="recycle-bench"></div></a>
    <div id="sign-register"></div>
    <a href="/signin"><div id="sign-students"></div></a>
    <a href="/signin"><div id="sign-organizations"></div></a>
    <div id="sign-stump"></div>
    
    <div id="grass-1"></div>
    <div id="grass-2"></div>
    <div id="grass-3"></div>
    <div id="path-1"></div>
    <a href="/leadership-board"></a>

    <div id="path-2"></div>
  </div><!-- /.container -->

</div> <!-- /.wrapper -->
<div id="footer">
  <div class="icons">
    <a href="http://facebook.com/mycleancity" target="_blank"><img src="{{ STATIC_URL }}images/facebook.png" alt="facebook" /></a>
    <a href="http://twitter.com/mycleancity" target="_blank"><img src="{{ STATIC_URL }}images/twitter.png" alt="twitter" /></a>
  </div>
  <p class="copyright">&copy; 2013 My Clean City. All Rights Reserved.</p>
</div>

{% endblock %}

{% block javascript %}{% endblock %}