{% extends '_public_base.html' %}

{% block title %} My Clean City - Media Hub {% endblock %}

{% block css %}
  <link href="{{ STATIC_URL }}css/mycleancity.css" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="wrapper public">
  <div class="clouds"></div>
  
  {% include "_public_navbar.html" %}
  
  <a href="/" class="logo"></a>
  
  <div class="content media-hub">
    <div class="container">
        <div id="sign-media-hub"></div>

        <div id="white-box" class="twitter">
          <a class="twitter-timeline" href="https://twitter.com/MyCleanCity1" data-widget-id="384907140789309441">Tweets by @MyCleanCity1</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div><!-- /#white-box -->

        <div id="white-box" class="photos">
          <h1 class="titles">Photos and Videos</h1>
          <div id="instafeed"></div>

          <iframe scrolling="no" marginheight="0" frameborder="0" width="609" src="http://vinalwidget.com/gallery.php?id=992634697492611072&amp;width=189&amp;margin=4&amp;display_username=1&amp;likes=1&amp;comments=1&amp;revines=1&amp;date=1&amp;description=0&amp;responsive=0&amp;frame=1" style="height: 235px;"></iframe>
        </div>

        <div id="white-box" class="annoucements">
          <h1 class="titles">Annoucements</h1>

          <a href="#staples-banner" class="popup-image"><img src="{{ STATIC_URL }}images/staples-200x300.jpg" alt="" /></a>

          <p>
            My Clean City is a proud partner of Staples’s Recycle for Education Contest. Get a head start in the CLEAN game and register your school for a change to win a $25,000 computer lab!
          </p>
          <p>
            Be sure to share the opportunity with your friends, My Clean City will be watching for leaders who trend #RFE and we may even award some special surprises!

            <div class="fb-like" style="margin-left: 30px;" data-href="http://www.mycleancity.org{{ page_url }}" data-width="450" data-layout="button_count" data-show-faces="true" data-send="false"></div>
              <a href="http://www.mycleancity.org{{ page_url }}" class="twitter-share-button">Tweet</a>
          </p>

          <!-- <div class="fb-activity" data-app-id="516343758455142" data-site="https://www.facebook.com/pages/My-Clean-City/203721359785216" data-action="Comma separated list of action of action types" data-width="300" data-height="300" data-header="true"></div> -->
        </div>
       
    </div><!-- /.container -->
  </div><!-- /.about -->
</div> <!-- /.wrapper -->

<div class="popup-container">
  <div id="staples-banner" class="popup">
    <img src="{{ STATIC_URL }}images/staples-851x315.jpg" alt="" />
  </div>
</div><!-- /.popup-container -->
{% include "_footer_navbar.html" %}

{% endblock %}

{% block javascript %}
<script type="text/javascript">
  var feed = new Instafeed({
      get: 'user',
      userId: 588574229,
      accessToken: '588574229.467ede5.399d001a278240e28c2669ede67c461e',
      link: 'true',
      clientId: 'c4d979a78daa4114b8d0800e135097e6'
  });
  feed.run();
</script>
{% endblock %}