{% extends '_public_base.html' %}

{% block title %} My Clean City - Organizations {% endblock %}

{% block css %}
  <link href="{{ STATIC_URL }}css/mycleancity.css" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="wrapper public">
  <div class="clouds"></div>
  
  {% include "_public_navbar.html" %}
  
  <a href="/" class="logo"></a>
  
  <div class="content organization">
    <div class="container">

        <a href="#organizations" data-toggle="tab"><div class="sign" id="sign-organizations2"></div></a>
        <a href="#why-partner" data-toggle="tab"><div class="sign" id="sign-why-partner"></div></a>
        <a href="#our-supporters" data-toggle="tab"><div class="sign" id="sign-our-supporters"></div></a>
        <!-- <a href="#partnership-levels" data-toggle="tab"><div class="sign" id="sign-partnership-levels"></div></a> -->
        <a href="#impact" data-toggle="tab"><div class="sign" id="sign-impact"></div></a>
        <a href="#" onclick="history.go(-1); return false;"><div class="sign organizations" id="sign-go-back-big"></div></a>
        
        <div id="sign-stump-long"></div>
        
        <div id="white-box" class="tab-content">
          
          <div class="tab-pane active" id="organizations">
            <br/><br/><br/><br/><br/><br/>
            <h1 class="tab-titles">Organizations</h1>
            <p>Our Mission is only possible through collaborations with forward-thinking, responsible organizations. 
            We collaborate with cities, schools, non-profits, and corporations alike on local, provincial and national levels. Join the My Clean City Movement today!
            </p> 
          </div>

          <div class="tab-pane" id="our-supporters">
            <br/><br/><br/><br/><br/><br/>
            <h1 class="tab-titles">Our Supporters</h1>
            <p>Our mission is only possible through collaborations with forward-thinking, responsible organizations. 
            We collaborate with cities, schools, non-profits, and corporations alike on local, provincial and national levels. Join the My Clean City movement today!
            </p>
          </div>

          <div class="tab-pane" id="why-partner">
            <h1 class="tab-titles">Why Partner With My Clean City</h1>
            <p>My Clean City is shifting the youth perspective:</p>
            <p class="blue">Volunteer work → Volunteer play! </p>

            <p>My Clean City’s fundamental goal is to strengthen existing environmental resources and organizations through creating an interactive portal, engaging youth and harnessing the power of a large national youth effort! </p>
            <p>This cumulative effort will ensure for a cleaner tomorrow!</p>

            <p>Our partners:</p>

            <ul>
              <li>believe in the potential of youth</li>
              <li>desire a more sustainable future</li>
              <li>value bridging the gap between youth and community</li>
              <li>wish to strengthen existing environmental efforts</li>
              <li>foster leadership in young Canadians</li>
              <li>empower leaders of today to find their ability to help   community</li>
              <li>move beyond awareness for environmental change and promote action</li>
            </ul>
            <p>If you value these pillars we encourage you to <a href="/contact">contact us</a> today to learn more on how we can work together. </p>
          </div>
<!--
          <div class="tab-pane" id="partnership-levels">
            <h2>PARTNERSHIP LEVELS</h2>
            <p>My Clean City is looking for Non-profit organizations, Socially responsible corporations, and City and School officials to join forces with us in making our communities CLEAN!
            </p>

            <h3>SPONSORSHIP</h3>
            <p>At a SPONSORSHIP, level we collaborate with organizations to offer scholarships and other reward incentives to deserving youth! Our Sponsors benefit through </p>

            <ul>
              <li>Increased brand awareness and recognition</li>
              <li>Increased media presence</li>
              <li>Direct access to emerging youth leaders</li>
              <li>Enhance image as desirable employer of choice</li>
              <li>Fortify commitment to communities on both national and local levels</li>
              <li>Ability to choose how/where scholarships are distributed</li>
              <p>Download our Sponsorship package today</p>
              <p>Or, for more information <a href="/contact">contact us</a> TODAY!</p>
            </ul>

            <h3>PARTNERSHIP</h3>
            <p>At a PARTNERSHIP level we team up with organizations to create and offer exciting environmentally based challenges to youth! Our Partners benefit through</p>

            <ul>
              <li>  Increased brand awareness and recognition</li>
              <li>  Increased media and youth presence</li>
              <li>Access to motivated youth volunteer</li>
              <li>  Barrier free collaboration with a national program</li>
            </ul>
            <p>Download our Partnership package today</p>
            <p>Or, for more information <a href="/contact">contact us</a> TODAY!</p>

            <h3>COLLABORATION</h3>
            <p>At a COLLABORATIVE level we team up with City and School officials with the aim of reaching local youth, and motivating them to join My Clean City in creating positive environmental change! Our Collaborators benefit through</p>

            <ul>
              <li>  Recognition as a Socially responsible City/School</li>
              <li>  National media presence and recognition</li>
              <li>  Healthy extra-curricular youth involvement</li>
              <li>  Engage at-risk youth and other disengaged youth </li>
              <li>  Barrier free collaboration with a national program</li>
              <li>  Establish connections with local non-profits</li>
              <li>  Be a part of an innovative National movement</li>
            </ul>
            <p>Download our Collaborator package today</p>
            <p>Or, for more information <a href="/contact">contact us</a> TODAY!</p>
          </div>
-->
          <div class="tab-pane" id="impact">
            <h1 class="tab-titles">What We Accomplish With Your Support</h1>
            <p>My Clean City strives to create a total attitude shift towards volunteerism.  My Clean City is a team created by youth for youth, with the aim of redefining volunteerism as fun, engaging, self-expressive, and rewarding.
            </p>
            <p>My Clean City is  a portal to allow youth the freedom of choice—to choose how they get involved and at what level they get involved—and self-expression—to perform Clean Acts that are unique and express their inner creativity.</p>
            <p>In giving youth the freedom to choose, and through utilizing <span class="green bold">Clean</span><span class="blue bold">Creds</span>—an incentive-based program—My Clean City will engage and harness those efforts for large-scale, national results!</p>
            <p>A partnership and sponsorship will ensure today’s youth:</p>
            <ul>
              <li>A platform—married with an interactive social media format—that provides young people a channel to find youth-centric, environmentally friendly volunteer and leadership opportunities</li>
              <li>Motivation through earning <span class="green bold">Clean</span><span class="blue bold">Creds</span> that garner tangible rewards such as scholarship and mentorship opportunities</li>
              <li>An avenue to gain volunteer experience, develop leadership as well as other valuable skills</li>
              <li>The ability to experience intrinsic rewards of volunteerism</li>
              <li>Presents a contemporary interface to engage those who are otherwise disengaged with volunteerism today</li>
              <li>  Networking and positive reinforcement opportunities for at-risk youth</li>
              <li>An online profile, which records volunteer’s impact, allowing a reflection of one’s individual growth and fulfillment, and also of your workplace abilities for future job applications and interviews</li>
            </ul>
          </div>

        </div><!-- /#white-box -->
    </div><!-- /.container -->
  </div><!-- /.about -->
</div> <!-- /.wrapper -->
{% include "_footer_navbar.html" %}

{% endblock %}

{% block javascript %}{% endblock %}