{% extends '_public_base.html' %}

{% block title %} My Clean City - Organizations {% endblock %}

{% block css %}
  <link href="{{ STATIC_URL }}css/mycleancity.css" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="wrapper public">
  <div class="clouds"></div>

  {% include "_public_navbar.html" %}

  <a href="/" class="logo"></a>

  <div class="content organization">
    <div class="container">
        <div class="signs nav-tabs">
          <a href="#organizations" data-toggle="tab"><div class="sign" id="sign-organizations2"></div></a>
          <a href="#student-nonprofits" data-toggle="tab"><div class="sign" id="sign-student-nonprofits"></div></a>
          <a href="#schools" data-toggle="tab"><div class="sign" id="sign-schools"></div></a>
          <a href="#municipalities" data-toggle="tab"><div class="sign" id="sign-municipalities"></div></a>
          <a href="#corporate-leaders" data-toggle="tab"><div class="sign" id="sign-corporate-leaders"></div></a>
          <a href="#why-partner" data-toggle="tab"><div class="sign" id="sign-why-partner"></div></a>
          <a href="#our-supporters" data-toggle="tab"><div class="sign" id="sign-our-supporters"></div></a>
          <a href="#" onclick="history.go(-1); return false;"><div class="sign organizations" id="sign-go-back-big"></div></a>

          <div id="sign-stump-long"></div>
        </div><!-- ./nav-tabs -->

        <div id="white-box" class="tab-content">

          <div class="tab-pane active" id="organizations">
            <h1 class="tab-titles">Organizations</h1>
            <p>
              My Clean City is a collaborative project. We strive to streamline youth engagement to build on existing environmental resources and efforts. Our goal is to <span class="bold">engage</span> and <span class="bold">retain</span> youth interest in <span class="bold">your</span> programs and meet your objectives. We are your portal to access youth.
            </p>
            <p>
              My Clean City collaborates with cities, schools, non-profits, and corporations on local, provincial and national levels.
            </p>
            <p>
              Our mission is only possible through collaborations with forward-thinking, responsible organizations.
            </p>
            <p>Our partners:</p>
            <ul>
              <li>Believe in the potential of youth</li>
              <li>Desire a more sustainable future</li>
              <li>Seek to bridge the gap between youth and community</li>
              <li>Wish to strengthen existing environmental efforts to foster leadership in young Canadians</li>
              <li>Strive to move beyond awareness for environmental change and promote action</li>
            </ul>

            <p>If you value these pillars we encourage you to <a href="mailto:partners@mycleancity.org">contact us</a> today to learn how we can work together!</p>
          </div>

          <div class="tab-pane" id="student-nonprofits">
            <h1 class="tab-titles">Nonprofits/Local Groups</h1>

            <p>My Clean City provides Organizations tools that:</p>

            <ul>
              <li>
                Manage volunteer registration and participation of current programming
              </li>
              <li>
                Effortlessly track and verify volunteer hours (no need for paper sign offs)
              </li>
              <li>
                Provides a unique, easy to use portal to promote existing programs to a motivated volunteer base
              </li>
              <li>
                Meet the needs of  youth volunteers with a social media enhanced outreach tool and mobile app technology
              </li>
              <li>
                Offers a rewards program to promote engagement and provide incentive for existing volunteers 
              </li>
            </ul>

            <p>Interested in getting involved? My Clean City’s tools are 100% free until August 31st, 2014! <a href="/contact">Contact us today</a> to learn more.</p>
          </div>

          <div class="tab-pane" id="schools">
            <h1 class="tab-titles">Schools</h1>

            <p>My Clean City provides Organizations tools that:</p>

            <ul>
              <li>
                Provide a creative interface to inspire not yet engaged students to participate in leadership and volunteerism 
              </li>
              <li>
                Engage students to apply leadership and classroom learning in your community
              </li>
              <li>
                Assists students in meeting their volunteering goals and adds accountability to their volunteer tracking (no self-reporting)
              </li>
              <li>
                Motivates students to participate in volunteer activities that develop higher order skills 
              </li>
              <li>
                Offers a portal for students to interact with local organizations and learn about existing community resources
              </li>
              <li>
                Brings your students together to work as a team both in and outside of the classroom 
              </li>
            </ul>

            <p>Want to learn more? <a href="/contact">Contact us today</a> to book a free demo.</p>
          </div>

          <div class="tab-pane" id="municipalities">
            <h1 class="tab-titles">Municipalities</h1>

            <p>My Clean City aligns with municipalities across Canada to support your goals in citizen engagement while also developing the next generation of your community leaders. Why cities are partnering with My Clean City:</p>

            <ul>
              <li>
                Provide youth a portal to interact with local organizations and learn about existing community resources 
              </li>
              <li>
                Demonstrate your commitment to building sustainable communities
              </li>
              <li>
                Support the development of young leaders who are invested in improving their city
              </li>
              <li>
                Access tools that track citizen participation in a variety of activities or applications
              </li>
              <li>
                Tap into a rewards program that provides incentive for local participation in community events
              </li>
              <li>
                Build vibrant communities with strong organizations and engaged citizens
              </li>
            </ul>

            <p><a href="/contact">Contact us today</a> to learn how we can work together.</p>
          </div>

          <div class="tab-pane" id="corporate-leaders">
            <h1 class="tab-titles">Corporate Leaders</h1>

            <p>My Clean City creates custom programs for each of our partners. We provide you:</p>

            <ul>
              <li>
                A critical portal to access the youth demographic
              </li>
              <li>
                An opportunity for a custom Clean Challenge to prompt youth to come into store locations, learn about product <span class="bold">and</span> service offerings, <span class="bold">as well as</span> discover company commitments to community
              </li>
              <li>
                A tool to quantify the impact of your corporate giving
              </li>
              <li>
                A means to demonstrate your brand dedication as a sustainability leader and become top of mind to <span class="bold">youth and emerging</span> professionals
              </li>
              <li>
                As a rewards partner, an opportunity to <span class="bold">increase brand loyalty</span> and generate new consumers among today’s youth.
              </li>
            </ul>

            <p><a href="/contact">Contact us today</a> to learn how we can work together.</p>
          </div>

          <div class="tab-pane" id="why-partner">
            <h1 class="tab-titles">Why Partner?</h1>
            <p>
              My Clean City strives to create an attitude shift towards volunteerism. My Clean City is a team created by YOUth for YOUth, with the aim of redefining volunteerism as fun, engaging, self-expressive, and rewarding.
            </p>
            <p>Our tools provide youth:</p>

            <ul>
              <li>Freedom to choose how, when and where they make a difference</li>
              <li>Earn and track required volunteer hours with ease</li>
              <li>Be recognized for their leadership and community contributions with rewards &amp; opportunities</li>
              <li>Participate in a peer led program that integrates with social networks and accommodates their mobile lifestyles.</li>
              <li>Volunteer with friends, compete with peers and have fun while getting involved in the community</li>
            </ul>
      
            <p>
              In giving youth the freedom to choose, and through utilizing <span class="green bold">Clean</span><span class="blue bold">Creds</span> — a results based program - My Clean City will engage and harness those efforts for measurable community change!
            </p>

          </div>

          <div class="tab-pane" id="our-supporters">
            <h1 class="tab-titles">Our Supporters</h1>

            <table class="supporters-table">
              <tr>
                <td><a href="http://www.staples.ca/" target="_blank"><img src="{{ STATIC_URL }}images/supporters/staples.jpg" alt="Staples" /></a></td>
              </tr>
            </table>

            <table class="supporters-table" style="margin-top: 20px;">
              <tr>
                <td><a href="http://www.hm.com/ca/" target="_blank"><img src="{{ STATIC_URL }}images/supporters/hm.jpg" alt="H &amp; M" /></a></td>
                <td><a href="http://kellyalovell.com/kellyEFFECT.html" target="_blank"><img src="{{ STATIC_URL }}images/supporters/kelly-effect.jpg" alt="Kelly Effect" /></a></td>
              </tr>
              <tr>
                <td><a href="http://entertainmentcoaching.com/" target="_blank"><img src="{{ STATIC_URL }}images/supporters/entertainment-coaching-2.jpg" alt="Entertainment Coaching" /></a></td>
              </tr>
            </table>

            <table class="supporters-table" style="margin-top: 20px;">
              <tr>
                <td><a href="http://www.terracycle.ca/" target="_blank"><img src="{{ STATIC_URL }}images/supporters/terracycle.jpeg" alt="Terracycle" /></a></td>
                <td><a href="http://www.ecyclesolutions.com/" target="_blank"><img src="{{ STATIC_URL }}images/supporters/ecycle.jpg" alt="E-Cycle Solutions" /></a></td>
                <td><a href="http://environmentaldefence.ca/" target="_blank"><img src="{{ STATIC_URL }}images/supporters/e-defence.jpg" alt="Environmental Defense" /></a></td>
              </tr>
              <tr>
                <td><a href="http://www.greenlearning.ca/" target="_blank"><img src="{{ STATIC_URL }}images/supporters/green-learning.jpg" alt="Green Learning" /></a></td>
                <td><a href="http://www.ymcagta.org/en/index.html" target="_blank"><img src="{{ STATIC_URL }}images/supporters/ymca-gta.JPG" alt="YMCA" /></a></td>
                <td><a href="http://ontarioecoschools.org/" target="_blank"><img src="{{ STATIC_URL }}images/supporters/eco-school.jpg" alt="Eco School" /></a></td>
              </tr>
              <tr>
                <td><a target="_blank"><img src="{{ STATIC_URL }}images/supporters/wren.jpg" alt="PPR" /></a></td>
                <td><a href="http://hakstudio.com" target="_blank"><img src="{{ STATIC_URL }}images/supporters/hak-studio.jpg" alt="Hak Studio" /></a></td>
                <td><a target="_blank"><img src="{{ STATIC_URL }}images/supporters/succinct.png" alt="Succinct Social Media" /></a></td>
              </tr>
              <tr>
                <td><a href="http://www.toronto.ca/" target="_blank"><img src="{{ STATIC_URL }}images/supporters/toronto.jpg" alt="Toronto" /></a></td>
                <td><a href="http://www.greenlivingshow.ca/" target="_blank"><img src="{{ STATIC_URL }}images/supporters/gls14.jpg" alt="GLS" /></a></td>
                <td><a href="http://www.shuttlerock.com/" target="_blank"><img src="{{ STATIC_URL }}images/supporters/shuttlerock.jpg" alt="Shuttlerock" /></a></td>
              </tr>
              <tr>
                <td><a href="http://townofparadise.ca/" target="_blank"><img src="{{ STATIC_URL }}images/supporters/top.jpg" alt="PPR" /></a></td>
              </tr>
            </table>
          </div>

        </div><!-- /#white-box -->
    </div><!-- /.container -->
  </div><!-- /.about -->
</div> <!-- /.wrapper -->
{% include "_footer_navbar.html" %}

{% endblock %}

{% block javascript %}{% endblock %}
