{% extends '_public_base.html' %}

{% block title %} My Clean City - Organizations {% endblock %}

{% block css %}
  <link href="{{ STATIC_URL }}css/mycleancity.css" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="wrapper public">
  <div class="clouds"></div>
  
  {% include "_public_navbar.html" %}
  
  <a href="/" class="logo"></a>
  
  <div class="content organization">
    <div class="container">

        <a href="#organizations" data-toggle="tab"><div class="sign" id="sign-organizations2"></div></a>
        <a href="#student-nonprofits" data-toggle="tab"><div class="sign" id="sign-student-nonprofits"></div></a>
        <a href="#municipalities" data-toggle="tab"><div class="sign" id="sign-municipalities"></div></a>
        <a href="#brands" data-toggle="tab"><div class="sign" id="sign-brands"></div></a>

        <a href="#our-value" data-toggle="tab"><div class="sign" id="sign-our-value"></div></a>

        <a href="#why-partner" data-toggle="tab"><div class="sign" id="sign-why-partner"></div></a>
        <a href="#our-supporters" data-toggle="tab"><div class="sign" id="sign-our-supporters"></div></a>
        <!-- <a href="#partnership-levels" data-toggle="tab"><div class="sign" id="sign-partnership-levels"></div></a> -->
        <!-- <a href="#impact" data-toggle="tab"><div class="sign" id="sign-impact"></div></a> -->
        <a href="#" onclick="history.go(-1); return false;"><div class="sign organizations" id="sign-go-back-big"></div></a>
        
        <div id="sign-stump-long"></div>
        
        <div id="white-box" class="tab-content">
          
          <div class="tab-pane active" id="organizations">
            <br/><br/><br/><br/><br/>
            <h1 class="tab-titles">Organizations</h1>
            <p>
              My Clean City is a collaborative project. We strive to streamline youth engagement to build on existing environmental resources and efforts. Our goal is to ENGAGE and RETAIN youth interest in YOUR programs and meet YOUR objectives. We are your portal to access youth. 
            </p>
            <p>
              My Clean City collaborates with cities, schools, non-profits, and corporations alike on local, provincial and national levels.
            </p> 
            <p><a href="#our-value" data-toggle="tab">Learn</a> how My Clean City can help you.</p>
          </div>

          <div class="tab-pane" id="student-nonprofits">
            <h1 class="tab-titles">Student/Youth Groups</h1>
            
            <p>Our program helps you engage your youth while meeting your environmental goals. My Clean City provides:</p>

            <ul>
              <li>
                A platform—coupled with an interactive social media format—that provides youth a channel to take on leadership roles and apply environmental classroom/organization learning in their communities
              </li>
              <li>
                A verified tool, which records volunteer impact, providing a means to meet academic requirements; reflection of leadership growth and community experience
              </li>
              <li>
                A results focused program that motivates students who are otherwise disengaged to participate in their community in addition to offering networking and positive reinforcement opportunities for at-risk youth
              </li>
              <li>
                A means of fundraising for classroom or organization needs through our Clean Team rewards program
              </li>
            </ul>
          </div>

          <div class="tab-pane" id="municipalities">
            <h1 class="tab-titles">Municipalities</h1>
                
            <p>My Clean City aligns with municipalities across Canada to support your goals in greening your city while developing the next generation of your community leaders. We provide: </p>

            <ul>
              <li>
                A program to support the development of young leaders with an investment in environmental health and prosperity
              </li>
              <li>
                A means to strengthen your existing environmental efforts while supporting local grassroots organizations
              </li>
              <li>
                A metric based tool to quantify local youth impact 
              </li>
              <li>
                An opportunity to demonstrate your commitment to building sustainable communities and a vibrant city with engaged citizens
              </li>
            </ul>
          </div>

          <div class="tab-pane" id="brands">
            <h1 class="tab-titles">Brands</h1>

            <p>My Clean City creates custom programs for each of our partners. We provide you:</p>

            <ul>
              <li>
                A critical portal to access the youth demographic
              </li>
              <li>
                An opportunity for a custom Clean Challenge to prompt youth to come into store locations, learn about product/service offerings and/or discover company commitments to community
              </li>
              <li>
                A tool to quantify the impact of your corporate giving
              </li>
              <li>
                A means to demonstrate your brand dedication as a sustainability leader and become top of mind to young professionals
              </li>
              <li>
                As a rewards partner, an opportunity to generate new consumers among today’s youth
              </li>
            </ul>
          </div>

          <div class="tab-pane" id="our-value">
            <h1 class="tab-titles">Our Value</h1>
            <p>
              Our mission is only possible through collaborations with forward-thinking, responsible organizations.
            </p>
            <p>Our partners:</p>
            <ul>
              <li>                
                believe in the potential of youth
              </li>
              <li>
                desire a more sustainable future
              </li>
              <li>
                seek to bridge the gap between youth and community
              </li>
              <li>
                wish to strengthen existing environmental efforts to foster leadership in young Canadians
              </li>
              <li>
                strive to move beyond awareness for environmental change and promote action
              </li>
            </ul>
            <p>
              If you value these pillars we encourage you to <a href="/contact/">contact us</a> today to learn more on how we can work together.
            </p>
          </div>

          <div class="tab-pane" id="why-partner">
            <br/><br/><br/>
            <h1 class="tab-titles">Why Partner With My Clean City</h1>
            <p>
              My Clean City strives to create an attitude shift towards volunteerism. My Clean City is a team created by youth for youth, with the aim of redefining volunteerism as fun, engaging, self-expressive, and rewarding.
            </p>
            <p>
              My Clean City is a portal to allow youth the freedom of choice—to choose how they get involved and at what level they get involved—and self-expression—to perform Clean Acts that are unique and express their inner creativity.
            </p>
            <p>
              In giving youth the freedom to choose, and through utilizing <span class="green bold">Clean</span><span class="blue bold">Creds</span> — a results based program - My Clean City will engage and harness those efforts for measurable environmental change!
            </p>
          </div>

          <div class="tab-pane" id="our-supporters">
            <h1 class="tab-titles">Our Supporters</h1>
            
            <table class="supporters-table">
              <tr>
                <td><a href="http://www.staples.ca/" target="_blank"><img src="{{ STATIC_URL }}images/supporters/staples.jpg" alt="Staples" /></a></td>
              </tr>
            </table>
            
            <table class="supporters-table" style="margin-top: 20px;">
              <tr>
                <td><a href="http://www.hm.com/ca/" target="_blank"><img src="{{ STATIC_URL }}images/supporters/hm.jpg" alt="H &amp; M" /></a></td>
                <td><a href="http://www.thekellyeffect.com/" target="_blank"><img src="{{ STATIC_URL }}images/supporters/kelly-effect.jpg" alt="Kelly Effect" /></a></td>
              </tr>
            </table>

            <table class="supporters-table" style="margin-top: 20px;">
              <tr>
                <td><a href="http://hakstudio.com" target="_blank"><img src="{{ STATIC_URL }}images/supporters/hak-studio.jpg" alt="Hak Studio" /></a></td>
                <td><a href="http://www.ecyclesolutions.com/" target="_blank"><img src="{{ STATIC_URL }}images/supporters/ecycle.jpg" alt="E-Cycle Solutions" /></a></td>
                <td><a href="http://www.ymcagta.org/en/index.html" target="_blank"><img src="{{ STATIC_URL }}images/supporters/ymca-gta.JPG" alt="YMCA" /></a></td>
              </tr>
              <tr>
                <td><a href="http://www.greenlearning.ca/" target="_blank"><img src="{{ STATIC_URL }}images/supporters/green-learning.jpg" alt="Green Learning" /></a></td>
                <td><a href="http://www.tigweb.org/" target="_blank"><img src="{{ STATIC_URL }}images/supporters/taking-it-global.jpg" alt="Taking it Global" /></a></td>
                <td><a href="http://ontarioecoschools.org/" target="_blank"><img src="{{ STATIC_URL }}images/supporters/eco-school.jpg" alt="Eco School" /></a></td>
              </tr>
              <tr>
                <td><a href="http://environmentaldefence.ca/" target="_blank"><img src="{{ STATIC_URL }}images/supporters/e-defence.jpg" alt="Environmental Defense" /></a></td>
                <td><a href="http://www.terracycle.ca/" target="_blank"><img src="{{ STATIC_URL }}images/supporters/terracycle.jpeg" alt="Terracycle" /></a></td>
              </tr>
            </table>            
          </div>

        </div><!-- /#white-box -->
    </div><!-- /.container -->
  </div><!-- /.about -->
</div> <!-- /.wrapper -->
{% include "_footer_navbar.html" %}

{% endblock %}

{% block javascript %}{% endblock %}