{% extends '_public_base.html' %}

{% block title %} My Effect - Rewards {% endblock %}

{% block css %}
  <link href="{{ STATIC_URL }}css/mycleancity.css" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="wrapper public">
  <div class="clouds"></div>
  
  {% include "_navbar.html" %}
  
  <a href="/" class="logo"></a>
  
  <div class="content rewards">
    <div class="container">
        <div class="signs nav-tabs">
          <a href="#cleancreds-calculation" data-toggle="tab"><div class="sign" id="sign-rewards2"></div></a>
          <a href="#cleancreds-calculation" data-toggle="tab"><div class="sign" id="sign-cleancreds-calculation"></div></a>
          <a href="#cleancreds-cheatsheet" data-toggle="tab"><div class="sign" id="sign-cleancreds-cheatsheet"></div></a>
          <a href="#clean-teams" data-toggle="tab"><div class="sign" id="sign-clean-teams"></div></a>
          <a href="#catalysts" data-toggle="tab"><div class="sign" id="sign-catalysts"></div></a>
          <a href="#grand-prize" data-toggle="tab"><div class="sign" id="sign-grand-prize"></div></a>
          <a href="#" onclick="history.go(-1); return false;"><div class="sign rewards" id="sign-go-back-big"></div></a>
          
          <div id="sign-stump-long"></div>
        </div><!-- ./nav-tabs -->
        
        <div id="white-box" class="tab-content">
          
          <div class="tab-pane active" id="cleancreds-calculation">
            <h1 class="tab-titles"><span class="green bold">Change</span> <span class="blue bold">Creds</span> Calculation</h1>

            <h2 class="question subtitle-blue">What are <span class="green bold">Change</span> <span class="blue bold">Creds</span>?</h2>
            <p>
              <span class="green bold">Change</span> <span class="blue bold">Creds</span> is our rewards system. It is a currency that is earned by volunteerism and community impact!
            </p>

            <h2 class="question subtitle-blue">How are <span class="green bold">Change</span> <span class="blue bold">Creds</span> Calculated?</h2>
            <p>
              Impact + Effect = <span class="green bold">Change</span> <span class="blue bold">Creds</span>!
            </p>
            <p><span class="green bold">Change</span> <span class="blue bold">Creds</span> are based on the volunteer hours donated to a Clean Challenge and the impact of your actions.</p>
            
            <h2 class="question subtitle-blue">How do we measure your hours?</h2>
            <p>
              Through our super cool new app available to download for your <a href="https://itunes.apple.com/us/app/my-clean-city-app/id880287683?ls=1&mt=8" target="_blank">iPhone</a> &amp; <a href="https://play.google.com/store/search?q=pub:My%20Clean%20City" target="_blank">Android</a>! Search for Actions near you, register to track your hours and share your progress with your friends.
            </p>

            <h2 class="question subtitle-blue">How do we calculate the impact of your efforts? </h2>
            <p>
              The impact of your actions is determined by our <span class="green bold">Change</span> <span class="blue bold">Creds</span> L.A.W.S:
            </p>

            <p><span class="bold">Land</span> - the effect of a Actions on our carbon footprint</p>
            <p><span class="bold">Air</span> – the ability of the Actions to positively change air quality</p>
            <p><span class="bold">Water</span> – the impact of your Actions on water use, contaminant levels and pollution</p>
            <p><span class="bold">Species</span> – the impact of your Actions on the ecosystems and populations of animals</p>
            <p><span class="bold">Result</span>: a metric based score that measures volunteer impact</p>

            <p>
              <a class="badge-join" href="/register/"><img src="{{ STATIC_URL }}images/badge-join-200-145.png" alt=""/></a>
            </p>
          </div>

          <div class="tab-pane" id="cleancreds-cheatsheet">
            <h1 class="tab-titles"><span class="green bold">Change</span> <span class="blue bold">Creds</span> Cheatsheet</h1>
            <h2 class="question subtitle-blue">How do I earn <span class="green bold">Change</span> <span class="blue bold">Creds</span>?</h2>
            
            <p>You earn <span class="green bold">Change</span> <span class="blue bold">Creds</span> in two ways:</p>
            <ol>
              <li>Completing Actions and making a difference</li>
              <li>Mobilizing your friends to get involved as a community leader</li>
            </ol>

            <p>Here are some quick tips to boost your score:</p>

            <ol>
              <li>
                <span class="bold">Impact:</span> Each Actions will have a <span class="bold green">Clean</span><span class="bold blue">Creds</span> multiplier based on the impact of your actions. The greater the impact your Actions has on our environment the more ChangeCreds you earn per hour!
              </li>
              <li>
                <span class="bold">Lead:</span> Sign Up as an <a href="/students#ambassador"></a>Ambassador to lead a Change Team. Earn <span class="bold blue">50 bonus</span> <span class="green bold">Change</span> <span class="blue bold">Creds</span> for taking leadership in your community to mobilize your peers and make a positive difference
              </li>
              <li>
                <span class="bold">Recruit:</span> Earn <span class="bold blue">5 bonus</span> <span class="green bold">Change</span> <span class="blue bold">Creds</span> for every Catalyst that signs up to support your Change Team
              </li>
              <li>
                <span class="bold">Support:</span> Help your friends by sponsoring their Change Team. Sign up as a Catalyst to earn <span class="bold blue">20 bonus</span> <span class="green bold">Change</span> <span class="blue bold">Creds</span>
              </li>
              <li>
                <span class="bold">Connect:</span> Interact with us on social media to be entered into weekly contests and <span class="green bold">Change</span> <span class="blue bold">Creds</span> giveaways. Follow <a href="http://twitter.com/MyCleanCity1">@MyCleanCity1</a>. Trend <a href="http://twitter.com/#MyCleanCity">#MyCleanCity</a>
              </li>
            </ol>
          </div>

          <div class="tab-pane" id="clean-teams">
            <h1 class="tab-titles">Change Team Rewards</h1>
            <p>
              You have accepted the challenge to be a leader in your community and My Effect has some extra special rewards lined up for your efforts!
            </p>
            <p>
              Move up in our Change Team Level system as you grow your team page and unlock special opportunities including mentorship, leadership recognition and team rewards. 
            </p>

            <h2 class="question subtitle-blue">Reward Highlights</h2>
            
            <p>
              Our top National Change Team will win a $1000 Staples Gift Card prize pack. 
            </p>
            <p>
              From tablets, laptops, project supplies and much more, our top Change Team will have the opportunity to splurge on whatever they need at Staples.
            </p>
            <img class="images-padded-10" src="{{ STATIC_URL }}images/rewards/staples-giftcard.png" alt="" />
            <img class="images-padded-10" src="{{ STATIC_URL }}images/rewards/staples-computer.jpg" alt="" />

            <p>Our 2nd &amp; 3rd place Top Teams will win $500 Staples Gift Card Prize Pack.</p>

            <p>There’s more! Each Top Provincial Team will receive $250 Staples Prize Pack.</p>

            <p>
              We have many more surprises waiting for you so be sure to follow us on twitter <a target="_blank" href="http://twitter.com/MyCleanCity1">@MyCleanCity1</a> and instagram <a target="_blank" href="http://instagram.com/MyCleanCity1">@MyCleanCity</a> for special contests and updates.
            </p>
          </div>

          <div class="tab-pane" id="catalysts">
            <h1 class="tab-titles">Catalyst Rewards</h1>
            <p>
              With My Effect, volunteering is a rewarding experience both figuratively and literally!
            </p>
            <p>
              Our partners are excited to recognize YOUth for your impact. My Effect has over $10,000 worth of gift cards to give away to our dedicated members by August 31st!
            </p> 
            <p>In addition to qualifying for our <a href="#grand-prizes">grand prizes</a> your <span class="green bold">Change</span> <span class="blue bold">Creds</span> can be redeemed for a variety of other rewards. Some rewards to look forward to:</p>

            <!-- <table class="rewards-table">
              <tr>
                <td class="reward">
                  <img src="{{ STATIC_URL }}images/rewards/staples-giftcard.png" alt="Staples Giftcard" />
                  <span class="title">Staples Gift Cards</span>
                </td>
                <td class="reward">
                  <img src="{{ STATIC_URL }}images/rewards/hm-giftcard.png" alt="Staples Giftcard" />
                  <span class="title">H&amp;M Gift Cards</span>
                </td>
                <td class="reward">
                  <img src="{{ STATIC_URL }}images/rewards/grass-roots-giftcard.png" alt="Grass Roots Giftcard" />
                  <span class="title">Grass Roots Gift Card</span>
                </td>
              </tr>
              <tr>
                <td colspan="3" class="reward">
                  <img src="{{ STATIC_URL }}images/rewards/epishock-product.png" alt="Epishock Environmental Products" />
                  <span class="title">Environmental Products at Grass Roots Store</span>
                </td>
              </tr>
            </table> -->

            <h2 class="subtitle-blue">2 for 1 - Double H&amp;M credit for every hour</h2>
            <p>
              Collect 25 volunteer hours with My Effect and earn a $50 H&amp;M Gift Card* 
            </p>
            <div class="reward">
              <img src="{{ STATIC_URL }}images/rewards/hm-giftcard.png" alt="Staples Giftcard" />
            </div>

            <h2 class="subtitle-blue">Clean Superstar Prize Pack</h2>
            <p>
              Earn all of your 40 volunteers hours with My Effect.
            </p>
            <p>Redeem for $100 H&amp;M gift card AND $100 Staples Gift card*</p>

            <h2 class="subtitle-blue">Top 10 Champions</h2>
            <p>
              Top 10 Catalysts with the highest <span class="green bold">Change</span> <span class="blue bold">Creds</span> scores will receive a $50 H&amp;M gift card.
            </p>

            <h2 class="subtitle-blue">Cool Surprises</h2>
            <p>
              Some surprises prize packs for our dedicated members 
              (hint: we love electronics including tablets &amp; laptops...we also love to shop, wouldn’t it be cool to close down a store for a private shopping experience? :P). 
            </p>
            
            <p>
              Be sure to follow us on Twitter <a target="_blank" href="http://twitter.com/MyCleanCity1">@MyCleanCity1</a> and like us on <a href="https://www.facebook.com/pages/My-Clean-City/203721359785216?ref=br_tf">Facebook</a> to stay up to date on our national challenge and to learn more about our rewards! 
            </p>  
            
            <p>
              <a class="badge-join" href="/register/"><img src="{{ STATIC_URL }}images/badge-join-200-145.png" alt=""/></a>
            </p>
          </div>

          <div class="tab-pane" id="grand-prize">
            <h1 class="tab-titles">Grand Prize</h1>
            <p>
              Our top national Catalyst with the highest ChangeCred score will deserve to end summer in style (*). 
            </p>
            <p><span class="blue">Win a trip to New York City &amp; luxury experience!</span></p>
          
            <table class="grand-prize-table">
              <tr>
                <td>
                  <img src="{{ STATIC_URL }}images/rewards/nyc-tours.png" alt="Pups United" />
                </td>
                <td>
                  <h2 class="subtitle-blue">Grand Prize 1 - My Clean Style</h2>
                  <p>
                    Win a luxury shopping tour in New York City! Explore the city that never sleeps and shop in the absolute trendiest boutiques in New York City. Luxury Shopping Tour Includes:
                  </p>
                  <ul>
                    <li>
                      Flight &amp; accommodations
                    </li>
                    <li>
                      Exclusive boutique discounts (up to 20% off)
                    </li>
                    <li>
                      Private designer showroom visit (by special request – weekdays only)
                    </li>
                    <li>
                      Luxury transportation with chauffeur
                    </li>
                    <li>
                      Complimentary beverages and snacks while you shop
                    </li>
                    <li>
                      Style Tips from a Style-Savvy Guide &amp; emailed Shopping Guide
                    </li>
                    <li>
                      Visit some of the hippest neighborhoods in NYC
                    </li>
                    <li>
                      Lunch reservations at a trendy restaurant in the Meatpacking District
                    </li>
                  </ul>
                </td>
              </tr>
            </table>
            
            <p>Our 2nd and 3rd place runner ups still get to enjoy a shopping splurge with a $200 gift card prize pack from H&amp;M!</p>

            <div id="grand-prize-title">
              <h2 class="subtitle-blue">Grand Prize Sponsor</h2>
              <p>
                These amazing opportunities are brought to you by My Effect’s partner Entertainment Coaching. Entertainment Coaching is the only online community where aspiring artists in the entertainment business can get connected, receive hands on coaching, collaborate, create, and build a fan base online. EntertainmentCoaching.com brings you real opportunities to jumpstart your career every month and REALTIME webinar collaboration with coaches who have launched the careers of Zach Efron, Jennifer Hudson, Queen Latifa, Cole Sprouse, and more!</p>
              <p>
                If you have a passion for acting, singing, dancing or modeling, use promo code KL30 and you can start receiving mentorship from top industry Pros at <a href="http://www.entertainmentcoaching.com">www.entertainmentcoaching.com</a>.
              </p>

              <img src="{{ STATIC_URL }}images/rewards/entertainment-coaching.png" alt="Entertainment Coaching" />
            </div>

            <p>
              Be sure to follow us on Twitter <a target="_blank" href="http://twitter.com/MyCleanCity1">@MyCleanCity1</a> and like us on <a href="https://www.facebook.com/pages/My-Clean-City/203721359785216?ref=br_tf">Facebook</a> to stay up to date on our national challenge and to learn more about our rewards! 
            </p>  

            {% if not user.is_authenticated %}            
            <p>
              <a class="badge-join" href="/register/"><img src="{{ STATIC_URL }}images/badge-join-200-145.png" alt=""/></a>
            </p>
            {% endif %}
            
            * Winner must have 20 volunteers hours​ or have a ChangeCred score of 10,000 or higher to qualify
          </div>

        </div><!-- /#white-box -->
    </div><!-- /.container -->
  </div><!-- /.about -->
</div> <!-- /.wrapper -->
{% include "_footer_navbar.html" %}

{% endblock %}

{% block javascript %}{% endblock %}