{% extends '_public_base.html' %}

{% block title %} My Clean City - Students {% endblock %}

{% block css %}
  <link href="{{ STATIC_URL }}css/mycleancity.css" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="wrapper public">
  <div class="clouds"></div>
  
  {% include "_public_navbar.html" %}
  
  <a href="/" class="logo"></a>
  
  <div class="content student">
    <div class="container">

        <a href="#students" data-toggle="tab"><div class="sign" id="sign-students2"></div></a>
        <a href="#why-mcc" data-toggle="tab"><div class="sign" id="sign-why-mcc"></div></a>
        <a href="#get-started" data-toggle="tab"><div class="sign" id="sign-get-started"></div></a>
        <a href="#ambassador" data-toggle="tab"><div class="sign" id="sign-ambassador"></div></a>
        <a href="#get-rewarded" data-toggle="tab"><div class="sign" id="sign-get-rewarded"></div></a>
        <a href="#go-viral" data-toggle="tab"><div class="sign" id="sign-go-viral"></div></a>
        <a href="#" onclick="history.go(-1); return false;"><div class="sign students" id="sign-go-back-big"></div></a>

        
        <div id="sign-stump-long"></div>
        
        <div id="white-box" class="tab-content">

          <div class="tab-pane active" id="students">
            <h1 class="tab-titles">Students</h1>
            <p>
              What if you could have the freedom to choose how, when, and where you make an impact?
            </p>
            <p>
              What if community involvement could be about more than just volunteer hours?
            </p>
            <p>
              What if you could earn rewards for your effort?
            </p>
            <p>
              With My Clean City volunteerism can be fun and create new opportunities. We are a leadership initiative made for YOUth by YOUth. 
            </p>
            <p>
              Our goal is to provide YOUth with a portal to:
            </p>
            <ol>
              <li>Collaborate with peers</li>
              <li>Engage in <a href="http://twitter.com/#CleanActs" target="_blank"><span class="bold blue">#Clean</span><span class="bold green">Acts</span></a> and fun challenges</li>
              <li>Make an environmental impact </li>
            </ol>
            
            <p>
              There are endless opportunities to express yourself, such as creating your own videos, taking part in flash mobs, and participating in social media competitions.
            </p>

            <p>
              <a class="badge-join" href="/register/"><img src="{{ STATIC_URL }}images/badge-join-200-145.png" alt=""/></a>
            </p>
            <p class="center">Register before <span class="blue bold">February 24th</span> and <span class="bold">earn 50 bonus</span> <span class="green bold">Clean</span><span class="blue bold">Creds</span>.</p>
            <p class="center">*This program is for youth under the age of 25.</p>
          </div>

          <div class="tab-pane" id="why-mcc">
            <h1 class="tab-titles">Why My Clean City?</h3>
            <p>
              YOU want to make a difference but YOU DON’T want to be told what to do!  My Clean City was created for YOUth who want to show the world what they can do and be CREATIVE doing it!
            </p>
            
            <div id="overview-infographic-thumbnail">
              <a class="popup-image" href="#infographic-overview"><img src="{{ STATIC_URL }}images/infographic-overview.png" alt="" /></a>
            </div>
            
            <p><span class="bold">Engage</span> – Connect with like-minded peers and community leaders who are passionate about making a difference.</p>

            <p><span class="bold">Impact</span> – Sign up for <a href="http://twitter.com/#CleanActs" target="_blank"><span class="bold blue">#Clean</span><span class="bold green">Acts</span></a> to make a positive environmental impact in your community.</p>

            <p><span class="bold">Earn</span> – Get rewarded for your effort by earning CleanCreds. The greater the impact, the more you receive!</p>

            <p><span class="bold">Redeem</span> – Cash in your CleanCreds for awesome rewards including gift cards, event tickets, scholarships, and leadership opportunities.</p>

            <div class="clear"></div>
            <p>
              <a class="badge-join" href="/register/"><img src="{{ STATIC_URL }}images/badge-join-200-145.png" alt=""/></a>
            </p>
            <p class="center">Register before <span class="blue bold">February 24th</span> and earn <span class="blue bold">50 bonus CleanCreds</span>.</p>
          </div>

          <div class="tab-pane" id="get-started">
            <h1 class="tab-titles">Get Started</h1>
            <p>Your Impact Your Way!</p>
            <p>You can an environmental difference in your community as part of a group or as an individual.</p>

            <p>There are three levels to get involved:</p>
            <ol>
              <li>
                <p>
                  <a class="popup-image" href="#infographic-clean-team">Clean Team</a> - Take a leadership role and become a <a href="#ambassador" data-toggle="tab">Clean Ambassador</a> with a group of 3-5 of your friends. You can even represent your school as official My Clean City program leaders. Get your own team page to create <a href="http://twitter.com/#CleanActs" target="_blank"><span class="bold blue">#Clean</span><span class="bold green">Acts</span></a>, unlock special levels and exclusive opportunities. 
                </p>
              </li>

              <li>
                <p>
                  Clean Champion - Sponsor a Clean Team for your friends or school. Earn <span class="green bold">Clean</span><span class="blue bold">Creds</span> on your own while donating bonus points to your friends and staying in the loop with exclusive updates from their teams.
                </p>
                <p>
                  Earn a bonus <span class="blue bold">20</span> <span class="green bold">Clean</span><span class="blue bold">Creds</span> for supporting your friend <img src="{{ STATIC_URL }}images/badge-cc-80x64.png" alt="" />
                </p> 
              </li>

              <li>
                <p>
                  <a class="popup-image" href="#infographic-individual">Individual</a> - You are a free agent, choose the <a href="http://twitter.com/#CleanActs" target="_blank"><span class="bold blue">#Clean</span><span class="bold green">Acts</span></a> you want to complete, move up the leaderboard on your own and earn individual rewards
                </p>
              </li>
            </ol>

            <p>
              <a class="badge-join" href="/register/"><img src="{{ STATIC_URL }}images/badge-join-200-145.png" alt=""/></a>
            </p>

            <p class="center">Register before <span class="blue bold">February 24th</span> and <span class="bold">earn 50 bonus</span> <span class="green bold">Clean</span><span class="blue bold">Creds</span>.</p>
            <p class="center">*This program is for youth under the age of 25.</p>
          </div>

          <div class="tab-pane" id="ambassador">
            <h1 class="tab-titles">Become an Ambassador</h1>

            <p>Create your own Clean Team and send requests to friends to join your <a href="http://twitter.com/#CleanActs" target="_blank"><span class="bold blue">#Clean</span><span class="bold green">Acts</span></a>!</p>
            <p>We need ambitious and charismatic youth to lead their peers in environmental change—make your city a <a href="http://twitter.com/#mycleancity" target="_blank">#mycleancity</a></p>
            <p>Our Ambassadors are our leaders. They inspire others to make an impact and take on an active role in marketing and communications on behalf of My Clean City. Run by YOUth for YOUth, you are our face and voice in your city!</p>
            <p>As a Clean Ambassador, you get to:</p>

            <ul>
              <li><span class="bold">Choose</span> how, when and where you lead others to make a difference</li>
              <li>Approach environmental, not-for-profit and grass roots organizations you want to work with and <span class="bold">create your own <a href="http://twitter.com/#CleanActs" target="_blank"><span class="bold blue">#Clean</span><span class="bold green">Acts</span></a></span></li>
              <li>Get official My Clean City <span class="bold">swag</span>, your own team page and social media hubs to share your ideas and take action in your community</li>
              <li>Participate in <span class="bold">exclusive Clean Team challenges</span> with our brand partners</li>
              <li>Unlock <span class="bold">special rewards</span> and leadership opportunities</li>
              <li>Become a <a href="http://twitter.com/#mycleanvoice" target="_blank">#mycleanvoice</a>  and be featured in our national challenge</li>
            </ul>

            <p>
              <a class="badge-join" href="/register/"><img src="{{ STATIC_URL }}images/badge-join-200-145.png" alt=""/></a>
            </p>
            <p class="center"><a href="/register/">Register</a> to be an ambassador to <span class="bold">earn 50 bonus</span> <span class="green bold">Clean</span><span class="blue bold">Creds</span>.</p>
            <p class="center">Double your bonus <span class="green bold">Clean</span><span class="blue bold">Creds</span> and register before February 24th to earn<br/>another 50 bonus <span class="green bold">Clean</span><span class="blue bold">Creds</span>!</p>
          </div>

          <div class="tab-pane" id="get-rewarded">
            <h1 class="tab-titles">Get Rewarded</h1>
            
            <p>
              My Clean City wants to recognize you for your actions. Cash in your volunteer hours for awesome rewards including gift cards, event tickets, scholarships, and leadership opportunities.
            </p>

            <h2 class="subtitle-blue" style="margin-top: 17px;">How do I earn rewards?</h2>
            <ul>
              <li>Take Action</li>
              <li>Complete <a href="http://twitter.com/#CleanActs" target="_blank"><span class="bold blue">#Clean</span><span class="bold green">Acts</span></a></li>
              <li>Earn <span class="green bold">Clean</span><span class="blue bold">Creds</span></li>
            </ul>

            <h2 class="subtitle-blue" style="margin-top: 17px;">How do <span class="green bold">Clean</span><span class="blue bold">Creds</span> work?</h2>
            <p>
              <span class="green bold">Clean</span><span class="blue bold">Creds</span> allow you to measure your impact and compete with your peers on a national level! It’s like volunteering where you get to keep score! Choose what you want to do, and show others your accomplishments! Become a TOP competitor and move up on our <a href="/users/leaderboard/">Leader Board</a>.
            </p>
            <p>
              Visit our <a href="/rewards">Rewards Hub</a> for a <span class="green bold">Clean</span><span class="blue bold">Creds</span> cheat sheet and learn how to boost your score.
            </p>

          </div>

          <div class="tab-pane" id="go-viral">
            <br/><br/><br/><br/>
            <h1 class="tab-titles">Go Viral</h1>
            <p>
              Make our message your message!  
            </p>

            <p>Join the <a href="http://twitter.com/#MyCleanCity" target="_blank">#MyCleanCity</a> Challenge on Twitter, Instagram, and Facebook</p>

            <ul>
              <li>Twitter: <a href="http://twitter.com/@MyCleanCity1" target="_blank">@MyCleanCity1</a></li>
              <li>Instagram: <a href="http://instagram.com/MyCleanCity" target="_blank">@MyCleanCity</a></li>
            </ul>

            <h2 class="subtitle-blue" style="margin-top: 17px;">Follow us. Tag us. Like us.</h2>
            <p>See how others express their <a href="http://twitter.com/#mycleanvoice" target="_blank">#mycleanvoice</a> in our <a href="/media-hub">Communications Hub</a>.</p>

          </div>

        </div><!-- /#white-box -->
    </div><!-- /.container -->
  </div><!-- /.about -->
</div> <!-- /.wrapper -->

<div class="popup-container">
  <div id="infographic-overview" class="popup">
    <img src="{{ STATIC_URL }}images/infographic-overview.png" alt="" />
  </div>
  <div id="infographic-individual" class="popup">
    <img src="{{ STATIC_URL }}images/infographic-individual.png" alt="" />
  </div>
  <div id="infographic-clean-team" class="popup">
    <img src="{{ STATIC_URL }}images/infographic-clean-team.png" alt="" />
  </div>
</div><!-- /.popup-container -->
{% include "_footer_navbar.html" %}

{% endblock %}

{% block javascript %}{% endblock %}