{% extends '_public_base.html' %}

{% block title %} My Clean City - Students {% endblock %}

{% block css %}
  <link href="{{ STATIC_URL }}css/mycleancity.css" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="wrapper public">
  <div class="clouds"></div>
  
  {% include "_public_navbar.html" %}
  
  <a href="/" class="logo"></a>
  
  <div class="content student">
    <div class="container">

        <a href="#students" data-toggle="tab"><div class="sign" id="sign-students2"></div></a>
        <a href="#explain-it" data-toggle="tab"><div class="sign" id="sign-student-explain-it"></div></a>
        <a href="#join-challenge" data-toggle="tab"><div class="sign" id="sign-join-challenge"></div></a>
        <a href="#ambassador" data-toggle="tab"><div class="sign" id="sign-ambassador"></div></a>
        <a href="#get-rewarded" data-toggle="tab"><div class="sign" id="sign-get-rewarded"></div></a>
        <a href="#get-connected" data-toggle="tab"><div class="sign" id="sign-get-connected"></div></a>
        <a href="#" onclick="history.go(-1); return false;"><div class="sign students" id="sign-go-back-big"></div></a>

        
        <div id="sign-stump-long"></div>
        
        <div id="white-box" class="tab-content">

          <div class="tab-pane active" id="students">
            <!-- <br/><br/><br/><br/><br/> -->
            <h1 class="tab-titles">Students</h1>
            <p>
              What if you had the freedom to choose how, when, and where you make the difference?
            </p>
            <p>
              What if community involvement was no longer just about volunteer hours?
            </p>
            <p>
              What if...you could earn REWARDS and be RECOGNIZED for your impact!
            </p>
            <p>
              With My Clean City volunteer work is a thing of the past, we live in a world where volunteerism breaths fun and opportunity.  We are a leadership initiative created for YOUth by YOUth.
            </p>
            <p>
              Our goal is to provide YOUth with a platform to collaborate with peers, partake in fun challenges and make a difference all at the same time!
            </p>
            <p>
              Are you ready to play? 
            </p>
            <p>
              <a href="/register/">Join the challenge</a>
            </p>
          </div>

          <div class="tab-pane" id="explain-it">
            <h1 class="tab-titles">Why Join The Team?</h3>
            <p>
              YOU want to make a difference but YOU DON'T want to be told how and what to do!  My Clean City was created for YOUth who want to show the world all they can do and be CREATIVE doing it!
            </p>
            <p>
              We are a portal for you to connect with like-minded peers, leading corporations, not-for-profit environmental organizations, and scholarship organizations - AND all through one avenue!
            </p>
            <p>
              My Clean City provides a social media powered program to showcase yourself and your achievements to a multitude of organizations. By partaking in our Clean Challenges, you will gain valuable experience, participate with friends, take on leadership roles and earn volunteer hours for it all!
            </p>
            <p>
              The great part is that you choose what challenges you wish to take part in, and which ones you don't! If you join a <a href="/clean-team/" target="_blank">Clean Team</a> you can even create your own challenges!
            </p>
            <p>
              My Clean City challenges are FUN! There are endless opportunities to EXPRESS yourself, including challenges to create your own videos, participate in flash mobs, engage in social media competition and more
            </p>
            <p>
              <span class="green bold">Clean</span><span class="blue bold">Creds</span> allow you to measure your impact and compete with your peers on a national level! YOU choose how and what you want to do, and others can see your accomplishments! Become a TOP competitor and earn a spot on our <a href="/users/leaderboard/" target="_blank">LEADER BOARD</a>.
            </p>
            <p>Finally, an EXCITING and REWARDING way to make a difference!</p>
            
            <p><a href="/register/">Register today</a></p>
          </div>

          <div class="tab-pane" id="join-challenge">
            <h1 class="tab-titles">Join the Challenge</h1>
            <p>Play as an individual or as part of a group!</p>

            <p>There are three levels of play:</p>
            <ol>
              <li>
                <p>
                  <a href="#infographic-individual">Individual</a> - You are a free agent, choose the challenges you want to complete, move up the leaderboard on your own and earn individual rewards
                </p>
              </li>
              <li>
                <p>
                  Clean Champion - Sponsor a Clean Team or your school. Earn <span class="green bold">Clean</span><span class="blue bold">Creds</span> on your own while donating bonus points to your friends and staying in the loop with exclusive updates from their tea
                </p>
                <p>
                  Earn a bonus 20 <span class="green bold">Clean</span><span class="blue bold">Creds</span> for supporting your friend <img src="{{ STATIC_URL }}images/badge-cc-56x45.png" alt="" />
                </p> 
              </li>
              <li>
                <p>
                  <a href="#infographic-clean-team">Clean Team</a> - Take a leadership role and become a Clean Ambassador <link to ambassador tab> with a group of 3-5 of your friends. You can even represent your school as official My Clean City program leaders. Get your own team page to create Clean Challenges, unlock special levels and exclusive opportunities. 
                </p>
                <p>
                  Are you ready to Play CLEAN? <a href="/register/">Register</a>.
                </p>

              </li>
            </ol>
          </div>

          <div class="tab-pane" id="ambassador">
            <h1 class="tab-titles">Become an Ambassador for Change</h1>
            <p>Create your own Clean Team and send requests to friends to join your Clean Challenge!</p>
            <p>We need ambitious and charismatic youth to lead their peers in environmental change—make your city a <a href="http://twitter.com/#mycleancity" target="_blank">#mycleancity</a></p>
            <p>Our Ambassadors are our leaders. They inspire others to join PLAY CLEAN and take on an active role in marketing and communications on behalf of My Clean City. Run by YOUth for YOUth, you are our face and voice in your city!</p>
            <p>As a Clean Ambassador, you get to:</p>

            <ul>
              <li>Choose how, when and where you lead others to make a differen</li>
              <li>Approach environmental, not-for-profit and grass roots organizations you want to work with and create your own Clean Challenge</li>
              <li>Get official My Clean City swag, your own team page and social media hubs to share your ideas and take action in your community</li>
              <li>Participate in exclusive Clean Team challenges with our brand partners</li>
              <li>Unlock special rewards and leadership opportunities</li>
              <li>Become a <a href="http://twitter.com/#mycleanvoice" target="_blank">#mycleanvoice</a>  and be featured in our national challenge</li>
            </ul>

            <p>
              <a href="/register/">Sign up</a> to be an ambassador and take on a leadership role! EARN 50 BONUS <span class="green bold">Clean</span><span class="blue bold">Creds</span> <img src="{{ STATIC_URL }}images/badge-ca-62x45.png" alt="" />
            </p> 
          </div>

          <div class="tab-pane" id="get-rewarded">
            <br/><br/><br/> 
            <h1 class="tab-titles">Get Rewarded</h1>
            <p>
              Cash in your volunteer hours!  
            </p>
            <p>My Clean City wants to recognize you for your action</p>

            <h1 class="tab-titles" style="margin-top: 17px;">How Do I Earn Rewards?</h1>
            <ul>
              <li>Take Action</li>
              <li>Complete Challenges</li>
              <li>Earn <span class="green bold">Clean</span><span class="blue bold">Creds</span></li>
            </ul>
            <p>See how others express their <a href="http://twitter.com/#Cleanstyle" target="_blank">#Cleanstyle</a> in our <a href="/media-hub">Media Hub</a></p>
          </div>

          <div class="tab-pane" id="get-connected">
            <br/><br/><br/><br/>
            <h1 class="tab-titles">Get Connected</h1>
            <p>
              Make our message YOUR message!  
            </p>
            <p>Go on your twitter/Instagram/Facebook and join the <a href="http://twitter.com/#mycleancity" target="_blank">#mycleancity</a> movement!</p>
            <p>Follow us.  Tag us. Like us</p>
            <ul>
              <li>Twitter: <a href="http://twitter.com/@MyCleanCity1" target="_blank">@MyCleanCity1</a></li>
              <li>Instagram &amp; Vine: <a href="http://instagram.com/MyCleanCity" target="_blank">@MyCleanCity</a></li>
            </ul>
            <p>See how others express their <a href="http://twitter.com/#Cleanstyle" target="_blank">#Cleanstyle</a> in our <a href="/media-hub">Media Hub</a>.</p>
          </div>

        </div><!-- /#white-box -->
    </div><!-- /.container -->
  </div><!-- /.about -->
</div> <!-- /.wrapper -->
{% include "_footer_navbar.html" %}

{% endblock %}

{% block javascript %}{% endblock %}