{% extends '_public_base.html' %}
{% load i18n %}

{% block title %} My Effect {% endblock %}

{% block css %}
  <link href="{{ STATIC_URL }}css/mycleancity.css" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="container index">
  <div class="clouds"></div>
  <div class="tree"></div>
  <div class="logo"></div>
  <h1 class="title">{%trans "Change starts with ME!" %}</h1>
  <div class="wrapper">
      <ul class="successlist">
        <li>{%trans "Thank you! You will be notified when we launch." %}</li>
      </ul>
  </div><!-- /wrapper -->

  <div class="social-media">
    <h2>{%trans "Let's stay in touch" %}</h2>
    <a id="facebook" href="https://www.facebook.com/pages/My-Clean-City/203721359785216" target="_blank"></a>
    <a id="twitter" href="https://twitter.com/MyCleanCity1" target="_blank"></a>
  </div>
</div> <!-- /container -->
<div class="green"></div>

{% endblock %}

{% block javascript %}{% endblock %}
