{% extends '_public_mobile_base.html' %}

{% block title %} My Clean City - Register {% endblock %}

{% block css %}
  <link href="{{ STATIC_URL }}css/mycleancity.css" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="container mobile-view" id="mobile-register-view">            
    <a href="/" class="logo"></a> 
      
	<div id="white-box">
		{% if form.non_field_errors %}
	      <div class="message-box error">
	      {{ form.non_field_errors }}
	      </div>
	    {% endif %}

		<div class="fb-share-button" style="margin-right: 30px;" data-href="http://www.mycleancity.org{{ page_url }}" data-type="button_count" data-show-faces="true" data-send="false"></div>

	    <a href="http://www.mycleancity.org{{ page_url }}" class="twitter-share-button" data-text="I'm cleaning up the environment by signing up for My Clean City" data-url="http://www.mycleancity.org{{ page_url }}">Tweet</a>

	    <form method="post" autocomplete="off">{% csrf_token %}
			{{ form.token }}
			<div id="register-table">
				<span>{{ form.first_name.label_tag }} {{ form.first_name }}</span>
				<span>{{ form.last_name.label_tag }} {{ form.last_name }}</span>
				<span>{{ form.email.label_tag }} {{ form.email }}</span>
				<span style="text-wrap: normal;">{{ form.password.label_tag }} {{ form.password }}</span>
				<span>{{ form.confirm_password.label_tag }} {{ form.confirm_password }}</span>
				<span>{{ form.city.label_tag }} {{ form.city }}</span>
				<span>{{ form.province.label_tag }} {{ form.province }}</span>
				<span>{{ form.communication_language.label_tag }} {{ form.communication_language }}</span>
				<span>{{ form.hear_about_us.label_tag }} {{ form.hear_about_us }}</span>
				<span>{{ form.age.label_tag }}{{ form.age }}</span>
				<span>{{ form.role }}</span>
				<span>{{ form.smartphone }}<label for="">Do you have a smartphone? <br /> Est-ce que tu as un téléphone intelligent?</label></span>
				<span>{{ form.receive_newsletters }}<label for="">I would like to receive My Clean City communications containing important program announcements, news, updates, partner opportunities, contests and promotions, regarding My Clean City's program and tools. You may withdraw consent at anytime. <br /> J'aimerais recevoir toutes communications de la part de Ma Ville Propre à propos des programmes, des nouvelles, des mises à jour, des opportunités avec les partenaires, des concours et des promotions, en lien avec le programme et les outils de Ma Ville Propre. Vous pouvez annuler votre inscription en tout temps. </label></span>
				<span>{{ form.uea }}<label for="">I agree that I have read and accepted the <a href="#terms-conditions" class="popup-600">Terms &amp; Conditions</a> <br /> Je reconnais que j'ai lu et j'accepte les <a href="#terms-conditions-fr" class="popup-600">Conditions générales</a></label></span>
				<span>{{ form.captcha }}</span>
				<span><input class="btn btn-primary" type="submit" value="Register / Inscription" /></span>
			</table>              
		</form>
	</div>
</div>


{% endblock %}