{% extends '_public_base.html' %}
{% load url from future %}

{% load i18n %}

{% block title %}My Effect - Sign Up{% endblock %}

{% block css %}
  <link href="{{ STATIC_URL }}css/mycleancity.css" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="wrapper public">
  <div class="clouds"></div>
  
  {% include "_public_no_popup_navbar.html" %}
  
  <a href="/" class="logo"></a>
  
  <div class="content">
    <div class="container">
        <div id="white-box" class="social-signup">
            <h2>Sign Up:</h2>
	        <p>{% blocktrans with provider_name=account.get_provider.name site_name=site.name %}You are about to use your {{provider_name}} account to login to My Effect. As a final step, please complete the following form:{% endblocktrans %}</p>
	        <form class="signup" id="signup_form" method="post" action="{% url 'socialaccount_signup' %}">
			  {% csrf_token %}
			  {{ form.as_p }}
			  {% if redirect_field_value %}
			  <input name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
			  {% endif %}
        <a href="" id = "redirect_to_signin" class="btn" style=" display: none; ">Login with your account</a>
			  <input class="btn btn-primary" type="submit" value="Sign Up" />
			</form>
        </div><!-- /#white-box -->
    </div><!-- /.container -->
  </div><!-- /.about -->
</div> <!-- /.wrapper -->
{% include "_footer_navbar.html" %}

{% endblock %}

{% block javascript %}
<script>
  $( document ).ready(function() {
    var email = $("#id_email").val();
    if(email && $("#id_email").parent().prev().hasClass("errorlist")){
      $("#redirect_to_signin").html("Login with: " + email);
      $("#redirect_to_signin").attr('href','/accounts/login/?email=' + email);
      $("#redirect_to_signin").fadeIn();
    }
  });
</script>
{% endblock %}
