<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
      <title></title>
      <style>
        body { font: 14px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif; color: #666; font-weight: 300; }
        .button { display: block; height: 40px; width: 235px; background: url(images/email-button.png) no-repeat 0 0; }
        .blue { color: #00aeef !important; } 
        .green { color: #83c156 !important; } 
        .bold { font-weight: 800 !important; }
      </style>
  </head>
  <body>
    <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="bodyTable">
      <tr>
        <td align="center" valign="top">
          <table border="0" cellpadding="20" cellspacing="0" width="600" id="emailContainer">
            <tr>
              <td align="center" valign="top">
                <a href="/"><img src="http://www.mycleancity.org/static/images/logo-my-effect-yellow-166x200.png" alt="My Effect" /></a>
              </td>
            </tr>
            <tr>
              <td>
              	<p>Hey {{ first_name }},</p>

                <p>Welcome to My Effect!</p>
 
                <p>Congratulations on joining our leadership team. As a Ambassador, you will have exciting opportunities to engage your peers in #<span style="color: #00aeef">Clean</span><span style="color: #83c156">Acts</span> within your community and make a positive difference your way. </p>

                <p>
                  All of the information you need to take action is included in our Welcome Package. You can begin by posting #<span style="color: #00aeef">Clean</span><span style="color: #83c156">Acts</span> in the <a href="http://www.mycleancity.org/challenges/">Challenge Centre</a> and recruiting others to sign up as Catalysts to support your Change Team. Remember you earn <span style="color: #00aeef">5 BONUS <span style="color: #00aeef">Clean</span><span style="color: #83c156">Creds</span> for every referral!
                </p>

        				<p>Don't forget to follow us via Facebook <a href="http://facebook.com/MyCleanCity1" target="_blank">@MyCleanCity1</a>, Twitter <a href="http://twitter.com/@MyCleanCity1" target="_blank">@MyCleanCity1</a> and Instagram <a href="http://instagram.com/MyCleanCity" target="_blank">@MyCleanCity</a> for important updates and contest details.</p>

                <p>My Effect Team</p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>