<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
      <title></title>
      <style>
        body { font: 14px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif; color: #666; font-weight: 300; }
        .button { display: block; height: 40px; width: 235px; background: url(images/email-button.png) no-repeat 0 0; }
        .blue { color: #00aeef !important; } 
        .green { color: #83c156 !important; } 
        .bold { font-weight: 800 !important; }
      </style>
  </head>
  <body>
    <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="bodyTable">
      <tr>
        <td align="center" valign="top">
          <table border="0" cellpadding="20" cellspacing="0" width="600" id="emailContainer">
            <tr>
              <td align="center" valign="top">
                <a href="/"><img src="http://mycleancity.herokuapp.com/static/images/logo-my-effect-yellow-250x243.png" alt="My Effect" /></a>
              </td>
            </tr>
            <tr>
              <td>
              	<p>Hey {{ first_name }},</p>

                <p>Congratulations on joining our leadership team! As a Change Leader you will have the opportunity to access a variety of entrepreneurial experiences and lead My Effect’s operations in your region or school community.</p>
                <p>
                  We will be following up shortly with some useful resources and supports to help you build your wave of change. In the meantime you can:
                </p>
                <ol>
                  <li>Begin searching for a few fellow leaders to join your executive team, if you have not done so already.</li>
                  <li>Check out <a href="{{ level_progress_uri }}">Team Achievements</a> to learn about some quick next steps to take action with My Effect<span style="font-size:9px;vertical-align:super;white-space:pre-wrap">TM </span> and become a top Change Team.</li>
                </ol>

        				<p>If you have any questions at any time, please feel free to reach out to our Director of Training, Diane Gies at <a href="mailto:diane@myeffect.ca" target="_blank">diane@myeffect.ca</a>. She is your dedicated resource and support for all your team needs.</p>

                <p>My Effect</p>
                <p>---------</p>
              </td>
            </tr>
            <tr>
              <td style="font-size:11px;">
                <p>My Effect<span style="font-size:9px;vertical-align:super;white-space:pre-wrap">TM </span></p>
                <p>1061 Queen's Blvd,</p>
                <p>Kitchener, ON</p>
                <p><a href="mailto:subscriptions@myeffect.ca" target="_blank">subscriptions@myeffect.ca</a></p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>