<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
      <title></title>
      <style>
        body { font: 14px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif; color: #666; font-weight: 300; }
        .button { display: block; height: 40px; width: 235px; background: url(images/email-button.png) no-repeat 0 0; }
        .blue { color: #00aeef !important; } 
        .green { color: #83c156 !important; } 
        .bold { font-weight: 800 !important; }
      </style>
  </head>
  <body>
    <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="bodyTable">
      <tr>
        <td align="center" valign="top">
          <table border="0" cellpadding="20" cellspacing="0" width="600" id="emailContainer">
            <tr>
              <td align="center" valign="top">
                <a href="/"><img src="http://www.mycleancity.org/static/images/logo-295x221.png" alt="My Clean City" /></a>
              </td>
            </tr>
            <tr>
              <td>
              	<p>Hey {{ first_name }},</p>

                <p>Welcome to My Clean City!</p>

                <p>The official countdown is on!</p>

                <p>Starting April 1st, you can take action by signing up for Clean Acts that are posted in our Challenge Centre and compete with friends to become our <span style="color: #83c156;">Top National Champion</span>.</p>

        				<p>Best of all you already have a head start! Your early registration has earned you <span style="color: #00aeef">50 BONUS</span> <span style="color: #00aeef">Clean</span><span style="color: #83c156">Creds</span> and the opportunities don't stop here. Although our Clean Acts don't open until April, by choosing to be a Clean Champion, you can earn bonus <span style="color: #00aeef">Clean</span><span style="color: #83c156">Creds</span> for sponsoring Clean Teams organized by your friends or school. </p>

        				<p>Don't forget to follow us via Facebook <a href="http://facebook.com/MyCleanCity1" target="_blank">@MyCleanCity1</a>, Twitter <a href="http://twitter.com/@MyCleanCity1" target="_blank">@MyCleanCity1</a> and Instagram <a href="http://instagram.com/MyCleanCity" target="_blank">@MyCleanCity</a> for important updates, contests and bonus CleanCred giveaways.</p>

        				<p>Stay Connected!</p>

                <p>My Clean City Team</p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>