{% extends '_public_base.html' %}

{% block title %} My Clean City - Reset Password {% endblock %}

{% block css %}
  <link href="{{ STATIC_URL }}css/mycleancity.css" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="wrapper public">
	<div class="clouds"></div>

	{% include "_public_navbar.html" %}

	<a href="/" class="logo"></a>

	<div class="content">
	<div class="container">
	    <a href="#" onclick="history.go(-1); return false;"><div class="sign login" id="sign-go-back"></div></a>
	    <div id="white-box" class="password-reset">
			<p>Your password has been reset.</p>
			<p>Login in <a href="/users/login">here</a>.
		</div><!-- /#white-box -->
	</div><!-- /.container -->
	</div><!-- /.about -->
</div> <!-- /.wrapper -->
{% include "_footer_navbar.html" %}

{% endblock %}

{% block javascript %}{% endblock %}
