{% extends '_public_base.html' %}

{% block title %} My Effect - Reset Password {% endblock %}

{% block css %}
  <link href="{{ STATIC_URL }}css/mycleancity.css" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="wrapper public">
	<div class="clouds"></div>

	{% include "_navbar.html" %}

	<a href="/" class="logo"></a>

	<div class="content">
	<div class="container">
	    <a href="#" onclick="history.go(-1); return false;"><div class="sign login" id="sign-go-back"></div></a>
	    <div id="white-box" class="password-reset">
			{% if validlink %}
		        <p>Please enter your new password twice.<br />
		           So we can verify you typed it in correctly.</p>
		        <form action="" method="post">
		            <div style="display:none">
		                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
		            </div>
		            {{ form.new_password1.label_tag }} {{ form.new_password1 }}
		            {{ form.new_password2.label_tag }} {{ form.new_password2 }}
		            <input class="btn btn-primary" type="submit" value="Change My Password" />
		        </form>
		    {% else %}
		        <h1>Password reset unsuccessful</h1>
		        <p>The password reset link was invalid, <br />
		        possibly because it has already been used. <br />
		        Please request a new password reset.</p>
		    {% endif %}
		</div><!-- /#white-box -->
	</div><!-- /.container -->
	</div><!-- /.about -->
</div> <!-- /.wrapper -->
{% include "_footer_navbar.html" %}

{% endblock %}

{% block javascript %}{% endblock %}
