{% extends '_public_base.html' %}

{% block title %} My Effect - Change Teams {% endblock %}

{% block css %}
  <link href="{{ STATIC_URL }}css/mycleancity.css" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="wrapper public">
  <div class="clouds"></div>
  
  {% include "_loggedin_navbar.html" %}
  
  <a href="/" class="logo"></a>
  
  <div class="content">
    <div class="container">
      <a href="#" onclick="history.go(-1); return false;"><div class="sign all-clean-teams" id="sign-go-back"></div></a>
      <div id="white-box" class="all-clean-teams">
          <h1>All Change Teams</h1>

          <div class="table-container">
            <table class="table table-hover">
              <tbody>
                {% for team in teams %}
                  <tr>
                    <td class="team">                          
                      <a href="{{ team.id }}">
                        {% if team.logo %}
                          <img src="{{ MEDIA_URL }}{{ team.logo }}" alt="" class="profile-pic profile-pic-42x42" />
                        {% else %}
                          <img src="{{ STATIC_URL }}images/default-team-pic-42x42.png" alt="" class="profile-pic profile-pic-42x42" />
                        {% endif %}
                        {{ team.name }}
                      </a>
                    </td>
                    
                    <td class="roles">
                      {% for clean_champion in clean_champions %}
                        {% if team == clean_champion.clean_team %}
                          <img id="badge-cc" src="{{ STATIC_URL }}images/badge-cc-56x45.png" alt="Catalyst" />
                        {% endif %}
                      {% endfor %}

                      {% if team == user.profile.clean_team_member.clean_team and user.profile.clean_team_member.status == "approved" %}
                        <img id="badge-ca" src="{{ STATIC_URL }}images/badge-ca-62x45.png" alt="Ambassador" />
                      {% endif %}
                    </td>
                    
                  </tr>
                {% endfor %}
              </tbody>
            </table><!-- /.table.table-hover -->
          </div><!-- /.table-container -->
          
      </div><!-- /#white-box -->
    </div><!-- /.container -->
  </div><!-- /.about -->
</div> <!-- /.wrapper -->
{% include "_footer_navbar.html" %}

{% endblock %}

{% block javascript %}{% endblock %}