{% extends '_public_base.html' %}

{% block title %} My Clean City - {{ clean_team.name }} {% endblock %}

{% block css %}
  <link href="{{ STATIC_URL }}css/mycleancity.css" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="wrapper public">
  <div class="clouds"></div>

  {% include "_loggedin_navbar.html" %}  

  <a href="/" class="logo"></a>
  
  <div class="content">
    <div class="container">
        <img src="{{ STATIC_URL }}images/tree-stage-1.png" alt="" id="tree-progress">
        
        <div id="white-box" class="clean-team-members-list">
          {% for member in ctms %}
            {% if member.user.is_active %}
              {% if member.status == "approved" %}
                <p>
                {% if member.role == "clean-ambassador" %}
                  <img id="badge-icon" src="{{ STATIC_URL }}images/badge-ca-62x45.png" alt="Badge CA" />
                {% endif %}
                {% if member.role == "clean-champion" %}
                  <img id="badge-icon" src="{{ STATIC_URL }}images/badge-cc-56x45.png" alt="Badge CC" />
                {% endif %}
                {{ member.user.first_name }} {{ member.user.last_name }}
              </p>
              {% endif %}
            {% endif %}
          {% endfor %}
        </div>

        <div id="white-box" class="public-profile clean-team-profile">
          
          <div class="info">
            <h2>{{ clean_team.name }}</h2>
            <div class="clear"></div>
            
            <span class="clean-creds">
              <p><span class="green bold">Clean</span><span class="blue bold">Creds</span><span>:&nbsp;{{ clean_team.clean_creds }}</span></p>
            </span>
            
            <div class="field">
              <p class="title">Team Type:</p>
              <p class="text">{{ clean_team.team_type }}</p>
            </div>

            {% if clean_team.group %}
            <div class="field">
              <p class="title">Representing Group:</p>
              <p class="text">{{ clean_team.group }}</p>
            </div>
            {% endif %}

            <div class="field">
              <p class="title">Region:</p>
              <p class="text">{{ clean_team.region }}</p>
            </div>

            {% if clean_team.website and not clean_team.website == "http://" %}
            <div class="field">
              <p class="title">Website:</p>
              <p class="text"><a target="_blank" href="{{ clean_team.website }}">{{ clean_team.website }}</a></p>
            </div>
            {% endif %}

            {% if clean_team.twitter %}
            <div class="field">
              <p class="title">Twitter:</p>
              <p class="text"><a href="http://twitter.com/{{ clean_team.twitter }}" target="_blank">{{ clean_team.twitter }}</a></p>
            </div>
            {% endif %}
          </div><!-- /.info -->
          
          {% if user.profile.clean_team_member.status == "approved" and user.profile.clean_team_member.role == "clean-ambassador" %}
            <span class="edit-clean-team-link"><a href="/clean-team/edit/{{ clean_team.id }}">Edit Clean Team</a></span>
          {% endif %}

          <img src="{{ STATIC_URL }}images/default-profile-pic.png" alt="" class="profile-pic" />
          
          <div class="info" style="width: 100%;">
            {% if clean_team.about %}
            <div class="field about">
              <p class="title">About:</p>
              <div class="clear"></div>
              <p class="text">{{ clean_team.about }}</p>
            </div>
            {% endif %}
          </div><!-- /.info -->


          {% if user.profile.clean_team_member.status == "removed" %}
            <form action="/clean-team/request-join/" method="post">
              {% csrf_token %}
              <input type="hidden" name="ctid" value="{{ clean_team.id }}">
              <input id="request-join-clean-team-btn" class="btn btn-primary" type="submit" value="Request to Join" />
            </form>
          {% endif %}
          
          {% if user.profile.clean_team_member.status == "pending" %}
            <div class="field">Request to join sent</div>
          {% endif %}

        </div><!-- /#white-box -->
    </div><!-- /.container -->
  </div><!-- /.about -->
</div> <!-- /.wrapper -->
{% include "_footer_navbar.html" %}

{% endblock %}

{% block javascript %}{% endblock %}