{% extends '_public_base.html' %}

{% block title %} My Clean City - {{ clean_team.name }} Members {% endblock %}

{% block css %}
  <link href="{{ STATIC_URL }}css/mycleancity.css" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="wrapper public">
  <div class="clouds"></div>

  {% include "_loggedin_navbar.html" %}  

  <a href="/" class="logo"></a>
  
  <div class="content">
    <div class="container">
    	<a href="#" onclick="history.go(-1); return false;"><div class="sign clean-team-members" id="sign-go-back"></div></a>
        <div id="white-box" class="team-members-ca">
			{% csrf_token %}
			<h1 id="team-name">{{ clean_team.name }}</h1>
			<p class="subtitle">Edit team members</p>
			<div class="table-container">
				<table class="table table-hover">
					<thead>
						<tr>
							<th class="members"><h2>Members</h2></th>
							<th class="status"><h2>Status</h2></th>
							<th class="actions"><h2>Actions</h2></th>
						</tr>
					</thead>
					<tbody>
					{% for ca in cas %}
						{% if ca.user.is_active and ca.role == "ambassador" %}
						<tr>
							<td class="members">						
			                  <img id="badge-icon" src="{{ STATIC_URL }}images/badge-ca-62x45.png" alt="Badge CA" />
			                  <a href="/users/profile/{{ ca.user.id }}">{{ ca.user.first_name }} {{ ca.user.last_name }}</a>
							</td>
							<td class="status">
								{{ ca.status }}
							</td>
							<td class="actions">
								<form class="members-forms" action="/clean-team/member-action/" method="post">
									{% csrf_token %}
									<input type="hidden" name="uid" value="{{ ca.user.id }}" />
									<input type="hidden" name="ctid" value="{{ clean_team.id }}">
									
									{% if ca.status == "pending" %}
										<input type="hidden" id="action" name="action" value="approve" />
										<input type="submit" id="action-btn" class="btn btn-primary" value="Approve" />
									{% endif %}
									{% if ca.status == "approved" %}
										<input type="hidden" id="action" name="action" value="remove" />
										<input type="submit" id="action-btn" class="btn btn-primary dark" value="Remove" />
									{% endif %}
								</form>
							</td>
						</tr>
						{% endif %}
					{% endfor %}
					</tbody>
				</table><!-- /.table.table-hover -->
			</div><!-- /.table-container -->
        </div><!-- /#white-box -->

		<div id="white-box" class="team-members-cc">	
			<h1 id="team-name">Catalysts</h1>	
	        <div id="clean-team-members-list">
			    {% for cc in ccs %}
			      {% if cc.user.is_active %}
			        {% if cc.status == "approved" %}
			          <p>          
			            <img id="badge-icon" src="{{ STATIC_URL }}images/badge-cc-56x45.png" alt="Badge CC" />
			            <a href="/users/profile/{{ cc.user.id }}">{{ cc.user.first_name }} {{ cc.user.last_name }}</a>
			          </p>
			        {% endif %}
			      {% endif %}
			    {% endfor %}
			</div><!-- end of #clean-team-members-list -->
		</div><!-- /#white-box -->

    </div><!-- /.container -->
  </div><!-- /.about -->
</div> <!-- /.wrapper -->
{% include "_footer_navbar.html" %}

{% endblock %}

{% block javascript %}{% endblock %}