{% extends '_public_base.html' %}

{% block title %} My Clean City - {{ clean_team.name }} {% endblock %}

{% block css %}
  <link href="{{ STATIC_URL }}css/mycleancity.css" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="wrapper public">
  <div class="clouds"></div>

  {% include "_loggedin_navbar.html" %}  

  <a href="/" class="logo"></a>
  
  <div class="content">
    <div class="container">

        {% if clean_team.clean_creds < 250 %}
        <img src="{{ STATIC_URL }}images/clean-team-tree-stage-0.png" alt="Tree Level" id="tree-progress">
        {% else %}
          {% if clean_team.clean_creds < 1000 %}
          <img src="{{ STATIC_URL }}images/clean-team-tree-stage-1.png" alt="Tree Level" id="tree-progress">
          {% else %}
            {% if clean_team.clean_creds < 3000 %}
            <img src="{{ STATIC_URL }}images/clean-team-tree-stage-2.png" alt="Tree Level" id="tree-progress">
            {% else %}
              {% if clean_team.clean_creds < 3000 %}
              <img src="{{ STATIC_URL }}images/clean-team-tree-stage-2.png" alt="Tree Level" id="tree-progress">
              {% else %}
                {% if clean_team.clean_creds < 5000 %}
                <img src="{{ STATIC_URL }}images/clean-team-tree-stage-3.png" alt="Tree Level" id="tree-progress">
                {% else %}
                  {% if clean_team.clean_creds < 10000 %}
                  <img src="{{ STATIC_URL }}images/clean-team-tree-stage-4.png" alt="Tree Level" id="tree-progress">
                  {% else %}
                    {% if clean_team.clean_creds > 9999 %}
                    <img src="{{ STATIC_URL }}images/clean-team-tree-stage-5.png" alt="Tree Level" id="tree-progress">
                    {% endif %}
                  {% endif %}
                {% endif %}
              {% endif %}
            {% endif %}
          {% endif %}
        {% endif %}
        
        <div id="white-box" class="public-profile clean-team-profile">
          
          <div class="info" id="right-side">
            
            {% if clean_team.logo %}
              <img src="{{ MEDIA_URL }}{{ clean_team.logo }}" alt="" class="profile-pic profile-pic-124x124" />
            {% else %}
              <img src="{{ STATIC_URL }}images/default-team-pic-124x124.png" alt="" class="profile-pic profile-pic-124x124" />
            {% endif %}

            <img id="badge-icon" src="{{ STATIC_URL }}{{ clean_team.level.badge }}" alt="Badge Level" />

            <div class="clean-creds">
              <p><span class="green bold">Clean</span><span class="blue bold">Creds</span><span>:&nbsp;{{ clean_team.clean_creds }}</span></p>
            </div>
            
            <div id="clean-team-info">
              <div class="fb-like" style="margin-left: 30px;" data-href="http://www.mycleancity.org{{ page_url }}" data-width="450" data-layout="button_count" data-show-faces="true" data-send="false"></div>
              <a href="http://www.mycleancity.org{{ page_url }}" class="twitter-share-button" data-text="Check out {{ clean_team.name }} on My Clean City" data-url="http://www.mycleancity.org{{ page_url }}">Tweet</a>

              {% if clean_team.twitter %}
              <div>
                <span><a href="http://twitter.com/{{ clean_team.twitter }}" target="_blank">{{ clean_team.twitter }}</a></span>
              </div>
              {% endif %}

              {% if clean_team.region %}
              <div>
                <span>{{ clean_team.region }}</span>
              </div>
              {% endif %}
            </div>
            <a href="#clean-team-members-list" class="popup-600">View Members</a>
            {% if challenges %}
              <a href="#clean-team-challenges-list" class="popup-600">View Challenges</a>
            {% endif %}

            {% if user.is_authenticated %}
              {% if invite.status == "pending" %}
                <div>
                  <span><a id="view-invite-btn" href="/clean-team/invite-response/{{ invite.token }}" class="btn btn-primary">View Invite</a></span>
                </div>
              {% else %}
                <!-- Clean Champion -->
                {% if not clean_champion and not clean_ambassador and not user.profile.clean_team_member.status == "removed" and not user.profile.clean_team_member.status == "pending" %}
                <form action="/clean-team/cc-join/" method="post">
                  {% csrf_token %}
                  <input type="hidden" name="ctid" value="{{ clean_team.id }}">
                  <input id="request-join-clean-team-btn" class="btn btn-primary" type="submit" value="Be a Clean Champion" />
                </form>
                {% endif %}

                {% if clean_champion %}
                  <img id="badge-cc" src="{{ STATIC_URL }}images/badge-cc-80x64.png" alt="Clean Champion" />
                {% endif %}

                {% if clean_ambassador %}
                  <img id="badge-cc" src="{{ STATIC_URL }}images/badge-ca-88x64.png" alt="Clean Champion" />
                {% endif %}

                <!-- Clean Ambassador -->
                {% if not user.profile.clean_team_member or user.profile.clean_team_member.status == "removed" %}
                <form action="/clean-team/ca-request-join/" method="post">
                  {% csrf_token %}
                  <input type="hidden" name="ctid" value="{{ clean_team.id }}">
                  <input id="request-join-clean-team-btn" class="btn btn-primary" type="submit" value="Request to Join" />
                </form>
                {% endif %}
          
                {% if user.profile.clean_team_member.status == "pending" %}
                  <input disabled id="request-join-clean-team-btn" class="btn btn-primary" type="submit" value="Request to join sent" />
                {% endif %}
              {% endif %}
            {% else %}
              <a id="register-to-join-btn" class="btn btn-primary btn-block" href="/users/register">Register Now to Join</a>
            {% endif %}

          </div><!-- /#clean-team-info -->
          
          <h2>{{ clean_team.name }} <a href="{{ clean_team.website }}" target="_blank">View Website</a></h2>

          <div class="info" id="about">
            <div class="clear"></div>

            {% if clean_team.about %}
            <div class="field about">
              <p class="title">About</p>
              <div class="clear"></div>
              <p class="text">{{ clean_team.about }}</p>
            </div>
            {% endif %}
          </div><!-- /.info -->

          <div class="info" id="wall">
            <div class="field about">
              <p class="title">Posts</p>
              <div class="clear"></div>

              {% if posts %}
                {% for post in posts %}
                  <div class="post">
                    
                    {% if post.user.profile.picture %}
                      <img src="{{ MEDIA_URL }}{{ post.user.profile.picture }}" alt="" class="profile-pic profile-pic-42x42" />
                    {% else %}
                      <img src="{{ STATIC_URL }}images/default-profile-pic-42x42.png" alt="" class="profile-pic profile-pic-42x42" />
                    {% endif %}

                    <p class="user"><a href="/users/profile/{{ post.user.id }}">{{ post.user.get_full_name }}</a></p>
                    <p class="timestamp">{{ post.timestamp }}</p>
                    <div class="clear"></div>
                    <p class="message">{{ post.message }}</p>
                  
                  </div><!-- /.post -->
                  <div class="clear"></div>
                {% endfor %}
              {% else %}
                <p class="messsage">No recent posts</p>
              {% endif %}
            </div>
          </div><!-- /.info -->

        </div><!-- /#white-box -->
    </div><!-- /.container -->
  </div><!-- /.about -->
</div> <!-- /.wrapper -->

<div class="popup-container">
  <div id="clean-team-challenges-list" class="popup">
    <!-- Challenges -->
    {% for key, challenge in challenges.items %}
        <div class="challenge">
          {% if challenge.1.national_challenge %}
            <img class="badge-icon" src="{{ STATIC_URL }}images/badge-nc-88x64.png" alt="National Challenge" />
          {% endif %}
          <h1><a href="/challenges/{{ challenge.1.id }}/">{{ challenge.1.title }}</a></h1>
          <p class="date-time">
            <span class="bold">Starts:</span><span>&nbsp;{{ challenge.1.event_start_date }} at {{ challenge.1.event_start_time }}</span>
          </p>
          <p class="date-time">
            <span class="bold">Ends:</span><span>&nbsp;{{ challenge.1.event_end_date }} at {{ challenge.1.event_end_time }}</span>
          </p>
          <p>{{ challenge.1.description|slice:":255" }}</p>
          <p class="clean-creds"><span class="bold">{{ challenge.1.clean_creds_per_hour }}</span>&nbsp;<span class="green bold">Clean</span><span class="blue bold">Creds</span><span class="bold">{% if challenge.1.type.challenge_type == "hourly" %}/hr{% endif %}</span></p>

          {% if user.is_authenticated %}
            {% if challenge.0 == "particpating" %}
              <input id="participate-btn" disabled class="btn btn-primary" type="submit" value="Participating" />
            {% else %}
              <form action="/challenges/participate/" method="post">
                {% csrf_token %}
                <input type="hidden" name="cid" value="{{ challenge.1.id }}">
                <input id="participate-btn" class="btn btn-primary" type="submit" value="Participate" />
              </form>
            {% endif %}
          {% else %}
            <a id="participate-btn" class="btn btn-primary btn-block" href="/users/register">Register Now to Participate</a>
          {% endif %}
        </div>
      
    {% endfor %}
  </div>

  <div id="clean-team-members-list" class="popup">
    <!-- Clean Ambassadors -->
    {% for member in cas %}
      {% if member.user.is_active %}
        {% if member.status == "approved" %}
          <p>
          {% if member.role == "clean-ambassador" %}
            <img id="badge-icon" src="{{ STATIC_URL }}images/badge-ca-62x45.png" alt="Badge CA" />
            <a href="/users/profile/{{ member.user.id }}">{{ member.user.first_name }} {{ member.user.last_name }}</a>
          {% endif %}
        </p>
        {% endif %}
      {% endif %}
    {% endfor %}

    <!-- Clean Champions -->
    {% for member in ccs %}
      {% if member.user.is_active %}
        {% if member.status == "approved" %}
          <p>          
            <img id="badge-icon" src="{{ STATIC_URL }}images/badge-cc-56x45.png" alt="Badge CC" />
            <a href="/users/profile/{{ member.user.id }}">{{ member.user.first_name }} {{ member.user.last_name }}</
          </p>
        {% endif %}
      {% endif %}
    {% endfor %}
  </div><!-- end of #clean-team-members-list -->
</div>
{% include "_footer_navbar.html" %}

{% endblock %}

{% block javascript %}{% endblock %}