{% extends '_public_base.html' %}

{% block title %} My Clean City - {{ clean_team.name }} {% endblock %}

{% block css %}
  <link href="{{ STATIC_URL }}css/mycleancity.css" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="wrapper public">
  <div class="clouds"></div>

  {% include "_loggedin_navbar.html" %}  

  <a href="/" class="logo"></a>
  
  <div class="content">
    <div class="container">
        <img src="{{ STATIC_URL }}images/tree-stage-1.png" alt="" id="tree-progress">
        
        <div id="white-box" class="public-profile clean-team-profile">
          
          <div class="info" id="right-side">
            
            {% if clean_team.logo %}
              <img style="width: 124px; height: 124px;" src="{{ MEDIA_URL }}{{ clean_team.logo }}" alt="" class="profile-pic" />
            {% else %}
              <img src="{{ STATIC_URL }}images/default-profile-pic-124x124.png" alt="" class="profile-pic" />
            {% endif %}

            <img id="badge-icon" src="{{ STATIC_URL }}{{ clean_team.level.badge }}" alt="Badge Level" />

            <div class="clean-creds">
              <p><span class="green bold">Clean</span><span class="blue bold">Creds</span><span>:&nbsp;{{ clean_team.clean_creds }}</span></p>
            </div>
            
            <div id="clean-team-info">
              <div class="fb-like" style="margin-left: 30px;" data-href="http://www.mycleancity.org{{ page_url }}" data-width="450" data-layout="button_count" data-show-faces="true" data-send="false"></div>
              <a href="http://www.mycleancity.org{{ page_url }}" class="twitter-share-button" data-text="Check out {{ clean_team.name }} on My Clean City" data-url="http://www.mycleancity.org{{ page_url }}">Tweet</a>

              {% if clean_team.twitter %}
              <div>
                <span><a href="http://twitter.com/{{ clean_team.twitter }}" target="_blank">{{ clean_team.twitter }}</a></span>
              </div>
              {% endif %}

              {% if clean_team.region %}
              <div>
                <span>{{ clean_team.region }}</span>
              </div>
              {% endif %}
            </div>
            <a href="#clean-team-members-list" class="popup-200">View Members</a>
            {% if challenges %}
              <a href="#clean-team-challenges-list" class="popup-600">View Challenges</a>
            {% endif %}

            {% if user.is_authenticated %}
              {% if invite.status == "pending" %}
                <div>
                  <span><a id="view-invite-btn" href="/clean-team/invite-response/{{ invite.token }}" class="btn btn-primary">View Invite</a></span>
                </div>
              {% else %}
                <!-- Clean Champion -->
                {% if not clean_champion and not clean_ambassador and not user.profile.clean_team_member.status == "removed"%}
                <form action="/clean-team/cc-join/" method="post">
                  {% csrf_token %}
                  <input type="hidden" name="ctid" value="{{ clean_team.id }}">
                  <input id="request-join-clean-team-btn" class="btn btn-primary" type="submit" value="Be a Clean Champion" />
                </form>
                {% endif %}

                {% if clean_champion %}
                  <img id="badge-cc" src="{{ STATIC_URL }}images/badge-cc-80x64.png" alt="Clean Champion" />
                {% endif %}

                <!-- Clean Ambassador -->
                {% if not user.profile.clean_team_member or user.profile.clean_team_member.status == "removed" %}
                <form action="/clean-team/ca-request-join/" method="post">
                  {% csrf_token %}
                  <input type="hidden" name="ctid" value="{{ clean_team.id }}">
                  <input id="request-join-clean-team-btn" class="btn btn-primary" type="submit" value="Request to Join" />
                </form>
                {% endif %}
          
                {% if user.profile.clean_team_member.status == "pending" %}
                  <input disabled id="request-join-clean-team-btn" class="btn btn-primary" type="submit" value="Request to join sent" />
                {% endif %}
              {% endif %}
            {% else %}
              <a id="register-to-join-btn" class="btn btn-primary btn-block" href="/users/register">Register Now to Join</a>
            {% endif %}

          </div><!-- /#clean-team-info -->
          
          <h2>{{ clean_team.name }} <a href="{{ clean_team.website }}" target="_blank">View Website</a></h2>

          <div class="info" id="about">
            <div class="clear"></div>

            {% if clean_team.about %}
            <div class="field about">
              <p class="title">About</p>
              <div class="clear"></div>
              <p class="text">{{ clean_team.about }}</p>
            </div>
            {% endif %}
          </div><!-- /.info -->

          <div class="info" id="wall">
            <div class="field about">
              <p class="title">Posts</p>
              <div class="clear"></div>

              {% if posts %}
                {% for post in posts %}
                  <div class="post">
                    
                    <img class="notification-image" src="{{ STATIC_URL }}images/default-profile-pic-42x42.png" alt="" />
                    <p class="user"><a href="/users/profile/{{ post.user.id }}">{{ post.user.get_full_name }}</a></p>
                    <p class="timestamp">{{ post.timestamp }}</p>
                    <div class="clear"></div>
                    <p class="message">{{ post.message }}</p>
                  
                  </div><!-- /.post -->
                  <div class="clear"></div>
                {% endfor %}
              {% else %}
                <p class="messsage">No recent posts</p>
              {% endif %}
            </div>
          </div><!-- /.info -->

        </div><!-- /#white-box -->
    </div><!-- /.container -->
  </div><!-- /.about -->
</div> <!-- /.wrapper -->

<div class="popup-container">
  <div id="clean-team-challenges-list" class="popup">
    <!-- Challenges -->
    {% for challenge in challenges %}
      <div class="challenge">
        <h1><a href="/challenges/{{ challenge.id }}/">{{ challenge.title }}</a></h1>
        <span class="date-time">{{ challenge.event_date }} {{ challenge.event_time }}</span>
        <p>{{ challenge.description|slice:":255" }}</p>
        <p class="clean-creds"><span class="green bold">Clean</span><span class="blue bold">Creds</span><span>:&nbsp;{{ challenge.getChallengeCleanCredsPerHour }}</span></p>
        
      </div>
    {% endfor %}
  </div>

  <div id="clean-team-members-list" class="popup">
    <!-- Clean Ambassadors -->
    {% for member in cas %}
      {% if member.user.is_active %}
        {% if member.status == "approved" %}
          <p>
          {% if member.role == "clean-ambassador" %}
            <img id="badge-icon" src="{{ STATIC_URL }}images/badge-ca-62x45.png" alt="Badge CA" />
            {{ member.user.first_name }} {{ member.user.last_name }}
          {% endif %}
        </p>
        {% endif %}
      {% endif %}
    {% endfor %}

    <!-- Clean Champions -->
    {% for member in ccs %}
      {% if member.user.is_active %}
        {% if member.status == "approved" %}
          <p>          
            <img id="badge-icon" src="{{ STATIC_URL }}images/badge-cc-56x45.png" alt="Badge CC" />
            {{ member.user.first_name }} {{ member.user.last_name }}
          </p>
        {% endif %}
      {% endif %}
    {% endfor %}
  </div><!-- end of #clean-team-members-list -->
</div>
{% include "_footer_navbar.html" %}

{% endblock %}

{% block javascript %}{% endblock %}