{% extends '_public_base.html' %}

{% block title %} My Effect - {{ community.name }} Members {% endblock %}

{% block css %}
  <link href="{{ STATIC_URL }}css/mycleancity.css" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="wrapper public">
  <div class="clouds"></div>

  {% include "_navbar.html" %}

  <a href="/" class="logo"></a>
  <div class="content">
    <div class="container">
        <a href="#" onclick="history.go(-1); return false;"><div class="sign clean-team-members" id="sign-go-back"></div></a>
        <div id="white-box" class="team-members-ca">
        {% csrf_token %}
        <h1 id="team-name">{{ community.name }}</h1>
        <p class="subtitle">Edit community members</p>
        <div class="table-container">
          <table class="table table-hover">
            <thead>
              <tr>
                <th class="members"><h2>Members</h2></th>
                <th class="type"><h2>Type</h2></th>
                <th class="actions"><h2>Actions</h2></th>
              </tr>
            </thead>
            <tbody>
            {% for user_membership in user_memberships %}
              <tr>
                <td class="members">
                  <a href="/users/profile/{{ user_membership.user.id }}">{{ user_membership.user.first_name }} {{ user_membership.user.last_name }}</a>
                </td>
                <form class="members-forms" action="/clean-team/community-member-action/" method="post">
                <td class="type">User</td>
                <td class="actions"></td>
                </form>
              </tr>
            {% endfor %}
            {% for team_membership in team_memberships %}
              <tr>
                <td class="members">
                  <a href="/clean-team/profile/{{ team_membership.clean_team.id }}">{{ team_membership.clean_team.name }}</a>
                </td>
                <form class="members-forms" action="/clean-team/community-member-action/" method="post">
                <td class="type">Team</td>
                <td class="actions"></td>
                </form>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% include "_footer_navbar.html" %}

{% endblock %}

{% block javascript %}{% endblock %}
