{% extends '_public_base.html' %}

{% block title %} My Clean City - Register Clean Team {% endblock %}

{% block css %}
  <link href="{{ STATIC_URL }}css/mycleancity.css" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="wrapper public">
  <div class="clouds"></div>
  
  {% include "_loggedin_navbar.html" %}
  
  <a href="/" class="logo"></a>
  
  <div class="content">
    <div class="container">
        <div id="white-box" class="small create-or-request-join">
            <h2>I would like to:</h2>

            {% if form.non_field_errors %}
              <div class="message-box error">
              {{ form.non_field_errors }}
              </div>
            {% endif %}

            <form action="/clean-team/create-or-request/" method="post" enctype="multipart/form-data">{% csrf_token %}
              <div class="btn-group" data-toggle="buttons">
                {% for radio in form.selections %}
                  <label class="btn btn-radio-group">
                    {{ radio.choice_label }}
                    {{ radio.tag }}
                  </label>
                {% endfor %}
              </div>

              <input class="btn btn-primary" type="submit" value="Continue" />
            </form>
        </div><!-- /#white-box -->
    </div><!-- /.container -->
  </div><!-- /.about -->
</div> <!-- /.wrapper -->
{% include "_footer_navbar.html" %}

{% endblock %}

{% block javascript %}{% endblock %}