{% extends '_public_base.html' %}
{% load i18n %}

{% block title %} My Effect - {%trans "Register Change Team" %} {% endblock %}

{% block css %}
  <link href="{{ STATIC_URL }}css/mycleancity.css" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="wrapper public">
  <div class="clouds"></div>
  
  {% include "_navbar.html" %}
  
  <a href="/" class="logo"></a>
  
  <div class="content">
    <div class="container">
        <div id="white-box" class="small create-or-request-join">
            {% if form.non_field_errors %}
              <div class="message-box error">
              {{ form.non_field_errors }}
              </div>
            {% endif %}

            <form action="/clean-team/create-or-request/" method="post" enctype="multipart/form-data">{% csrf_token %}
              <div class="padding-20 width-350">
                  <!--<a rel="tooltip" data-html="true" data-placement="right" data-original-title="
                  <span class='description'><strong class='title'>Agent</strong>I am an individual and I want to participate on my own</span>

                  <span class='description'><strong class='title'>Ambassador</strong>I want to be a My Effect leader and start or join a Change Team</span>

                  <span class='description last'><strong class='title'>Catalyst</strong>I want to support a Change Team while I participate</span>"><img src="{{ STATIC_URL }}images/icon-help-24x29.png" alt="" style="float: right; cursor: pointer;"></a>-->
                  {{ form.role }}
              </div>
              
              <div class="btn-group" data-toggle="buttons">
                {% for radio in form.selections %}
                  <label class="btn btn-radio-group">
                    {{ radio.choice_label }}
                    {{ radio.tag }}
                  </label>
                {% endfor %}
              </div>

              <input class="btn btn-primary" type="submit" value="Continue" />
            </form>
        </div><!-- /#white-box -->
    </div><!-- /.container -->
  </div><!-- /.about -->
</div> <!-- /.wrapper -->
{% include "_footer_navbar.html" %}

{% endblock %}

{% block javascript %}
{% endblock %}
