{% extends '_public_base.html' %}

{% block title %} My Effect - Create Community {% endblock %}

{% block css %}
  <link href="{{ STATIC_URL }}css/mycleancity.css" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="wrapper public">
  <div class="clouds"></div>
  
  {% include "_navbar.html" %}
  
  <a href="/" class="logo"></a>
  
  <div class="content">
    <div class="container">
        <div class="better-white-box">
            {% if form.non_field_errors %}
              <div class="message-box error">
              {{ form.non_field_errors }}
              </div>
            {% endif %}

            <form action="/clean-team/create-community/" method="post" enctype="multipart/form-data">{% csrf_token %}{{form.current_user}}
              <table class="table" style="width: 50%;">
                  <tr id="community_name">
                    <td>
                      <label for="registered_number"><span style="color:red;" >&#42;&#32;</span>Community Name:</label><br>
                    </td>
                    <td>
                      {{form.name}}
                    </td>
                  </tr>
                  <tr>
                    <td colspan="2">
                      <input style="float: left;" class="btn btn-primary" type="submit" value="Continue" />
                    </td>
                  </tr>
              </table>
            </form>
            <h1>Large content</h1>
            <br/>
            <h1>Large content</h1>
            <br/>
            <h1>Large content</h1>
            <br/>
            <h1>Large content</h1>
            <br/>
            <h1>Large content</h1>
            <br/>
            <h1>Large content</h1>
            <br/>
            <h1>Large content</h1>
            <br/>
            <h1>Large content</h1>
            <br/>
            <h1>Large content</h1>
            <br/>
            <h1>Large content</h1>
            <br/>
            <h1>Large content</h1>
            <br/>
            <h1>Large content</h1>
            <br/>
            <h1>Large content</h1>
            <br/>
            <h1>Large content</h1>
            <br/>
            <h1>Large content</h1>
            <br/>
            <h1>Large content</h1>
            <br/>
            <h1>Large content</h1>
            <br/>
            <h1>Large content</h1>
            <br/>
            <h1>Large content</h1>
            <br/>
            <h1>Large content</h1>
            <br/>
            <h1>Large content</h1>
            <br/>
            <h1>Large content</h1>
            <br/>
            <h1>Large content</h1>
            <br/>
            <h1>Large content</h1>
            <br/>
            <h1>Large content</h1>
            <br/>
            <h1>Large content</h1>
            <br/>
            <h1>Large content</h1>
            <br/>
            <h1>Large content</h1>
            <br/>
            <h1>Large content</h1>
            <br/>
            <h1>Large content</h1>
            <br/>
            <h1>Large content</h1>
            <br/>
            <h1>Large content</h1>
            <br/>
            <h1>Large content</h1>
            <br/>
            <h1>Large content</h1>
            <br/>
        </div>
    </div>
  </div>
</div>
{% include "_footer_navbar.html" %}

{% endblock %}

{% block javascript %}
{% endblock %}
