{% extends '_public_base.html' %}

{% block title %} My Clean City - Register Clean Team {% endblock %}

{% block css %}
  <link href="{{ STATIC_URL }}css/mycleancity.css" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="wrapper public">
  <div class="clouds"></div>
  
  {% include "_public_navbar.html" %}
  
  <a href="/" class="logo"></a>
  
  <div class="content">
    <div class="container">
        <div id="white-box" class="register">
            <h2>I would like to:</h2>

            {% if form.non_field_errors %}
              <div class="message-box error">
              {{ form.non_field_errors }}
              </div>
            {% endif %}

            <form action="/clean-team/" method="post" enctype="multipart/form-data">{% csrf_token %}
                <table>
                  {% for radio in form.selections %}
                  <tr>
                    <td>
                      {{ radio }}
                    </td>
                  </tr>
                  {% endfor %}
                </table>
                <input class="btn btn-primary" type="submit" value="Continue" />
            </form>
        </div><!-- /#white-box -->
    </div><!-- /.container -->
  </div><!-- /.about -->
</div> <!-- /.wrapper -->
{% include "_footer_navbar.html" %}

{% endblock %}

{% block javascript %}{% endblock %}