{% extends '_public_base.html' %}

{% block title %} My Effect - Edit Community {% endblock %}

{% block css %}
  <link href="{{ STATIC_URL }}css/mycleancity.css" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="wrapper public">
  <div class="clouds"></div>
  
  {% include "_navbar.html" %}
  
  <a href="/" class="logo"></a>

  {% load wysiwyg %}
  {% wysiwyg_setup %}

  <div class="content">
    <div class="container">
      <a href="#" onclick="history.go(-1); return false;"><div class="sign edit-clean-team" id="sign-go-back"></div></a>
      <div id="white-box" class="edit-clean-team">
          <h2>Edit Community</h2>

          {% if form.non_field_errors %}
            <div class="message-box error">
            {{ form.non_field_errors }}
            </div>
          {% endif %}

          <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
            {{ form.community_id }}
            <table>
                <tr>
                    <td>{{ form.name.label_tag }} {{ form.name }}</td>
                    <td>{{ form.logo.label_tag }} {{ form.logo }}</td>
                </tr>
                <tr>
                    <td>
                        {% if form.website.errors %}
                            <div class="message-box error">
                            {{ form.website.errors }}
                            </div>
                        {% endif %}
                        {{ form.website.label_tag }} {{ form.website }}
                    </td>
                    <td>
                        {% if form.twitter.errors %}
                            <div class="message-box error">
                            {{ form.twitter.errors }}
                            </div>
                        {% endif %}
                        {{ form.twitter.label_tag }} {{ form.twitter }}
                    </td>
                </tr>
                <tr>
                    <td>
                        {% if form.facebook.errors %}
                            <div class="message-box error">
                            {{ form.facebook.errors }}
                            </div>
                        {% endif %}
                        {{ form.facebook.label_tag }} {{ form.facebook }}
                    </td>
                    <td>
                        {% if form.instagram.errors %}
                            <div class="message-box error">
                            {{ form.instagram.errors }}
                            </div>
                        {% endif %}
                        {{ form.instagram.label_tag }} {{ form.instagram }}
                    </td>
                </tr>
                <tr>
                    <td>
                        {% if form.contact_first_name.errors %}
                            <div class="message-box error">
                            {{ form.contact_first_name.errors }}
                            </div>
                        {% endif %}
                        {{ form.contact_first_name.label_tag }} {{ form.contact_first_name }}
                    </td>
                    <td>
                        {% if form.contact_last_name.errors %}
                            <div class="message-box error">
                            {{ form.contact_last_name.errors }}
                            </div>
                        {% endif %}
                        {{ form.contact_last_name.label_tag }} {{ form.contact_last_name }}
                    </td>
                </tr>
                <tr>
                    <td>
                        {% if form.contact_email.errors %}
                            <div class="message-box error">
                            {{ form.contact_email.errors }}
                            </div>
                        {% endif %}
                        {{ form.contact_email.label_tag }} {{ form.contact_email }}
                    </td>
                    <td>
                        {% if form.contact_phone.errors %}
                            <div class="message-box error">
                            {{ form.contact_phone.errors }}
                            </div>
                        {% endif %}
                        {{ form.contact_phone.label_tag }} {{ form.contact_phone }}
                    </td>
                </tr>
                <tr>
                    <td id="clean-team-edit-about" colspan="2">{{ form.about.label_tag }} {{ form.about }}</td>
                </tr>
            </table>
            <input class="btn btn-primary" type="submit" value="Update Community" />
          </form>
      </div>
    </div>
  </div>
  {% wysiwyg_editor "id_about" %}
</div>
{% include "_footer_navbar.html" %}

{% endblock %}

{% block javascript %}{% endblock %}
