{% extends '_public_base.html' %}

{% block title %} My Clean City - Edit Clean Team {% endblock %}

{% block css %}
  <link href="{{ STATIC_URL }}css/mycleancity.css" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="wrapper public">
  <div class="clouds"></div>
  
  {% include "_loggedin_navbar.html" %}
  
  <a href="/" class="logo"></a>
  
  <div class="content">
    <div class="container">
      <a href="#" onclick="history.go(-1); return false;"><div class="sign register" id="sign-go-back"></div></a>
      <div id="white-box" class="register">
          <h2>Edit Clean Team</h2>

          {% if form.non_field_errors %}
            <div class="message-box error">
            {{ form.non_field_errors }}
            </div>
          {% endif %}

          <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
            {{ form.clean_team_id }}
            <table>
                <tr>
                    <td>{{ form.name.label_tag }} {{ form.name }}</td>
                </tr>
                <tr>
                    <td>{{ form.website.label_tag }} {{ form.website }}</td>
                </tr>
                <tr>
                    <td colspan="2">{{ form.about.label_tag }} {{ form.about }}</td>
                </tr>
            </table>
            <input class="btn btn-primary" type="submit" value="Update Clean Team" />
          </form>
      </div><!-- /#white-box -->
    </div><!-- /.container -->
  </div><!-- /.about -->
</div> <!-- /.wrapper -->
{% include "_footer_navbar.html" %}

{% endblock %}

{% block javascript %}{% endblock %}