{% extends '_public_base.html' %}

{% block title %} My Effect - Invite to Join {% endblock %}

{% block css %}
  <link href="{{ STATIC_URL }}css/mycleancity.css" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="wrapper public">
  <div class="clouds"></div>
  
  {% include "_loggedin_navbar.html" %}
  
  <a href="/" class="logo"></a>
  
  <div class="content">
    <div class="container">
      <a href="#" onclick="history.go(-1); return false;"><div class="sign invite" id="sign-go-back"></div></a>
      
      <div id="white-box" class="invite">
        {% csrf_token %}
        <h2>Invite to join {{ user.profile.clean_team_member.clean_team.name }}</h2>
        
        <div class="table-container">
          <table class="table table-hover" id="invitees-table">
            <tbody>
            {% for invitee in invitees %}
              <tr>
                <td class="roles">
                  {% if invitee.role == "leader" %}
                    <img id="badge-icon" src="{{ STATIC_URL }}images/badge-cc-62x45.png" alt="Badge CC" />
                  {% else %}
                    {% if invitee.role == "agent" %}
                      <img id="badge-icon" src="{#  #}{ STATIC_URL }}images/badge-cc-56x45.png" alt="Badge CC" />
                    {% endif %}
                  {% endif %}
                </td>
                <td class="members">            
                  {{ invitee.email }}
                </td>
                <td class="status">
                  {{ invitee.status }}
                  {% if invitee.status == "pending" %}
                    <form class="resend-invite-form" action="/clean-team/resend-invite/" method="post">{% csrf_token %}
                      <input type="hidden" name="invite_id" value="{{ invitee.id }}" />
                      <input class="submit-link resend-invite-button" type="submit" value="Resend Invite" />
                    </form>
                  {% endif %}
                </td>
              </tr>
              
            {% endfor %}
            </tbody>
          </table><!-- /.table.table-hover -->
        </div><!-- /.table-container -->
      </div><!-- /#white-box -->

      <div id="white-box" class="invite-form">
        {% if role == "leader" %}
        <h2 id="invite-heading">Invite Leader</h2> 
        <p id="invite-subtitle">Invite a leader to become a manager of your Change Team.</p>
        {% else %}
        <h2 id="invite-heading">Invite Friends</h2> 
        <p id="invite-subtitle">Invite your friends to support your Change Team.</p>
        {% endif %}
        {% if form.non_field_errors %}
          <div class="message-box error">
          {{ form.non_field_errors }}
          </div>
        {% endif %}
        <div id="clean-team-members-list">
          <form id="send-invite-form" autocomplete="off" method="post">{% csrf_token %}
            {{ form.clean_team_id }}
            <table>
              <tr>
                <td>{{ form.role.label_tag }} {{ form.role }}</td>
              </tr>
              <tr>
                <td><span>Email: (separate each email address with a comma)</span> {{ form.email }}</td>
              </tr>
              <tr>
                <td>{{ form.terms }}<label for="">Do you agree to abide by anti-spam rules before sending these emails?</label></td>
              </tr>
              <tr>
                <td><input id="send-invite-button" type="submit" value="Send Invite" class="btn btn-primary"></td>
              </tr>
            </table>
          </form>    
        </div><!-- end of #clean-team-members-list -->
      </div><!-- /#white-box -->
    </div><!-- /.container -->
  </div><!-- /.about -->
</div> <!-- /.wrapper -->
{% include "_footer_navbar.html" %}

{% endblock %}

{% block javascript %}{% endblock %}