{% extends '_public_base.html' %}

{% block title %} My Effect - Register Change Team {% endblock %}

{% block css %}
  <link href="{{ STATIC_URL }}css/mycleancity.css" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="wrapper public">
  <div class="clouds"></div>
  
  {% include "_loggedin_navbar.html" %}
  
  <a href="/" class="logo"></a>
  
  <div class="content">
    <div class="container">
      <a href="#" onclick="history.go(-1); return false;"><div class="sign register" id="sign-go-back"></div></a>
      <div id="white-box" class="small new-clean-team">
          <h2>Create a new Change Team</h2>
          <span class="subtitle">Please provide the information for your Change Team</span>

          {% if form.non_field_errors %}
            <div class="message-box error">
            {{ form.non_field_errors }}
            </div>
          {% endif %}

          <form autocomplete="off" action="/clean-team/register-clean-team/" method="post" enctype="multipart/form-data">{% csrf_token %}
              {{ form.role }}
              <table>
                  <tr>
                      <td><label for="id_name">Team Name</label> {{ form.name }}</td>
                      <td>{{ form.logo.label_tag }} {{ form.logo }}</td>
                  </tr>
                  <tr>
                    <td>{{ form.region.label_tag }} {{ form.region }}</td>
                  </tr>
                  <tr>
                      {% if isManager %}
                      <td><label for="id_name">Company/Organization Name</label> {{ form.group }}</td>
                      {% else %}
                      <td><label for="id_name">Associated School/Group</label> {{ form.group }}</td>
                      {% endif %}
                  </tr>
              </table>

              <h2 style="margin-top: 50px;">Main Contact Information</h2>
              <span class="subtitle">The primary contact of your Change Team</span>
              
              <table>
                  <tr>
                      <td>{{ form.contact_first_name.label_tag }} {{ form.contact_first_name }}</td>
                      <td>{{ form.contact_last_name.label_tag }} {{ form.contact_last_name }}</td>
                  </tr>
                  <tr>
                      <td>{{ form.contact_email.label_tag }} {{ form.contact_email }}</td>
                      <td>{{ form.contact_phone.label_tag }} {{ form.contact_phone }}</td>
                  </tr>
              </table>
              <input class="btn btn-primary" type="submit" value="Register" />
          </form>
      </div><!-- /#white-box -->
    </div><!-- /.container -->
  </div><!-- /.about -->
</div> <!-- /.wrapper -->
{% include "_footer_navbar.html" %}

{% endblock %}

{% block javascript %}{% endblock %}