{% extends '_public_base.html' %}

{% block title %} My Clean City - Be a Clean Champion {% endblock %}

{% block css %}
  <link href="{{ STATIC_URL }}css/mycleancity.css" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="wrapper public">
  <div class="clouds"></div>
  
  {% include "_loggedin_navbar.html" %}
  
  <a href="/" class="logo"></a>
  
  <div class="content">
    <div class="container">
        <div id="white-box" class="register-join-team">
            <h1>Be a Clean Champion</h1>
            <p class="subtitle">Select a Clean Team to sponsor</p>

            {% if false %}
              <div class="message-box error">
              
              </div>
            {% endif %}

            <div class="table-container">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th class="action"><h2>Actions</h2></th>
                    <th class="team"><h2>Team</h2></th>
                  </tr>
                </thead>
                <tbody>
                  {% for team in form.team.field.queryset %}
                  <tr>
                    <td class="action">
                      <form action="/clean-team/register-clean-champion/" method="post" enctype="multipart/form-data">{% csrf_token %}
                        <input type="hidden" name="team" value="{{ team.id }}" />
                        <input type="submit" class="btn btn-primary" value="Select" />
                      </form>
                    </td>
                    <td class="team">                          
                      {{ team.name }}
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table><!-- /.table.table-hover -->
            </div><!-- /.table-container -->

        </div><!-- /#white-box -->
    </div><!-- /.container -->
  </div><!-- /.about -->
</div> <!-- /.wrapper -->
{% include "_footer_navbar.html" %}

{% endblock %}

{% block javascript %}{% endblock %}