{% extends '_public_base.html' %}
{% load i18n %}

{% block title %} My Effect - {%trans "Leader Board" %} {% endblock %}

{% block css %}
  <link href="{{ STATIC_URL }}css/mycleancity.css" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="wrapper public">
  <div class="clouds"></div>
  
  {% if user.is_authenticated %}
    {% include "_navbar.html" %}
  {% else %}
    {% include "_navbar.html" %}
  {% endif %}

  <a href="/" class="logo"></a>
  
  <div class="content">
    <div class="container">
        <a href="#" onclick="history.go(-1); return false;"><div class="sign leaderboard" id="sign-go-back"></div></a>
      <div id="white-box" class="leaderboard">
        <h1>{%trans "Leader Board" %}</h1>
        <h1>{%trans "Filter by:" %}</h1>
          {% if user.is_authenticated %}
            <table>
            {% for leader in individual_leaders %}
              <tr>
                <td class="entry {% if forloop.counter|divisibleby:2 %}blue{% else %}green{% endif %}">
                  <span class="number">{{ forloop.counter }}.&nbsp;</span><span class="name"><a href="/users/profile/{{ leader.user.id }}">{{ leader.user.first_name }} {{ leader.user.last_name }}</a></span>
                </td>
                <td class="entry {% if forloop.counter|divisibleby:2 %}blue{% else %}green{% endif %}">
                  <span class="cleancreds">{{ leader.clean_creds }}</span>
                </td>
              </tr>
            {% endfor %}
            </table>
          {% else %}
            <h2>{%trans "See who is leading the nation in our summer challenge. Who will win our grand prize and be recognized as TOP My Effect leaders? Let the challenge begin." %}</h2>
          {% endif %}
        </div><!-- /.brown-box -->
        <div class="clear"></div>
      </div><!-- /.brown-box.individuals -->
      <div id="white-box" class="clean-teams">
          <h1>{%trans "TOP CHANGE TEAMS" %}</h1>
          {% if user.is_authenticated %}
         <div></div>
        <table>
            {% for leader in clean_team_leaders %}
              <tr>
                <!--<td class="entry {% if forloop.counter|divisibleby:2 %}blue{% else %}green{% endif %}">
                  <img id="badge-icon" src="{{ STATIC_URL }}{{ leader.level.badge }}" alt="Badge Level" />
                </td>-->
                <td class="entry {% if forloop.counter|divisibleby:2 %}blue{% else %}green{% endif %}">
                  <span class="number">{{ forloop.counter }}.&nbsp;</span><span class="name"><a href="/clean-team/{{ leader.id }}">{{ leader.name|slice:":255" }}</a></span>
                </td>
                <td class="entry {% if forloop.counter|divisibleby:2 %}blue{% else %}green{% endif %}">
                  <span class="cleancreds">{{ leader.clean_creds }}</span>
                </td>
              </tr>
            {% endfor %}
            </table>
          {% else %}
            <h2>{%trans "See who is leading the nation in our summer challenge. Who will win our grand prize and be recognized as TOP My Effect leaders? Let the challenge begin." %}</h2>
          {% endif %}
        </div><!-- /.brown-box -->
        <div class="clear"></div>
        
      </div><!-- /.brown-box.clean-teams -->
      <div class="clear"></div>
        
    </div><!-- /.container -->
  </div><!-- /.about -->
</div> <!-- /.wrapper -->

{% include "_footer_navbar.html" %}

{% endblock %}

{% block javascript %}{% endblock %}
