{% extends '_public_base.html' %}
{% include '_public_navbar.html' with login='active' %}

{% block title %} My Clean City - Login {% endblock %}

{% block css %}{% endblock %}

{% block content %}

    {% if form.errors %}
        <p>Sorry. that's not a valid username or password</p>
    {% endif %}

	<form action="/users/auth/" method="post">{% csrf_token %}
        <label for="email">Email:</label>
        <input type="text" name="email" value="" />

        <label for="password">Password:</label>
        <input type="password" name="password" value="" />

	    <input type="submit" value="Login" />
	</form>


{% endblock %}

{% block javascript %}{% endblock %}