{% extends '_public_base.html' %}

{% block title %} My Clean City - Profile {% endblock %}

{% block css %}
  <link href="{{ STATIC_URL }}css/mycleancity.css" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="wrapper public">
  <div class="clouds"></div>

  {% include "_loggedin_navbar.html" %}  

  <a href="/" class="logo"></a>
  
  <div class="content">
    <div class="container">
      
        <div id="white-box" class="profile">
            <h2>My Organization Profile</h2>
            {% if form.errors %}
               <p>Sorry. that's not a valid username or password</p>
            {% endif %}

            <form action="" method="post">{% csrf_token %}
                {{ form.errors }}
                <table>
                    <tr>
                        <td>{{ form.first_name.label_tag }} {{ form.first_name }}</td>
                        <td>{{ form.email.label_tag }} {{ form.email }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.last_name.label_tag }} {{ form.last_name }}</td>
                        <td>{{ form.organization.label_tag }} {{ form.organization }}</td>
                    </tr>
                </table>
                <input class="btn btn-primary" type="submit" value="Update" />
            </form>
        </div><!-- /#white-box -->
    </div><!-- /.container -->
  </div><!-- /.about -->
</div> <!-- /.wrapper -->
{% include "_footer_navbar.html" %}

{% endblock %}

{% block javascript %}{% endblock %}