{% extends '_public_base.html' %}

{% block title %} My Clean City - Profile {% endblock %}

{% block css %}
  <link href="{{ STATIC_URL }}css/mycleancity.css" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="wrapper public">
  <div class="clouds"></div>

  {% include "_loggedin_navbar.html" %}  

  <a href="/" class="logo"></a>
  
  <div class="content">
    <div class="container">
        <img src="{{ STATIC_URL }}images/tree-stage-1.png" alt="" id="tree-progress">
        <a href="#" onclick="history.go(-1); return false;"><div class="sign profile" id="sign-go-back"></div></a>
        <div id="white-box" class="profile">
            <h2>My Profile</h2>
            {% if form.non_field_errors %}
              <div class="message-box error">
              {{ form.non_field_errors }}
              </div>
            {% endif %}

            <form action="" method="post">{% csrf_token %}
                <table>
                    <tr>
                      <td class="clean-creds"><span class="green bold">Clean</span><span class="blue bold">Creds:</span>&nbsp;{{ user.profile.clean_creds }}</td>
                      <td></td>
                    </tr>
                    <tr>
                        <td>{{ form.first_name.label_tag }} {{ form.first_name }}</td>
                        <td>{{ form.email.label_tag }} {{ form.email }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.last_name.label_tag }} {{ form.last_name }}</td>
                        <td>{{ form.school_type.label }}{{ form.school_type }}</td>
                    </tr>
                    <tr>
                      <td colspan="2">{{ form.about.label_tag }} {{ form.about }}</td>
                    </tr>
                </table>
                <input class="btn btn-primary" type="submit" value="Update" />
            </form>
        </div><!-- /#white-box -->
    </div><!-- /.container -->
  </div><!-- /.about -->
</div> <!-- /.wrapper -->
{% include "_footer_navbar.html" %}

{% endblock %}

{% block javascript %}{% endblock %}