{% extends '_public_base.html' %}

{% block title %} My Clean City - Profile {% endblock %}

{% block css %}
  <link href="{{ STATIC_URL }}css/mycleancity.css" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="wrapper public">
  <div class="clouds"></div>

  {% include "_loggedin_navbar.html" %}  

  <a href="/" class="logo"></a>

  {% load wysiwyg %}
  {% wysiwyg_setup %}
  
  <div class="content">
    <div class="container">
        <!-- <img src="{{ STATIC_URL }}images/tree-stage-1.png" alt="" id="tree-progress"> -->
        <a href="#" onclick="history.go(-1); return false;"><div class="sign profile" id="sign-go-back"></div></a>
        <div id="white-box" class="profile">
            <h2>My Profile</h2>

            {% if form.errors %}
              <div class="message-box error">
              {{ form.errors }}
              </div>
            {% endif %}

            {% if form.non_field_errors %}
              <div class="message-box error">
              {{ form.non_field_errors }}
              </div>
            {% endif %}

            <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
                <table>
                    <tr>
                      <td class="clean-creds"><span class="green bold">Clean</span><span class="blue bold">Creds:</span>&nbsp;{{ user.profile.clean_creds }}</td>
                      <td></td>
                    </tr>
                    <tr>
                        <td>{{ form.first_name.label_tag }} {{ form.first_name }}</td>
                        <td>{{ form.last_name.label_tag }} {{ form.last_name }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.email.label_tag }} {{ form.email }}</td>
                        <td>{{ form.twitter.label_tag }} {{ form.twitter }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.emergency_phone.label_tag }} {{ form.emergency_phone }}</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                          {{ form.picture.label_tag }} {{ form.picture }}
                          <div class="message-box warning">
                            <p>Accepted images include: JPGs, PNGs, and must be smaller than 2MB.</p>
                          </div>
                        </td>
                    </tr>
                    <tr>
                      <td style="padding-top: 10px;" colspan="2">{{ form.about.label_tag }} {{ form.about }}</td>
                    </tr>
                </table>
                <input class="btn btn-primary" type="submit" value="Update" />
            </form>
        </div><!-- /#white-box -->
    </div><!-- /.container -->
  </div><!-- /.about -->
  {% wysiwyg_editor "id_about" %}
</div> <!-- /.wrapper -->
{% include "_footer_navbar.html" %}

{% endblock %}

{% block javascript %}{% endblock %}