{% extends '_public_base.html' %}

{% block title %} My Clean City - Member ID {% endblock %}

{% block css %}
  <link href="{{ STATIC_URL }}css/mycleancity.css" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="wrapper public">
  <div class="clouds"></div>
  
  {% include "_public_navbar.html" %}
  
  <a href="/" class="logo"></a>
  
  <div class="content">
    <div class="container">
        <div id="white-box" class="qr-code">
          <h1>Member ID: {{ user.id }}</h1>
          <img src="{{ MEDIA_URL }}{{ qr_code.qr_image }}" alt="">
        </div><!-- /#white-box -->
    </div><!-- /.container -->
  </div><!-- /.about -->
</div> <!-- /.wrapper -->
{% include "_footer_navbar.html" %}

{% endblock %}

{% block javascript %}{% endblock %}