{% extends '_public_base.html' %}

{% block title %} My Clean City - Success {% endblock %}

{% block css %}
  <link href="{{ STATIC_URL }}css/mycleancity.css" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="wrapper public">
  <div class="clouds"></div>
  
  {% include "_public_navbar.html" %}
  
  <a href="/" class="logo"></a>
  
  <div class="content">
    <div class="container">
      <!-- <div id="buildings"></div>
      <a href="/challenge-centre"></a> -->
      
        <div id="white-box" class="register">
            <p>Thank you your registration has been received and has been sent for approval by our team.We will notify you with next steps once the approval process is complete.
            </p>
            <p>
              Thank you again for your interest in My Clean City.
            </p>
        </div><!-- /#white-box -->
    </div><!-- /.container -->
  </div><!-- /.about -->
</div> <!-- /.wrapper -->
{% include "_footer_navbar.html" %}

{% endblock %}

{% block javascript %}{% endblock %}