{% extends '_public_base.html' %}
{% load i18n %}

{% block title %} My Effect - {%trans "Settings" %} {% endblock %}

{% block css %}
  <link href="{{ STATIC_URL }}css/mycleancity.css" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="wrapper public">
  <div class="clouds"></div>

  {% include "_navbar.html" %}

  <a href="/" class="logo"></a>
  
  <div class="content">
    <div class="container">
        <!-- <img src="{{ STATIC_URL }}images/tree-stage-1.png" alt="" id="tree-progress"> -->
        <a href="#" onclick="history.go(-1); return false;"><div class="sign profile" id="sign-go-back"></div></a>
        <div id="white-box" class="profile">
            <h2>{%trans "My Settings" %}</h2>

            {% if form.errors %}
              <div class="message-box error">
              {{ form.errors }}
              </div>
            {% endif %}

            {% if form.non_field_errors %}
              <div class="message-box error">
              {{ form.non_field_errors }}
              </div>
            {% endif %}

            <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
                <table>
                  <tr>
                      <td>{{ form.communication_language.label_tag }} {{ form.communication_language }}</td>
                  </tr>
                  <tr>
                      <td>{{ form.email_privacy.label_tag }} {{ form.email_privacy }}</td>
                  </tr>
                  <tr>
                      <td>{{ form.data_privacy.label_tag }}
                          <span class="gray-italic-subtitle">{%trans "By unchecking this box, your challenge participation and volunteer hours will not be seen by the organizations you work with." %}</span>
                        {{ form.data_privacy }}
                      </td>
                  </tr>
                  <tr>
                      <td>{{ form.receive_newsletters.label_tag }} {{ form.receive_newsletters }}</td>
                  </tr>
                  <tr>
                      <td style="padding-bottom: 30px;">{{ form.timezone.label_tag }} {{ form.timezone }}</td>
                  </tr>
              </table>
              <input class="btn btn-primary" type="submit" value="Update" />
            </form>
        </div><!-- /#white-box -->
    </div><!-- /.container -->
  </div><!-- /.about -->
</div> <!-- /.wrapper -->
{% include "_footer_navbar.html" %}

{% endblock %}

{% block javascript %}{% endblock %}
